<script>
	var Globo = Globo || {};
    var globoFormbuilderRecaptchaInit = function(){};
    Globo.FormBuilder = Globo.FormBuilder || {};
    Globo.FormBuilder.url = "https://form.globosoftware.net";
    Globo.FormBuilder.shop = {
        settings : {
            reCaptcha : {
                siteKey : ''
            },
            hideWaterMark : false,
            encryptionFormId : true,
            copyright: `Powered by <a href="https://globosoftware.net" target="_blank">Globo</a> <a href="https://apps.shopify.com/form-builder-contact-form" target="_blank">Form</a>`,
            scrollTop: true
        },
        pricing:{
            features:{
                fileUpload : 2,
                removeCopyright : false,
                bulkOrderForm: false,
                cartForm: false,
            }
        },
        configuration: {
            money_format:  "{{ shop.money_format | replace: '"', "'" }}"
        },
        encryption_form_id : true
    };
    Globo.FormBuilder.forms = [];

    {% if customer %}
        Globo.FormBuilder.customer = {
            id : '{{ customer.id }}',
            name : '{{ customer.name }}',
            email : '{{ customer.email }}'
        };
    {% endif %}
    Globo.FormBuilder.page = {
        title : document.title,
        href : window.location.href,
        type: "{{ request.page_type }}"
    };
    Globo.FormBuilder.assetFormUrls = [];
            Globo.FormBuilder.assetFormUrls[79076] = "{{ 'globo.formbuilder.data.79076.js' | asset_url }}";
            
</script>

<link rel="preload" href="{{ 'globo.formbuilder.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ 'globo.formbuilder.css' | asset_url }}"></noscript>
<link rel="stylesheet" href="{{ 'globo.formbuilder.css' | asset_url }}">
{% capture GF_appScript %}{{ 'globo.formbuilder.index.js' | asset_url }}{% endcapture %}
{% assign GF_assetsPath = GF_appScript | split: 'globo.formbuilder.index.js' | first %}
<script>
    Globo.FormBuilder.__webpack_public_path__ = "{{ GF_assetsPath }}"
</script>
<script src="{{GF_appScript}}" defer></script>
