{% capture p_content_align %}{% if settings.p_content_alignment == 'left' %}text-left justify-content-start{% elsif settings.p_content_alignment == 'right' %}text-right justify-content-end{% elsif settings.p_content_alignment == 'center' %}text-center justify-content-center{% endif %}{% endcapture %}


{%- if settings.p_grid == 'grid_1' -%}
{% include 'product-grid-item-1' %}
{%- elsif settings.p_grid == 'grid_2' -%}
{% include 'product-grid-item-2' %}
{%- elsif settings.p_grid == 'grid_3' -%}
{% include 'product-grid-item-3' %}
{%- elsif settings.p_grid == 'grid_4' -%}
{% include 'product-grid-item-4' %}
{%- elsif settings.p_grid == 'grid_5' -%}
{% include 'product-grid-item-5' %}
{%- elsif settings.p_grid == 'grid_6' -%}
{% include 'product-grid-item-6' %}
{%- elsif settings.p_grid == 'grid_7' -%}
{% include 'product-grid-item-7' %}
{%- elsif settings.p_grid == 'grid_8' -%}
{% include 'product-grid-item-8' %}
{%- elsif settings.p_grid == 'grid_9' -%}
{% include 'product-grid-item-9' %}
{%- elsif settings.p_grid == 'grid_10' -%}
{% include 'product-grid-item-10' %}
{%- endif -%}




                
                
