{%- assign on_sale = false -%}{%- if product.variants.first.compare_at_price > product.variants.first.price -%}{%- assign on_sale = true -%}{%- endif -%}
{%- assign sold_out = true -%}{%- if product.available -%}{%- assign sold_out = false -%}{%- endif -%}
{%- assign variant = product.selected_or_first_available_variant -%}
{%- if product.available -%}{%- assign func = "Shopify.addItem(" | append: variant.id | append: ", 1)" -%}{%- endif -%}

<div class="{{ variant.id }} shop-list-wrap shop-list-mrg mb-30 ht-product-countdown-fill product-wrapper-class">
  <div class="row">
    <div class="col-lg-4 col-md-5">
      <div class="product-list-img product-color">
        <a href="{{ product.url | within: collection }}"> 
          <img class="popup_cart_image" src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt }}">
        </a>
        {%- include 'product-countdown' -%}
        {%- if settings.product_quickview_enalbe -%}
        <div class="product-quickview">          
          <a href="javascript:void(0);" 
             onclick="quiqview('{{ product.handle | handleize }}')"
             data-toggle="modal" 
             data-target="#exampleModal">
            <i class="sli sli-magnifier-add"></i>
          </a>
        </div>
        {%- endif -%}
        {%- if settings.show_product_badge -%}
        {%- include 'product-badge' -%}
        {%- endif -%}
        
        	{%- include 'grid-color-img-swatch' -%}
        
      </div>
    </div>
    <div class="col-lg-8 col-md-7 align-self-center pad_tb">
      <div class="row">
        <div class="col-lg-7 col-md-12">
          <div class="shop-list-content">
            <h3 class="popup_cart_title"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h3>
            {%- if settings.show_product_type -%}
            <span>{{ product.type }}</span>
            {%- endif -%}
            <div class="ht-product-list-price">
              <span class="new">{{ product.variants.first.price | money }}</span>
              {%- if product.variants.first.compare_at_price > product.variants.first.price -%}
              <span class="old">{{ product.variants.first.compare_at_price | money }}</span>
              {%- endif -%}
            </div>
            {%- if settings.show_product_review -%}
            <div class="ht-product-list-ratting spr-badge-caption-none">
              <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
            </div>
            {%- endif -%}
            {%- include 'product-list-action' -%}
          </div>
        </div>
        <div class="col-lg-5 col-md-12">
          <div class="shop-list-paragraph">
            {%- if product.description contains '[short_description]' -%}            
            {%- assign short_description_first = product.description | split:'[/short_description]' | first -%}
            {%- assign short_description_final = short_description_first | split:'[short_description]' | last -%}
            {{ short_description_final }}
            {%- else -%}
            <p>
              {{ product.description | truncatewords: 40 | split: '[info_1]' | first | split: '[info_2]' | first | split: '[info_3]' | first | split: '[info_4]' | first | split: '[info_5]' | first | split: '[info_6]' | first | split: '[info_7]' | first | split: '[info_8]' | first | split: '[info_9]' | first | split: '[info_10]' | first | split: '[countdown]' | first | split: '[affiliate_link]' | first | split: '[product_video]' | first | split: '[short_description]' | first | split: '[product_description]' | first | split: '[more_info]' | first }}
            </p>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>