<div class="pro-details-cart btn-hover product-cart-action">
  {%- if product.available -%}
  {%- if settings.product_cart_type == 'ajax_spin_cart' -%}
  <button type="submit" class="ajax-spin-cart sp_cart_btn" id="AddToCart">
    <span class="cart-title" id="AddToCartText">{{ settings.cart_button_title }}</span>
    <span class="cart-loading">{{ settings.wait_title }}</span>
    <span class="cart-added">{{ settings.added_title }}</span>
    <span class="cart-unavailable">{{ settings.unavailable_title }}</span>
  </button>
  {%- elsif settings.product_cart_type == 'ajax_popup_cart' or settings.product_cart_type == 'without_ajax_cart' -%}
  <button type="submit" id="AddToCart" class="sp_cart_btn">
    <span class="cart-title" id="AddToCartText">{{ settings.cart_button_title }}</span>
  </button>
<!--    -->
<!--   <a class="sp_cart_btn" href="https://prometheusindustries.co/pages/form">I Want To Test</a> -->
<!--    -->
  {%- endif -%}
  {%- unless settings.product_cart_type == 'without_ajax_cart' -%}
  <script>
    jQuery('#AddToCart').click(function(e) {
      e.preventDefault();
      Shopify.addItemFromFormStart('AddToCartForm', {{ product.id }});
                                   }); 
  </script>
  {%- endunless -%}
  {%- else -%}
  <button class="cart-disable sp_cart_btn" type="button">
    <span class="cart-text">{{ settings.soldout_button_title }}</span>
  </button>

  {%- endif -%}
</div>