<script type="text/javascript" src="{{ 'globorequestforquote_params.min.js' | asset_url }}" ></script>
<script type="text/javascript">
    var GRFQConfigs = GRFQConfigs || {};
    GRFQConfigs.customer = {
        'id': '{{customer.id}}',
        'email': '{{customer.email}}',
        'name': '{{customer.name}}'
    };
    GRFQConfigs.pageempty = "Your quote is currently empty."
    GRFQConfigs.product = {{ product | json }};
    {% if product %}        GRFQConfigs.product.selected_or_first_available_variant = {{ product.selected_or_first_available_variant | json }};        {% endif %}    GRFQConfigs.cartItems = [];
    {% for item in cart.items %};
    var item = {};
    item = {{ item | json }};;
    item.product = {{ item.product | json }};;
    {% for collection in item.product.collections %};
    if(typeof item.product['collection'] === 'undefined') 
                item.product['collection'] = []; 
            item.product['collection'].push('{{ collection.id }}'); 
    {% endfor %}    GRFQConfigs.cartItems.push(item);
    {% endfor %}    if(typeof GRFQConfigs.lang_translations.find(x => x.code == Shopify.locale) != "undefined"){
        GRFQConfigs.translations = GRFQConfigs.lang_translations.find(x => x.code == Shopify.locale);
    }else{
        GRFQConfigs.translations = GRFQConfigs.translation_default;
    }
</script>
<script type="text/javascript" src="{{ 'globorequestforquote.min.js' | asset_url }}" defer="defer"></script>
{% for collection in product.collections %}    <script> 
        if(typeof GRFQConfigs.product['collection'] === 'undefined') 
            GRFQConfigs.product['collection'] = []; 
        GRFQConfigs.product['collection'].push('{{ collection.id }}'); 
    </script> 
{% endfor %}
{{ 'globorequestforquote.css' | asset_url | stylesheet_tag }}<style>
    .rfq-btn{
        background: ;
        color: ;
        font-size: px;
    }
</style>