<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="size_guide" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-end">
        <button type="button" data-dismiss="modal" aria-label="Close"><i class="sli sli-close"></i> </button>
      </div>
      <div class="modal-body">
        {%- assign sizepagehandle = pages[section.settings.sizeguidhandle].content -%}
        {%- if sizepagehandle != empty -%}
        {{ sizepagehandle }}
        {%- else -%}
        <div class="table-responsive">
          <table class="table-size-guide table-center">
            <tbody>
              <tr>
                <th>INTERNATIONAL</th>
                <th>XS</th>
                <th>S</th>
                <th>M</th>
                <th>L</th>
                <th>XL</th>
                <th>XXL</th>
                <th>XXXL</th>
              </tr>
              <tr>
                <td>EUROPE</td>
                <td>32</td>
                <td>34</td>
                <td>36</td>
                <td>38</td>
                <td>40</td>
                <td>42</td>
                <td>44</td>
              </tr>
              <tr>
                <td>US</td>
                <td>0</td>
                <td>2</td>
                <td>4</td>
                <td>6</td>
                <td>8</td>
                <td>10</td>
                <td>12</td>
              </tr>
              <tr>
                <td>CHEST FIT (INCHES)</td>
                <td>28"</td>
                <td>30"</td>
                <td>32"</td>
                <td>34"</td>
                <td>36"</td>
                <td>38"</td>
                <td>40"</td>
              </tr>
              <tr>
                <td>CHEST FIT (CM)</td>
                <td>716</td>
                <td>76</td>
                <td>81</td>
                <td>86</td>
                <td>91.5</td>
                <td>96.5</td>
                <td>101.1</td>
              </tr>
              <tr>
                <td>WAIST FIR (INCHES)</td>
                <td>21"</td>
                <td>23"</td>
                <td>25"</td>
                <td>27"</td>
                <td>29"</td>
                <td>31"</td>
                <td>33"</td>
              </tr>
              <tr>
                <td>WAIST FIR (CM)</td>
                <td>53.5</td>
                <td>58.5</td>
                <td>63.5</td>
                <td>68.5</td>
                <td>74</td>
                <td>79</td>
                <td>84</td>
              </tr>
              <tr>
                <td>HIPS FIR (INCHES)</td>
                <td>33"</td>
                <td>34"</td>
                <td>36"</td>
                <td>38"</td>
                <td>40"</td>
                <td>42"</td>
                <td>44"</td>
              </tr>
              <tr>
                <td>HIPS FIR (CM)</td>
                <td>81.5</td>
                <td>86.5</td>
                <td>91.5</td>
                <td>96.5</td>
                <td>101</td>
                <td>106.5</td>
                <td>111.5</td>
              </tr>
              <tr>
                <td>SKORT LENGTHS (SM)</td>
                <td>36.5</td>
                <td>38</td>
                <td>39.5</td>
                <td>41</td>
                <td>42.5</td>
                <td>44</td>
                <td>45.5</td>
              </tr>
            </tbody>
          </table>
        </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>