<div class="product_gallery_wrapper">
  <div class="product-details-img">
    <div class="zoompro-border zoompro-span" id="ProductPhoto">
      {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
      <img id="ProductPhotoImg" class="{% if section.settings.product_zoom_enable %}product-zoom{% endif %} product_variant_image" 
           data-image-id="{{ image.id }}" alt="{{ featured_image.alt | escape }}" 
           data-zoom-image="{{ featured_image | img_url: '1024x1024' }}" 
           src="{{ featured_image | img_url: '1024x1024' }}">

      {% if settings.show_product_badge %}
      {% include 'product-badge' %}
      {% endif %}
            
      {% if section.settings.show_video and product.description contains '[product_video]' %}
      {% assign product_video_first = product.description | split:'[/product_video]' | first %}
      {% assign product_video_final = product_video_first | split:'[product_video]' | last %}
      <div class="product-video">
        <a class="video-popup magni_video_pop" href="https://www.youtube.com/watch?v={{ product_video_final }}">          
          {% if section.settings.show_video_icon %}
          <i class="sli sli-control-play"></i>{% endif %}
          
          {% if section.settings.video_btn != '' %}
          {{ section.settings.video_btn }}{% endif %}
        </a>
      </div>
      {% endif %}
      
    </div>

    {% if product.images.size > 1 %}
    <div id="ProductThumbs" class="mt-20 product-dec-slider">
      {%- for image in product.images -%}
      <a class="product-single__thumbnail{% if forloop.first == true %} active{% endif %}" 
         href="{{ image.src | img_url: '1024x1024' }}" 
         data-image="{{ image.src | img_url: '1024x1024' }}" 
         data-zoom-image="{{ image.src | img_url: '1024x1024' }}" 
         data-image-id="{{ image.id }}">
        <img src="{{ image | img_url: 'medium' }}" alt="{{ product.image.alt | escape }}">
      </a>
      {%- endfor -%}
    </div>
    {% endif %}

    {% if section.settings.meta_desc_title != blank and section.settings.meta_desc_content != blank %}
      <div class="meta_desc hide--mobile">
        <div class="meta_desc_title">{{ section.settings.meta_desc_title }}</div>
        <div class="meta_desc_content">{{ section.settings.meta_desc_content }}</div>
      </div>
    {% endif %}

  </div>
</div>

<div class="product_info_wrapper">
  <div class="product-details-content">
    {% include 'single-product-description' %}
  </div>
</div>