<div class="top-notification-bar">
  <div class="{% if settings.section_width == 'full_width' %}container-fluid {% elsif settings.section_width == 'box_width' %}container-fluid section-padding-1{% elsif settings.section_width == 'default' %}container default {% endif %}">
   
    <div class="row">
      <div class="notification-entry col-12">

        <div class="notification_text">
          {{ settings.notification_text }}
          {% if settings.notification_button_name != '' %}
          <p><a class="notification-button" href="{{ settings.notification_button_url }}">{{ settings.notification_button_name }}</a></p>
          {% endif %}
          <button class="notification-close-btn">X</button>
        </div>



      <div class="top_bar_social">
        {%- if settings.show_fb -%}
        <a href="{{ settings.fb_url }}">
          <i class="sli sli-social-facebook"></i>
        </a>
        {%- endif -%}

        {%- if settings.show_twitter -%}
        <a href="{{ settings.twitter_url }}">
          <i class="sli sli-social-twitter"></i>
        </a>
        {%- endif -%}

        {%- if settings.show_instagram -%}
        <a href="{{ settings.instagram_url }}">
          <i class="sli sli-social-instagram"></i>
        </a>
        {%- endif -%}
        
        {%- if settings.show_youtube -%}
        <a href="{{ settings.youtube_url }}">
          <i class="sli sli-social-youtube"></i>
        </a>
        {%- endif -%}
        
      </div>
        
        
      </div>
    </div>
  </div>
</div>


<script>
  var nToggle = $('.notification-close-btn');
  nToggle.on('click', function(){
    $('.top-notification-bar').slideToggle();
  })
</script>