<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->

<head>
  <!-- Basic and Helper page needs -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon != blank -%}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  <!-- Title and description -->
  {% capture seo_title %}
  {{ page_title }}
  {% if current_tags %}
  {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
  {% endif %}
  {% if current_page != 1 %}
  &ndash; {{ 'general.meta.page' | t: page: current_page }}
  {% endif %}
  {% unless page_title contains shop.name %}
  &ndash; {{ shop.name }}
  {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  <!-- Helpers -->
  {% include 'social-meta-tags' %}

  <!-- CSS -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {%- include 'header-css' -%}

  <!-- Header hook for plugins -->
  {{ content_for_header }}
  {% include 'oldIE-js' %}
  <!-- JS -->
  {%- include 'header-js' -%}

  {% if template contains 'customers' %}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}
{% render "rale-render" %}
	{% include 'rfq_script' %}

{% include 'globo.formbuilder.scripts' %}
</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template.name | handle }}">

  {%- if settings.enable_preloader -%}
  {% include 'preloader' %} 
  {%- endif -%}

  {%- if template == 'index' and settings.newsletter_popup_enable -%}
  {% include 'newsletter-popup' %}
  {%- endif -%}

  <div class="wrapper">

    {%- if settings.topbar_notification_enable -%}
    {%- if settings.topbar_notification == 'topbar_in_index' and template == 'index' -%}
    {% include 'top-notification-bar' %}
    {%- elsif settings.topbar_notification == 'topbar_in_template' -%}
    {% include 'top-notification-bar' %}
    {%- endif -%}
    {%- endif -%}

    {% section 'header' %}

    {%- if template != 'index' and settings.breadcrumb_banner_enable -%}
    {% include 'breadcrumb-banner' %}
    {% section 'breadcrumb' %}
    {%- endif -%}

    <main>
      {{ content_for_layout }}
    </main>

    <footer class="footer-area">
      {% include 'footer-top' %}
      {% section 'footer-bottom' %}
    </footer>
    
    {%- if settings.recommended_settings_enable -%}
    {%- section 'recommended' -%}
    {%- endif -%}
    
    <!-- Necessary JS -->
    {% include 'footer-js' %}
    
    {% include 'compare-popup' %}

  </div>

{% if template contains "product" %}{% include "product-personalizer" %}{% endif %}
  
  

  {% if template contains 'product' %}
  {{ '//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js' | script_tag }}
  {{ 'jquery.products.min.js' | asset_url | script_tag }}
  <script>
    Shopify.Products.recordRecentlyViewed();
  </script>
  {% endif %}

</body>
</html>
