<div class="best_collection_area" id="section-{{ section.id }}" data-section="Best_Collection">
  
  
  
  
    {%- capture data_slick_activation -%}
    data-slick='{
  
    "infinite": true,
    "slidesToShow": {{section.settings.product_column_handle}},
    "slidesToScroll": 1,
    {% if section.settings.tab_arsoule_arrow_enable %}
    	"arrows": true,
    	"prevArrow": "<span class=&#x27;product-dec-icon product-dec-prev&#x27;><i class=&#x27;sli sli-arrow-left&#x27;></i></span>",
    	"nextArrow": "<span class=&#x27;product-dec-icon product-dec-next&#x27;><i class=&#x27;sli sli-arrow-right&#x27;></i></span>",
    {%else%}
    	"arrows": false,
    {%endif%}
    
    "responsive": [{
    "breakpoint": 1200,
    "settings": {
    "slidesToShow": {{section.settings.product_column_handle}},
    "slidesToScroll": 1
    }
    },
    {
      "breakpoint": 1199,
      "settings": {
      "slidesToShow": {{section.settings.product_column_handle}},
      "slidesToScroll": 1
      }
    },
    {
      "breakpoint": 991,
      "settings": {
      "slidesToShow": {{section.settings.product_column_handle_md}},
      "slidesToScroll": 1
      }
    },
    {
      "breakpoint": 767,
      "settings": {
      "slidesToShow": {{section.settings.product_column_handle_sm}},
      "slidesToScroll": 1
      }
    },
    {
      "breakpoint": 575,
      "settings": {
      "slidesToShow": 1,
      "slidesToScroll": 1
      }
    }
    ] 

    }'  
  
    {%- endcapture -%}
  
  
  
  
  
  <div class="{% if section.settings.section_width == 'full_width' %}container-fluid {% elsif section.settings.section_width == 'box_width' %}container-fluid section-padding-1{% elsif section.settings.section_width == 'default' %}container default {% endif %}">
     
    {% if section.settings.section_title != '' or section.settings.section_sub_title != '' %}
    <div class="section-title {{ section.settings.title_align }} pb-60">
      {% if section.settings.section_title != '' %}
      <h2>{{ section.settings.section_title }}</h2>
      {% endif %}

      {% if section.settings.section_sub_title != '' %}
      <p>{{ section.settings.section_sub_title }}</p>
      {% endif %}
    </div>
    {% endif %}
    
    <div class="{% if section.settings.tab_arsoule_active %} blog-slider-active carsoule_arrow_style {% endif %}row" {{ data_slick_activation }}>
      {%- for block in section.blocks -%}{%- case block.type -%}
      {%- when 'banner' -%}{%- assign bset = block.settings -%}
      <div class="{% if section.settings.tab_arsoule_active %}col-md-12 {% else %} col-lg-{{section.settings.product_column_handle}} col-md-{{section.settings.product_column_handle_md}} col-sm-{{section.settings.product_column_handle_sm}} col-12 {% endif %} block_{{ block.id }}">
        
        <div class="single_collection mb-30 {{ bset.content_align }}">
          
          
          <a href="{{ bset.btn1_url }}">
            
            {%- if bset.service_icon != '' -%}            
            <i class="{{ bset.service_icon }}"></i> 
            
            {%- elsif bset.img1 -%}
            <img src="{{ bset.img1 | img_url: 'master' }}" alt="{{ image.alt }}">
            
            {%- else -%}
            <img src="https://via.placeholder.com/225x230" alt="{{ image.alt }}">
            {%- endif -%}            
            
          </a>
          
          
          
          <div class="banner-common best-coll-content">
            {%- if bset.t1 != '' -%}
            <h4 class="multi_top"><a class="ban_btn1"  href="{{ bset.btn1_url }}">{{ bset.t1 }}</a></h4>
            {%- endif -%}

            {%- if bset.t2 != '' -%}
            <p class="multi_bottom" >{{ bset.t2 }}</p>
            {%- endif -%}

            {%- if bset.btn1 != '' -%}
            <a class="ban_btn1"  href="{{ bset.btn1_url }}">{{ bset.btn1 }}</a>
            {%- endif -%}
          </div>
        </div>
                  
        {% if block.settings.banner_custom_color %}
          {% style %}

          .best_collection_area .block_{{ block.id }} .single_collection .banner-common .multi_top a{
          color: {{ bset.t1_color }};
          }
          .best_collection_area .block_{{ block.id }} .single_collection .banner-common .multi_top a:hover{
          color: {{ bset.t1_color_hover }};
          }
        
          .best_collection_area .block_{{ block.id }} .single_collection .banner-common .multi_bottom{
          color: {{ bset.t2_color }};
          }

          .best_collection_area .block_{{ block.id }} .single_collection i {
          	font-size: {{ bset.icon_font_size }}px;
          	color: {{ bset.ft_icon_color }}
          }

          {% endstyle %}
        {% endif %}
        
      </div>
      {%- endcase -%}{%- endfor -%}
    </div>
  </div>
</div>
{%- include 'section-style' -%}


{% if section.settings.section_title_custom_color %}
<style>
  #section-{{ section.id }} .section-title h2{
    color: {{ section.settings.section_title_color }};
    font-size:{{ section.settings.section_title_font_size }}px;
  }

  #section-{{ section.id }} .section-title p{
    color: {{ section.settings.section_subtitle_color }};
    font-size:{{ section.settings.section_des_font_size }}px;
  }
  #section-{{ section.id }}.best_collection_area .single_collection img {
    border-radius: {{ section.settings.img_border_radius }}px;
  }
</style>
{% endif %}



{% if section.settings.section_title_custom_color %}
<style>
  
  {%- assign section_title_font = section.settings.section_title_font -%}
  {%- assign section_sub_title_font = section.settings.section_sub_title_font -%}
  {{ section_title_font | font_face }}
  {{ section_sub_title_font | font_face }}
  
  
  #section-{{ section.id }} .section-title h2{
    font-family: {{ section_title_font.family }}, {{ section_title_font.fallback_families }};
    font-style: {{ section_title_font.style }};
    font-weight: {{ section_title_font.weight }};
    color: {{ section.settings.section_title_color }};
    font-size:{{ section.settings.section_title_font_size }}px;
    line-height: {{section.settings.section_title_line_height}}px;
    margin-bottom: {{section.settings.section_title_margin_bottom}}px;
  }
  
  #section-{{ section.id }} .section-title p{
    font-family: {{ section_sub_title_font.family }}, {{ section_sub_title_font.fallback_families }};
    font-style: {{ section_sub_title_font.style }};
    font-weight: {{ section_sub_title_font.weight }};
    color: {{ section.settings.section_subtitle_color }};
    font-size:{{ section.settings.section_des_font_size }}px;
    line-height: {{section.settings.section_sub_title_line_height}}px;
    margin-bottom: {{section.settings.section_sub_title_margin_bottom}}px;
  }
  
  
  @media (min-width: 768px) and (max-width: 1200px) {

    #section-{{ section.id }} .section-title h2{
      font-size:{{ section.settings.section_title_font_size_md }}px;
      line-height: {{section.settings.section_title_line_height_md}}px;
    }
    #section-{{ section.id }} .section-title p{
      font-size:{{ section.settings.section_des_font_size_md }}px;
      line-height: {{section.settings.section_sub_title_line_height_md}}px;
    }
  }

  @media (min-width: 300px) and (max-width: 767px) {    
    
    #section-{{ section.id }} .section-title h2{
      font-size:{{ section.settings.section_title_font_size_sm }}px;
      line-height: {{section.settings.section_title_line_height_sm}}px;
    }
    #section-{{ section.id }} .section-title p{
      font-size:{{ section.settings.section_des_font_size_sm }}px;
      line-height: {{section.settings.section_sub_title_line_height_sm}}px;
    }
  }

</style>
{% endif %}




{% schema %}
  {
    "name": "Best Collections",
    "settings": [
              {
                "type": "select",
                "id": "section_width",
                "label": "Section Width",
                "options":[
                      {
                          "label": "Full Width",
                          "value": "full_width"
                      },
                      {
                          "label": "Box Width",
                          "value": "box_width"
                      },
                      {
                          "label": "Default Width",
                          "value": "default"
                      }
                  ],
                  "default": "default"
              },

		{
			"type": "header",
            "content": "Section Title"
        },

        {
          "type": "checkbox",
          "id": "section_title_custom_color",
          "label": "Section Title Custom Style Enable",
          "default": false
        },

		{
            "type": "text",
            "id": "section_title",
            "label": "Title",
            "default": "New Arrivals"
        },

        {
          "type": "color",
          "id": "section_title_color",
          "label": "Title Color",
          "default": "#1f2226"
        },
          {
            "type": "font_picker",
            "id": "section_title_font",
            "label": "Font Family: Section Title Font",
            "default": "poppins_n6"
          },
          {
              "type": "header",
              "content": "Main Screen"
          },
          {
            "type": "text",
            "id": "section_title_font_size",
            "label": "Font Size: Font Size",
            "default": "30",
            "info": "Section Title Font Size"
          }, 
          {
            "type":      "range",
            "id":        "section_title_line_height",
            "min":       20,
            "max":        150,
            "step":       5,
            "unit":       "px",
            "label":     "Section Title Line Height",
            "default":   40
          },
          {
              "type": "header",
              "content": "Medium Screen"
          },
          {
            "type": "text",
            "id": "section_title_font_size_md",
            "label": "Font Size: Font Size (MD)",
            "default": "24",
            "info": "Section Title Font Size"
          }, 
          {
            "type":      "range",
            "id":        "section_title_line_height_md",
            "min":       20,
            "max":        150,
            "step":       5,
            "unit":       "px",
            "label":     "Section Title Line Height (MD)",
            "default":   35
          },
          {
              "type": "header",
              "content": "Small Screen"
          },
          {
            "type": "text",
            "id": "section_title_font_size_sm",
            "label": "Font Size: Font Size (SM)",
            "default": "20",
            "info": "Section Title Font Size"
          }, 
          {
            "type":      "range",
            "id":        "section_title_line_height_sm",
            "min":       20,
            "max":        150,
            "step":       5,
            "unit":       "px",
            "label":     "Section Title Line Height (SM)",
            "default":   30
          },
          {
            "type":      "range",
            "id":        "section_title_margin_bottom",
            "min":       0,
            "max":        50,
            "step":       1,
            "unit":       "px",
            "label":     "Section Title margin Bottom",
            "default":   10
          },


		{
            "type": "textarea",
            "id": "section_sub_title",
            "label": "Subtitle",
            "default": "Contrary to popular belief, Lorem Ipsum is not simply random text."
        },

        {
          "type": "color",
          "id": "section_subtitle_color",
          "label": "Subtitle Color",
          "default": "#5a5a5a"
        },	
          {
            "type": "font_picker",
            "id": "section_sub_title_font",
            "label": "Font Family: Section Sub Title Font",
            "default": "poppins_n6"
          },
          {
              "type": "header",
              "content": "Main Screen"
          },
          {
            "type": "text",
            "id": "section_des_font_size",
            "label": "Font Size: Font Size",
            "default": "14",
            "info": "Section Description Font Size"
          },
          {
            "type":      "range",
            "id":        "section_sub_title_line_height",
            "min":       20,
            "max":        100,
            "step":       1,
            "unit":       "px",
            "label":     "Section Sub Title Line Height",
            "default":   24
          },
          {
              "type": "header",
              "content": "Medium Screen"
          },
          {
            "type": "text",
            "id": "section_des_font_size_md",
            "label": "Font Size: Font Size (MD)",
            "default": "14",
            "info": "Section Description Font Size (MD)"
          },
          {
            "type":      "range",
            "id":        "section_sub_title_line_height_md",
            "min":       20,
            "max":        100,
            "step":       1,
            "unit":       "px",
            "label":     "Section Sub Title Line Height (MD)",
            "default":   24
          },

          {
              "type": "header",
              "content": "Small Screen"
          },
          {
            "type": "text",
            "id": "section_des_font_size_sm",
            "label": "Font Size: Font Size (SM)",
            "default": "14",
            "info": "Section Description Font Size (SM)"
          },
          {
            "type":      "range",
            "id":        "section_sub_title_line_height_sm",
            "min":       20,
            "max":        100,
            "step":       1,
            "unit":       "px",
            "label":     "Section Sub Title Line Height (SM)",
            "default":   24
          },
          {
            "type":      "range",
            "id":        "section_sub_title_margin_bottom",
            "min":       0,
            "max":        50,
            "step":       1,
            "unit":       "px",
            "label":     "Section Sub Title margin Bottom",
            "default":   10
          },

		{
                "type": "select",
                "id": "title_align",
                "label": "Title Align",
                "options":[
                      {
                          "label": "Text Left",
                          "value": "text-left"
                      },
                      {
                          "label": "Text Center",
                          "value": "text-center"
                      },
                      {
                          "label": "Text Right",
                          "value": "text-right"
                      }
                  ],
                  "default": "text-center"
              },        
             

		{
            "type": "checkbox",
            "id": "tab_arsoule_active",
            "label": "Active Carsoule",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "tab_arsoule_arrow_enable",
            "label": "Carsoule Arrow Enable",
            "default": true
        },
		{
          "type": "select",
          "id": "product_column_handle",
          "label": "Product Column",
		  "options":[
				{
                    "label": "2",
                    "value": "2"
                },
                {
                    "label": "3",
                    "value": "3"
                },
                {
                    "label": "4",
                    "value": "4"
                },
                {
                    "label": "5",
                    "value": "5"
                },
                {
                    "label": "6",
                    "value": "6"
                }
			],
			"default": "3"
      	},
		{
          "type": "select",
          "id": "product_column_handle_md",
          "label": "Product Column (Medium)",
		  "options":[
				{
                    "label": "2",
                    "value": "2"
                },
                {
                    "label": "3",
                    "value": "3"
                },
                {
                    "label": "4",
                    "value": "4"
                },
                {
                    "label": "5",
                    "value": "5"
                },
                {
                    "label": "6",
                    "value": "6"
                }
			],
			"default": "4"
      	},
		{
          "type": "select",
          "id": "product_column_handle_sm",
          "label": "Product Column (Tablet)",
		  "options":[
				{
                    "label": "2",
                    "value": "2"
                },
                {
                    "label": "3",
                    "value": "3"
                },
                {
                    "label": "4",
                    "value": "4"
                },
                {
                    "label": "5",
                    "value": "5"
                },
                {
                    "label": "6",
                    "value": "6"
                }
			],
			"default": "6"
      	},
        {
          "type": "range",
          "id": "img_border_radius",
          "min": 0,
          "max": 200,
          "step": 2,
          "label": "Image Border Radius",
          "unit": "px",
          "default": 0
        }

],
	"blocks":[
	   {
          "type": "banner",
          "name": "Banner",
          "settings": [

              {
                "type": "select",
                "id": "content_align",
                "label": "Content Align",
                "options":[
                      {
                          "label": "Text Left",
                          "value": "text-left"
                      },
                      {
                          "label": "Text Center",
                          "value": "text-center"
                      },
                      {
                          "label": "Text Right",
                          "value": "text-right"
                      }
                  ],
                  "default": "text-center"
              },
              {
                "type": "text",
                "id": "service_icon",
                "label": "Icon",
                "default": "sli sli-magnifier"
              },
              {
                "type": "text",
                "id": "icon_font_size",
                "label": "Font Size: Font Size",
                "default": "30",
                "info": "Icon Font Size"
              },  
              {
                  "type": "image_picker",
                  "id": "img1",
                  "label": "Image"
              },
              {
                  "type": "text",
                  "id": "t1",
                  "label": "Title 1",
                  "default": "BLACK FRIDAY"
              },
              {
                  "type": "textarea",
                  "id": "t2",
                  "label": "Title 2",
                  "default": "Wall Lighting Black."
              },
              {
                  "type": "url",
                  "id": "btn1_url",
                  "label": "URL",
                  "default": "\/collections\/all"
              },
              {
                  "type": "checkbox",
                  "id": "banner_custom_color",
                  "label": "Banner Custom Style Enable",
                  "default": false
              },
                {
                    "type": "color",
                    "id": "ft_icon_color",
                    "label": "Icon Color",
                    "default": "#757575"
                },
              {
                  "type": "color",
                  "id": "t1_color",
                  "label": "Title 1 Color",
                  "default": "#1f2226"
              },
              {
                  "type": "color",
                  "id": "t1_color_hover",
                  "label": "Text Hover Color",
                  "default": "#1f2226"
              },
              {
                  "type": "color",
                  "id": "t2_color",
                  "label": "Title 2 Color",
                  "default": "#1f2226"
              }

          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 65
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 45
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 50
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 30
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Best Collections",
		  "category": "2. Banner",
		  "blocks":[
				{
					"type": "banner"
				},
				{
					"type": "banner"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
