<div class="banner-area" id="section-{{ section.id }}">
  <div class="{% if section.settings.section_width == 'full_width' %}container-fluid {% elsif section.settings.section_width == 'box_width' %}container-fluid section-padding-1{% elsif section.settings.section_width == 'default' %}container default {% endif %}">
    
    {% if section.settings.section_title != '' or section.settings.section_sub_title != '' %}
    <div class="section-title {{ section.settings.title_align }} pb-60">
      {% if section.settings.section_title != '' %}
      <h2>{{ section.settings.section_title }}</h2>
      {% endif %}

      {% if section.settings.section_sub_title != '' %}
      <p>{{ section.settings.section_sub_title }}</p>
      {% endif %}
    </div>
    {% endif %}

    
    
    <div class="row custom_margin_row">
      {%- for block in section.blocks -%}{%- case block.type -%}
      {%- when 'banner' -%}{%- assign bset = block.settings -%}
      <div class="col-lg-{{ bset.ban_col }} col-md-{{ bset.ban_col }} custom_margin_col">
        {%- if bset.enable_left_pad -%}
        <div class="banner-h3-wrap pl-100 scroll-zoom">{%- endif -%}
          <div class="single-banner mb-30">
            <a href="{{ bset.btn1_url }}">
              {%- if bset.img1 -%}
              <img class="animated" src="{{ bset.img1 | img_url: 'master' }}" alt="{{ image.alt }}">              
              {%- else -%}
              <img class="animated" src="https://via.placeholder.com/570x550" alt="{{ image.alt }}">
              {%- endif -%}
            </a>
            {%- if bset.t1 != '' -%}
            <div class="banner-content-4 banner-position-{% if bset.text1_p == 'style_1' %}8{% elsif bset.text1_p == 'style_2' %}9{% endif %}">
              <h3 style="color:{{ bset.t1_color }};">{{ bset.t1 }}</h3>
            </div>
            {%- endif -%}
          </div>

          {%- if bset.show_img2 -%}
          <div class="single-banner mb-30 scroll-zoom">
            <a href="{{ bset.btn2_url }}">
              {%- if bset.img2 -%}
              <img class="animated" src="{{ bset.img2 | img_url: 'master' }}" alt="{{ image.alt }}">              
              {%- else -%}
              <img class="animated" src="https://via.placeholder.com/570x550" alt="{{ image.alt }}">
              {%- endif -%}
            </a>

            {%- if bset.t3 != '' -%}
            <div class="banner-content-4 banner-position-{% if bset.text2_p == 'style_1' %}8{% elsif bset.text2_p == 'style_2' %}9{% endif %}">
              <h3 style="color:{{ bset.t3_color }};">{{ bset.t3 }}</h3>
            </div>
            {%- endif -%}
          </div>
          {%- endif -%}
          {%- if bset.enable_left_pad -%}
        </div>
        {%- endif -%}
      </div>
      {%- endcase -%}{%- endfor -%}
    </div>
  </div>
</div>



{% if section.settings.section_title_custom_color %}
<style>
  
  {%- assign section_title_font = section.settings.section_title_font -%}
  {%- assign section_sub_title_font = section.settings.section_sub_title_font -%}
  {{ section_title_font | font_face }}
  {{ section_sub_title_font | font_face }}
  
  
  #section-{{ section.id }} .section-title h2{
    font-family: {{ section_title_font.family }}, {{ section_title_font.fallback_families }};
    font-style: {{ section_title_font.style }};
    font-weight: {{ section_title_font.weight }};
    color: {{ section.settings.section_title_color }};
    font-size:{{ section.settings.section_title_font_size }}px;
    line-height: {{section.settings.section_title_line_height}}px;
    margin-bottom: {{section.settings.section_title_margin_bottom}}px;
  }
  
  #section-{{ section.id }} .section-title p{
    font-family: {{ section_sub_title_font.family }}, {{ section_sub_title_font.fallback_families }};
    font-style: {{ section_sub_title_font.style }};
    font-weight: {{ section_sub_title_font.weight }};
    color: {{ section.settings.section_subtitle_color }};
    font-size:{{ section.settings.section_des_font_size }}px;
    line-height: {{section.settings.section_sub_title_line_height}}px;
    margin-bottom: {{section.settings.section_sub_title_margin_bottom}}px;
  }
  
  
  @media (min-width: 768px) and (max-width: 1200px) {

    #section-{{ section.id }} .section-title h2{
      font-size:{{ section.settings.section_title_font_size_md }}px;
      line-height: {{section.settings.section_title_line_height_md}}px;
    }
    #section-{{ section.id }} .section-title p{
      font-size:{{ section.settings.section_des_font_size_md }}px;
      line-height: {{section.settings.section_sub_title_line_height_md}}px;
    }
  }

  @media (min-width: 300px) and (max-width: 767px) {    
    
    #section-{{ section.id }} .section-title h2{
      font-size:{{ section.settings.section_title_font_size_sm }}px;
      line-height: {{section.settings.section_title_line_height_sm}}px;
    }
    #section-{{ section.id }} .section-title p{
      font-size:{{ section.settings.section_des_font_size_sm }}px;
      line-height: {{section.settings.section_sub_title_line_height_sm}}px;
    }
  }

</style>
{% endif %}



{% if section.settings.banner_custom_margin %}
<style>
  #section-{{ section.id }} .custom_margin_row{
    margin-left: -{{ section.settings.banner_margin_left_right }}px;
    margin-right: -{{ section.settings.banner_margin_left_right }}px;
  }

  #section-{{ section.id }} .custom_margin_row .custom_margin_col{
    padding-left: {{ section.settings.banner_margin_left_right }}px;
    padding-right: {{ section.settings.banner_margin_left_right }}px;
  }

  #section-{{ section.id }} .custom_margin_row .single-banner{
    margin-bottom:{{ section.settings.banner_margin_bottom }}px
  }
</style>
{% endif %}




{%- include 'section-style' -%}



{% schema %}
  {
    "name": "Collection Banner",
    "settings": [
              {
                "type": "select",
                "id": "section_width",
                "label": "Section Width",
                "options":[
                      {
                          "label": "Full Width",
                          "value": "full_width"
                      },
                      {
                          "label": "Box Width",
                          "value": "box_width"
                      },
                      {
                          "label": "Default Width",
                          "value": "default"
                      }
                  ],
                  "default": "default"
              },


		{
			"type": "header",
            "content": "Section Title"
        },

        {
          "type": "checkbox",
          "id": "section_title_custom_color",
          "label": "Section Title Custom Style Enable",
          "default": false
        },

		{
            "type": "text",
            "id": "section_title",
            "label": "Title",
            "default": "New Arrivals"
        },

        {
          "type": "color",
          "id": "section_title_color",
          "label": "Title Color",
          "default": "#1f2226"
        },
          {
            "type": "font_picker",
            "id": "section_title_font",
            "label": "Font Family: Section Title Font",
            "default": "poppins_n6"
          },
          {
              "type": "header",
              "content": "Main Screen"
          },
          {
            "type": "text",
            "id": "section_title_font_size",
            "label": "Font Size: Font Size",
            "default": "30",
            "info": "Section Title Font Size"
          }, 
          {
            "type":      "range",
            "id":        "section_title_line_height",
            "min":       20,
            "max":        150,
            "step":       5,
            "unit":       "px",
            "label":     "Section Title Line Height",
            "default":   40
          },
          {
              "type": "header",
              "content": "Medium Screen"
          },
          {
            "type": "text",
            "id": "section_title_font_size_md",
            "label": "Font Size: Font Size (MD)",
            "default": "24",
            "info": "Section Title Font Size"
          }, 
          {
            "type":      "range",
            "id":        "section_title_line_height_md",
            "min":       20,
            "max":        150,
            "step":       5,
            "unit":       "px",
            "label":     "Section Title Line Height (MD)",
            "default":   35
          },
          {
              "type": "header",
              "content": "Small Screen"
          },
          {
            "type": "text",
            "id": "section_title_font_size_sm",
            "label": "Font Size: Font Size (SM)",
            "default": "20",
            "info": "Section Title Font Size"
          }, 
          {
            "type":      "range",
            "id":        "section_title_line_height_sm",
            "min":       20,
            "max":        150,
            "step":       5,
            "unit":       "px",
            "label":     "Section Title Line Height (SM)",
            "default":   30
          },
          {
            "type":      "range",
            "id":        "section_title_margin_bottom",
            "min":       0,
            "max":        50,
            "step":       1,
            "unit":       "px",
            "label":     "Section Title margin Bottom",
            "default":   10
          },


		{
            "type": "textarea",
            "id": "section_sub_title",
            "label": "Subtitle",
            "default": "Contrary to popular belief, Lorem Ipsum is not simply random text."
        },

        {
          "type": "color",
          "id": "section_subtitle_color",
          "label": "Subtitle Color",
          "default": "#5a5a5a"
        },	
          {
            "type": "font_picker",
            "id": "section_sub_title_font",
            "label": "Font Family: Section Sub Title Font",
            "default": "poppins_n6"
          },
          {
              "type": "header",
              "content": "Main Screen"
          },
          {
            "type": "text",
            "id": "section_des_font_size",
            "label": "Font Size: Font Size",
            "default": "14",
            "info": "Section Description Font Size"
          },
          {
            "type":      "range",
            "id":        "section_sub_title_line_height",
            "min":       20,
            "max":        100,
            "step":       1,
            "unit":       "px",
            "label":     "Section Sub Title Line Height",
            "default":   24
          },
          {
              "type": "header",
              "content": "Medium Screen"
          },
          {
            "type": "text",
            "id": "section_des_font_size_md",
            "label": "Font Size: Font Size (MD)",
            "default": "14",
            "info": "Section Description Font Size (MD)"
          },
          {
            "type":      "range",
            "id":        "section_sub_title_line_height_md",
            "min":       20,
            "max":        100,
            "step":       1,
            "unit":       "px",
            "label":     "Section Sub Title Line Height (MD)",
            "default":   24
          },

          {
              "type": "header",
              "content": "Small Screen"
          },
          {
            "type": "text",
            "id": "section_des_font_size_sm",
            "label": "Font Size: Font Size (SM)",
            "default": "14",
            "info": "Section Description Font Size (SM)"
          },
          {
            "type":      "range",
            "id":        "section_sub_title_line_height_sm",
            "min":       20,
            "max":        100,
            "step":       1,
            "unit":       "px",
            "label":     "Section Sub Title Line Height (SM)",
            "default":   24
          },
          {
            "type":      "range",
            "id":        "section_sub_title_margin_bottom",
            "min":       0,
            "max":        50,
            "step":       1,
            "unit":       "px",
            "label":     "Section Sub Title margin Bottom",
            "default":   10
          },

		{
                "type": "select",
                "id": "title_align",
                "label": "Title Align",
                "options":[
                      {
                          "label": "Text Left",
                          "value": "text-left"
                      },
                      {
                          "label": "Text Center",
                          "value": "text-center"
                      },
                      {
                          "label": "Text Right",
                          "value": "text-right"
                      }
                  ],
                  "default": "text-center"
              },       
             
     
             
              {
                  "type": "header",
                  "content": "Banner Custom Margin"
              },
              {
                "type": "checkbox",
                "id": "banner_custom_margin",
                "label": "Banner Custom Margin Enable",
                "default": false
              },
              {
                "type": "range",
                "id": "banner_margin_bottom",
                "min": 0,
                "max": 50,
                "step": 1,
                "label": "Margin Top",
                "unit": "px",
                "default": 30
              },
              {
                "type": "range",
                "id": "banner_margin_left_right",
                "min": 0,
                "max": 50,
                "step": 1,
                "label": "Banner Margin Left Right",
                "unit": "px",
                "default": 15
              }
	],
	"blocks":[
	   {
          "type": "banner",
          "name": "Banner",
          "settings": [
              {
                  "type": "checkbox",
                  "id": "enable_left_pad",
                  "label": "Enable Left Padding",
                  "default": false
              },
              {
                "type": "select",
                "id": "ban_col",
                "label": "Select Column",
                "options":[
                      {
                          "label": "1",
                          "value": "1"
                      },
                      {
                          "label": "2",
                          "value": "2"
                      },
                      {
                          "label": "3",
                          "value": "3"
                      },
                      {
                          "label": "4",
                          "value": "4"
                      },
                      {
                          "label": "5",
                          "value": "5"
                      },
                      {
                          "label": "6",
                          "value": "6"
                      },
                      {
                          "label": "7",
                          "value": "7"
                      },
                      {
                          "label": "8",
                          "value": "8"
                      },
                      {
                          "label": "9",
                          "value": "9"
                      },
                      {
                          "label": "10",
                          "value": "10"
                      },
                      {
                          "label": "11",
                          "value": "11"
                      },
                      {
                          "label": "12",
                          "value": "12"
                      }
                  ],
                  "default": "6"
              },
              {
                  "type": "header",
                  "content": "Banner 1"
              },
              {
                  "type": "image_picker",
                  "id": "img1",
                  "label": "Image"
              },
              {
                  "type": "text",
                  "id": "t1",
                  "label": "Title",
                  "default": "Mens Backpack"
              },
              {
                  "type": "color",
                  "id": "t1_color",
                  "label": "Title Color",
                  "default": "#1f2226"
              },
              {
                  "type": "url",
                  "id": "btn1_url",
                  "label": "URL",
                  "default": "\/collections\/all"
              },
              {
                "type": "radio",
                "id": "text1_p",
                "label": "Text Style",
                "options":[
                      {
                          "label": "Style 1",
                          "value": "style_1"
                      },
                      {
                          "label": "Style 2",
                          "value": "style_2"
                      }
                  ],
                  "default": "style_1"
              },
              {
                  "type": "header",
                  "content": "Banner 2"
              },
              {
                  "type": "checkbox",
                  "id": "show_img2",
                  "label": "Show Banner 2",
                  "default": true
              },
              {
                  "type": "image_picker",
                  "id": "img2",
                  "label": "Image"
              },
              {
                  "type": "text",
                  "id": "t3",
                  "label": "Title",
                  "default": "Womens <br>Backpack"
              },
              {
                  "type": "color",
                  "id": "t3_color",
                  "label": "Title Color",
                  "default": "#1f2226"
              },
              {
                  "type": "url",
                  "id": "btn2_url",
                  "label": "URL",
                  "default": "\/collections\/all"
              },
              {
                "type": "radio",
                "id": "text2_p",
                "label": "Text Style",
                "options":[
                      {
                          "label": "Style 1",
                          "value": "style_1"
                      },
                      {
                          "label": "Style 2",
                          "value": "style_2"
                      }
                  ],
                  "default": "style_2"
              }
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 65
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 45
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 50
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 30
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Collection Banner",
		  "category": "2. Banner",
		  "blocks":[
				{
					"type": "banner"
				},
				{
					"type": "banner"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}