<div class="product-area pb-150 feature_deal_collection common_slick_slider" id="section-{{ section.id }}" data-section="Feature_Collection">
	<div class="{% if section.settings.section_width == 'full_width' %}container-fluid {% elsif section.settings.section_width == 'box_width' %}container-fluid section-padding-1{% elsif section.settings.section_width == 'default' %}container default {% endif %}">
    
    {% if section.settings.section_title != '' or section.settings.section_sub_title != '' %}
    <div class="section-title {{ section.settings.title_align }} pb-60">
      {% if section.settings.section_title != '' %}
      <h2>{{ section.settings.section_title }}</h2>
      {% endif %}

      {% if section.settings.section_sub_title != '' %}
      <p>{{ section.settings.section_sub_title }}</p>
      {% endif %}
    </div>
    {% endif %}
    
      
      
            
      {%if section.settings.offer_date != '' %}    
      <div class="row">
        <div class="col-lg-8 col-md-10 col-12 ml-auto mr-auto">
          <div class="deal_count_area_wrap">
            <!--Count Down Start-->
            <div class="ht-product-countdown-wrap countdown-inner">
              <div class="count-box">
                <div class="ht-product-countdown" data-countdown="{{ section.settings.offer_date }}"></div>
              </div>
            </div>
            <!--Count Down End-->
          </div>
        </div>
      </div>
      {% endif %}

      
      
      
    <div class="product-menu-banner-wrapper row">
      
      {%- for block in section.blocks -%}
      {%- case block.type -%}

      {%- when 'banner' -%}

      <div class="col-md-{{block.settings.banner_column_handle}}">
        <div class="single-banner featured_banner">
          <a href="{{block.settings.featured_banner_url}}">
            {%- if block.settings.featured_banner -%}
            <img class="animated" src="{{ block.settings.featured_banner | img_url: 'master' }}" alt="{{ image.alt }}">              
            {%- else -%}
            <img class="animated" src="https://via.placeholder.com/270x450" alt="{{ image.alt }}">
            {%- endif -%}
          </a>
        </div>
      </div>


      {%- when 'feature-product' -%}
      
      
            {%- capture data_slick_activation -%}
            data-slick='{
              
                        "infinite": true,
                        "slidesToShow": {{block.settings.product_column_handle}},
                        "slidesToScroll": 1,
                        "rows":{{ block.settings.product_casoule_row }},

                        {% if block.settings.tab_arsoule_arrow_enable %}
                            "arrows": true,
                              "prevArrow": "<span class=&#x27;product-dec-icon product-dec-prev&#x27;><i class=&#x27;sli sli-arrow-left&#x27;></i></span>",
                              "nextArrow": "<span class=&#x27;product-dec-icon product-dec-next&#x27;><i class=&#x27;sli sli-arrow-right&#x27;></i></span>",
                        {%else%}
                            "arrows": false,
                        {%endif%}

                        "responsive": [

                        {
                          "breakpoint": 1800,
                          "settings": {
                          "slidesToShow": {{block.settings.product_column_handle_md}},
                          "slidesToScroll": 1
                          }
                        },
                        {
                          "breakpoint": 1200,
                          "settings": {
                          "slidesToShow": {{block.settings.product_column_handle_sm}},
                          "slidesToScroll": 1
                          }
                        },
                        {
                          "breakpoint": 991,
                          "settings": {
                          "slidesToShow": {{block.settings.product_column_handle_sm_2}},
                          "slidesToScroll": 1
                          }
                        },
                        {
                          "breakpoint": 767,
                          "settings": {
                          "slidesToShow": {{block.settings.product_column_handle_xs}},
                          "slidesToScroll": 1
                          }
                        },
                        {
                          "breakpoint": 450,
                          "settings": {
                          "slidesToShow": 1,
                          "slidesToScroll": 1
                          }
                        }
                        ]


            }'
            {%- endcapture -%}
              
              
      
      
      
      
        <div class="col-md-{{ block.settings.feature_column_handle }}">
          <div class="arrivals-wrap item-wrapper">
            {%- assign tab_product = collections[block.settings.featured_product_handle] -%}
            {%- assign product_limit = block.settings.product_limit_handle -%}


            {%- if tab_product == empty -%}
            <div class="ht-products row">  
              {%- assign i = 1 -%}
              {% for i in (1..product_limit) %}
              {% capture a %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
              <div class="col-lg-{{ block.settings.product_column_handle }} col-md-6" style="margin-bottom: 30px;">
                <div>
                  {% assign product_item = "product-" | append: a  %}
                  {{ product_item | placeholder_svg_tag: 'product-svg-image' }}
                </div>
                <h6>
                  Product Title
                </h6>
                <div>
                  <span>$99.99</span>
                </div>
              </div>
              {%- assign i = i | plus: 1 -%}
              {% endfor %}
            </div>
            {%- else -%}

            <div class="ht-products {% if block.settings.tab_arsoule_active %} feature-product-slider-active carsoule_arrow_style{% endif %} row" {{ data_slick_activation }}>
              
              {% for product in tab_product.products limit: product_limit %}
              <div class="{% if block.settings.tab_arsoule_active %}col-md-12 {% else %} col-xl-{{ block.settings.product_column_handle }} col-lg-{{ block.settings.product_column_handle_md }} col-md-{{ block.settings.product_column_handle_sm }} col-sm-{{ block.settings.product_column_handle_sm_2 }} col-12 {% endif %}">
                {% include 'product-grid-item' %}

              </div>
              {% endfor %}
            </div>

            {%- endif -%}


            {%- if block.settings.button_title != '' -%}
            <div class="show-more-btn text-center mt-10 toggle-btn">
              <a class="loadMore" href="{{ block.settings.button_url }}">{{ block.settings.button_title }}</a>
            </div>
            {%- endif -%}
            
          </div>
        </div>
      
      
      

      

      {%- endcase -%}
      {%- endfor -%}
      
      
    </div>
  </div>
</div>

{%- include 'section-style' -%}





{% if section.settings.section_title_custom_color %}
<style>
  
  {%- assign section_title_font = section.settings.section_title_font -%}
  {%- assign section_sub_title_font = section.settings.section_sub_title_font -%}
  {{ section_title_font | font_face }}
  {{ section_sub_title_font | font_face }}
  
  
  #section-{{ section.id }} .section-title h2{
    font-family: {{ section_title_font.family }}, {{ section_title_font.fallback_families }};
    font-style: {{ section_title_font.style }};
    font-weight: {{ section_title_font.weight }};
    color: {{ section.settings.section_title_color }};
    font-size:{{ section.settings.section_title_font_size }}px;
    line-height: {{section.settings.section_title_line_height}}px;
    margin-bottom: {{section.settings.section_title_margin_bottom}}px;
  }
  
  #section-{{ section.id }} .section-title p{
    font-family: {{ section_sub_title_font.family }}, {{ section_sub_title_font.fallback_families }};
    font-style: {{ section_sub_title_font.style }};
    font-weight: {{ section_sub_title_font.weight }};
    color: {{ section.settings.section_subtitle_color }};
    font-size:{{ section.settings.section_des_font_size }}px;
    line-height: {{section.settings.section_sub_title_line_height}}px;
    margin-bottom: {{section.settings.section_sub_title_margin_bottom}}px;
  }
  
  
  @media (min-width: 768px) and (max-width: 1200px) {

    #section-{{ section.id }} .section-title h2{
      font-size:{{ section.settings.section_title_font_size_md }}px;
      line-height: {{section.settings.section_title_line_height_md}}px;
    }
    #section-{{ section.id }} .section-title p{
      font-size:{{ section.settings.section_des_font_size_md }}px;
      line-height: {{section.settings.section_sub_title_line_height_md}}px;
    }
  }

  @media (min-width: 300px) and (max-width: 767px) {    
    
    #section-{{ section.id }} .section-title h2{
      font-size:{{ section.settings.section_title_font_size_sm }}px;
      line-height: {{section.settings.section_title_line_height_sm}}px;
    }
    #section-{{ section.id }} .section-title p{
      font-size:{{ section.settings.section_des_font_size_sm }}px;
      line-height: {{section.settings.section_sub_title_line_height_sm}}px;
    }
  }

</style>
{% endif %}





{% schema %}
  {
    "name": "Deal Collection",
    "settings": [
              {
                "type": "select",
                "id": "section_width",
                "label": "Section Width",
                "options":[
                      {
                          "label": "Full Width",
                          "value": "full_width"
                      },
                      {
                          "label": "Box Width",
                          "value": "box_width"
                      },
                      {
                          "label": "Default Width",
                          "value": "default"
                      }
                  ],
                  "default": "default"
              },

		{
			"type": "header",
            "content": "Section Title"
        },

        {
          "type": "checkbox",
          "id": "section_title_custom_color",
          "label": "Section Title Custom Style Enable",
          "default": false
        },

		{
            "type": "text",
            "id": "section_title",
            "label": "Title",
            "default": "New Arrivals"
        },

        {
          "type": "color",
          "id": "section_title_color",
          "label": "Title Color",
          "default": "#1f2226"
        },
          {
            "type": "font_picker",
            "id": "section_title_font",
            "label": "Font Family: Section Title Font",
            "default": "poppins_n6"
          },
          {
              "type": "header",
              "content": "Main Screen"
          },
          {
            "type": "text",
            "id": "section_title_font_size",
            "label": "Font Size: Font Size",
            "default": "30",
            "info": "Section Title Font Size"
          }, 
          {
            "type":      "range",
            "id":        "section_title_line_height",
            "min":       20,
            "max":        150,
            "step":       5,
            "unit":       "px",
            "label":     "Section Title Line Height",
            "default":   40
          },
          {
              "type": "header",
              "content": "Medium Screen"
          },
          {
            "type": "text",
            "id": "section_title_font_size_md",
            "label": "Font Size: Font Size (MD)",
            "default": "24",
            "info": "Section Title Font Size"
          }, 
          {
            "type":      "range",
            "id":        "section_title_line_height_md",
            "min":       20,
            "max":        150,
            "step":       5,
            "unit":       "px",
            "label":     "Section Title Line Height (MD)",
            "default":   35
          },
          {
              "type": "header",
              "content": "Small Screen"
          },
          {
            "type": "text",
            "id": "section_title_font_size_sm",
            "label": "Font Size: Font Size (SM)",
            "default": "20",
            "info": "Section Title Font Size"
          }, 
          {
            "type":      "range",
            "id":        "section_title_line_height_sm",
            "min":       20,
            "max":        150,
            "step":       5,
            "unit":       "px",
            "label":     "Section Title Line Height (SM)",
            "default":   30
          },
          {
            "type":      "range",
            "id":        "section_title_margin_bottom",
            "min":       0,
            "max":        50,
            "step":       1,
            "unit":       "px",
            "label":     "Section Title margin Bottom",
            "default":   10
          },


		{
            "type": "textarea",
            "id": "section_sub_title",
            "label": "Subtitle",
            "default": "Contrary to popular belief, Lorem Ipsum is not simply random text."
        },

        {
          "type": "color",
          "id": "section_subtitle_color",
          "label": "Subtitle Color",
          "default": "#5a5a5a"
        },	
          {
            "type": "font_picker",
            "id": "section_sub_title_font",
            "label": "Font Family: Section Sub Title Font",
            "default": "poppins_n6"
          },
          {
              "type": "header",
              "content": "Main Screen"
          },
          {
            "type": "text",
            "id": "section_des_font_size",
            "label": "Font Size: Font Size",
            "default": "14",
            "info": "Section Description Font Size"
          },
          {
            "type":      "range",
            "id":        "section_sub_title_line_height",
            "min":       20,
            "max":        100,
            "step":       1,
            "unit":       "px",
            "label":     "Section Sub Title Line Height",
            "default":   24
          },
          {
              "type": "header",
              "content": "Medium Screen"
          },
          {
            "type": "text",
            "id": "section_des_font_size_md",
            "label": "Font Size: Font Size (MD)",
            "default": "14",
            "info": "Section Description Font Size (MD)"
          },
          {
            "type":      "range",
            "id":        "section_sub_title_line_height_md",
            "min":       20,
            "max":        100,
            "step":       1,
            "unit":       "px",
            "label":     "Section Sub Title Line Height (MD)",
            "default":   24
          },

          {
              "type": "header",
              "content": "Small Screen"
          },
          {
            "type": "text",
            "id": "section_des_font_size_sm",
            "label": "Font Size: Font Size (SM)",
            "default": "14",
            "info": "Section Description Font Size (SM)"
          },
          {
            "type":      "range",
            "id":        "section_sub_title_line_height_sm",
            "min":       20,
            "max":        100,
            "step":       1,
            "unit":       "px",
            "label":     "Section Sub Title Line Height (SM)",
            "default":   24
          },
          {
            "type":      "range",
            "id":        "section_sub_title_margin_bottom",
            "min":       0,
            "max":        50,
            "step":       1,
            "unit":       "px",
            "label":     "Section Sub Title margin Bottom",
            "default":   10
          },

		{
                "type": "select",
                "id": "title_align",
                "label": "Title Align",
                "options":[
                      {
                          "label": "Text Left",
                          "value": "text-left"
                      },
                      {
                          "label": "Text Center",
                          "value": "text-center"
                      },
                      {
                          "label": "Text Right",
                          "value": "text-right"
                      }
                  ],
                  "default": "text-center"
              },        
             

        {
          "type": "text",
          "id": "offer_date",
          "label": "Offter Duration Date",
          "default": "2021/03/20",
          "info": "Example: Year/Month/Day"
        },

		

		{
		  "type": "header",
          "content": "Progress Quantity"
        },
        {
          "type": "checkbox",
          "id": "progress_quantity_enable",
          "label": "Progress Quantity Enable",
          "default": true
        },
		{
          "type": "text",
          "id": "sold_title",
          "label": "Sold Title",
          "default": "Sold:"
      	},
		{
          "type": "text",
          "id": "available_title",
          "label": "Available Title",
          "default": "Available:"
      	},
		{
          "type": "paragraph",
          "content": "Recommended app [Metafields Custom Field Master](https://apps.shopify.com/metafields-manager-by-hulkapps)"
      	},
        {
          "type": "paragraph",
          "content": "First, install this app then create Metafield on the selected product."
        },
        {
          "type": "paragraph",
          "content": "Follow the below instruction for creating Metafield"
        },
        {
          "type": "html",
          "id": "sold_count",
          "label": "Sold Count",
          "default": "Namespace: sold_count, Key: sold, Value: 40"
        },
        {
          "type": "html",
          "id": "available_count",
          "label": "Available Count",
          "default": "Namespace: available_count, Key: available, Value: 300"
        },
        {
          "type": "paragraph",
          "content": "Follow the screenshot - [Click here](https://prnt.sc/wyt58z)"
        }



    ],
	"blocks":[
	   {
          "type": "banner",
          "name": "Banner",
		  "limit": 1,
          "settings": [
            {
			"type": "range",
              "id": "banner_column_handle",
              "label": "Banner Column",
                "min": 2,
                "max": 12,
                "step": 1,
                "default": 3,
				"unit": "/12"
            },

            {
              "type": "header",
              "content": "Banner Area"
            },

            {
              "type": "image_picker",
              "id": "featured_banner",
              "label": "Banner Image"
            },
            {
              "type": "url",
              "id": "featured_banner_url",
              "label": "URL",
              "default": "\/collections\/all"
            }
          ]
       },
	   {
          "type": "feature-product",
          "name": "Feature Products",
		  "limit": 1,
          "settings": [
    		{
                "type": "header",
                "content": "Collection Area"
            },
            {
			"type": "range",
              "id": "feature_column_handle",
              "label": "Feature Product Column",
                "min": 2,
                "max": 12,
                "step": 1,
                "default": 9,
				"unit": "/12"
            },
            {
              "type": "collection",
              "id": "featured_product_handle",
              "label": "Select Collection"
            },
            {
                "type": "checkbox",
                "id": "tab_arsoule_active",
                "label": "Active Carsoule",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "tab_arsoule_arrow_enable",
                "label": "Carsoule Arrow Enable",
                "default": true
            },
            {
                "type": "range",
                "id": "product_casoule_row",
                "min": 1,
                "max": 10,
                "step": 1,
                "label": "Product Carsoule Row",
                "default": 2
            },
            {
              "type": "select",
              "id": "product_column_handle",
              "label": "Product Column",			  
			  "info":"Carsoule Screen Size: 1920px",
              "options":[
                    {
                        "label": "1",
                        "value": "1"
                    },
                    {
                        "label": "2",
                        "value": "2"
                    },
                    {
                        "label": "3",
                        "value": "3"
                    },
                    {
                        "label": "4",
                        "value": "4"
                    },
                    {
                        "label": "5",
                        "value": "5"
                    },
                    {
                        "label": "6",
                        "value": "6"
                    }
                ],
                "default": "3"
            },
            {
              "type": "select",
              "id": "product_column_handle_md",
              "label": "Product Column (Medium)",
			  "info":"Carsoule Screen Size: 1800px",
              "options":[
                    {
                        "label": "1",
                        "value": "1"
                    },
                    {
                        "label": "2",
                        "value": "2"
                    },
                    {
                        "label": "3",
                        "value": "3"
                    },
                    {
                        "label": "4",
                        "value": "4"
                    },
                    {
                        "label": "5",
                        "value": "5"
                    },
                    {
                        "label": "6",
                        "value": "6"
                    }
                ],
                "default": "4"
            },
            {
              "type": "select",
              "id": "product_column_handle_sm",
              "label": "Product Column (Tablet)",
			  "info":"Carsoule Screen Size: 1200px",
              "options":[
                    {
                        "label": "1",
                        "value": "1"
                    },
                    {
                        "label": "2",
                        "value": "2"
                    },
                    {
                        "label": "3",
                        "value": "3"
                    },
                    {
                        "label": "4",
                        "value": "4"
                    },
                    {
                        "label": "5",
                        "value": "5"
                    },
                    {
                        "label": "6",
                        "value": "6"
                    },
                    {
                        "label": "12",
                        "value": "12"
                    }
                ],
                "default": "6"
            },
            {
              "type": "select",
              "id": "product_column_handle_sm_2",
              "label": "Product Column (Mini Tab)",
			  "info":"Carsoule Screen Size: 991px",
              "options":[
                    {
                        "label": "1",
                        "value": "1"
                    },
                    {
                        "label": "2",
                        "value": "2"
                    },
                    {
                        "label": "3",
                        "value": "3"
                    },
                    {
                        "label": "4",
                        "value": "4"
                    },
                    {
                        "label": "5",
                        "value": "5"
                    },
                    {
                        "label": "6",
                        "value": "6"
                    },
                    {
                        "label": "12",
                        "value": "12"
                    }
                ],
                "default": "2"
            },
            {
                "type": "header",
                "content": "Work Only Active Carsoule"
            },
            {
              "type": "select",
              "id": "product_column_handle_xs",
              "label": "Product Column (Mobile)",
			  "info":"Carsoule Screen Size: 767px",
              "options":[
                    {
                        "label": "1",
                        "value": "1"
                    },
                    {
                        "label": "2",
                        "value": "2"
                    },
                    {
                        "label": "3",
                        "value": "3"
                    },
                    {
                        "label": "4",
                        "value": "4"
                    },
                    {
                        "label": "5",
                        "value": "5"
                    },
                    {
                        "label": "6",
                        "value": "6"
                    }
                ],
                "default": "2"
            },
            {
                "type": "range",
                "id": "product_limit_handle",
                "min": 2,
                "max": 50,
                "step": 1,
                "label": "Limit",
                "default": 8
            },
            {
                "type": "header",
                "content": "View More Button"
            },
            {
              "type": "text",
              "id": "button_title",
              "label": "Button Title",
              "default": "View More Products"
            },
            {
                "type": "url",
                "id": "button_url",
                "label": "URL",
                "default": "\/collections\/all"
            }
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Deal Collection",
		  "category": "3. collections",
		  "blocks":[
				{
					"type": "section_padding"
				},
				{
					"type": "feature-product"
				}

			]
		}
	]
  }
{% endschema %}
