{% render 'section-styles', section: section %}

<div class="section_container container">

  <div class="image_text_blocks">

    {% for block in section.blocks %}

      <div class="image_text_block" id="block-{{ block.id }}">
        {% if block.settings.title != blank %}
          <div class="block_title title">{{ block.settings.title }}</div>
        {% endif %}
        <div class="block_wrapper d-flex {% if block.settings.image_pos == 'right' %}reverse{% endif %}">
          <div class="image_column">
            {% if block.settings.image_title != blank %}
              <div class="column_title title">{{ block.settings.image_title }}</div>
            {% endif %}
            <div class="image_wrapper">
              {% render 'rimage', image: block.settings.image %}
            </div>
            {% if block.settings.image_desc != blank %}
              <div class="column_desc">{{ block.settings.image_desc }}</div>
            {% endif %}
          </div>
          <div class="info_column d-flex align-{{ block.settings.v_align }}">
            {% if block.settings.info_title != blank %}
              <div class="column_title title">{{ block.settings.info_title }}</div>
            {% endif %}
            {% if block.settings.info_desc != blank %}
              <div class="column_desc">{{ block.settings.info_desc }}</div>
            {% endif %}
          </div>
        </div>
      </div>

      <style>
        #block-{{ block.id }} .image_wrapper {
          width: {{ block.settings.img_width }}%;
        }
        {% if block.settings.img_width < 90 %}
          #block-{{ block.id }} .image_column .column_desc {
            width: {{ block.settings.img_width | plus: 10 }}%;
          }
        {% endif %}
        
      </style>

    {% endfor %}

  </div>

</div>


{% schema %}
{
  "name": "Featured image with text",
  "class": "featured-image-text",
  "settings": [
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    } 
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "select",
          "options": [
            {
              "label": "Image on left",
              "value": "left"
            },
            {
              "label": "Image on right",
              "value": "right"
            }
          ],
          "default": "left",
          "id": "image_pos",
          "label": "Layout"
        },
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "min": 20,
          "max": 100,
          "default": 100,
          "id": "img_width",
          "label": "Imgae width",
          "unit": "%"
        },
        {
          "type": "text",
          "id": "image_title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "image_desc",
          "label": "Description"
        },
        {
          "type": "header",
          "content": "Info"
        },
        {
          "type": "text",
          "id": "info_title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "info_desc",
          "label": "Description "
        },
        {
          "type": "select",
          "options": [
            {
              "label": "Top",
              "value": "top"
            },
            {
              "label": "Middle",
              "value": "middle"
            },
            {
              "label": "Bottom",
              "value": "bottom"
            }
          ],
          "id": "v_align",
          "default": "top",
          "label": "Vertical align"
        }
      ]
    }
  ]
}
{% endschema %}