<!-- PRODUCT SECTION START -->
<div class="featured-product" id="section-{{ section.id }}" data-section="FeaturedProduct">
  {%- if section.settings.section_title != '' or section.settings.section_sub_title != '' -%}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- section title start -->
        <div class="section-title {{ section.settings.title_align }}">
          {%- if section.settings.section_title != '' -%}
          	<h2>{{ section.settings.section_title }}</h2>
          {%- endif -%}
          {%- if section.settings.section_sub_title != '' -%}
          	<p>{{ section.settings.section_sub_title }}</p>
          {%- endif -%}
        </div>
        <!-- section title start -->
      </div>
    </div>
  </div>
  {%- endif -%}
  <div class="container">
    {%- assign product = all_products[section.settings.featured_product_handle] -%}
    {%- if product == empty -%}
    <div class="row featured-product-align">
      <div class="col-lg-6 col-md-6">
        <div class="featured-product-iamge">
          {{ 'product-1' | placeholder_svg_tag: 'product-svg-image' }}
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="featured-product-content">
          <h2>Product title here</h2>
          <div class="featured-product-price">
            <del>99.99</del>
            <span>69.99</span>
          </div>
          <div class="featured-product-description">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
          </div>
          {%- if section.settings.button_title != '' -%}
          <div class="featured-product-button">
            <button type="button" class="theme-default-button">{{ section.settings.button_title }}</button>
          </div>
          {%- endif -%}
        </div>
      </div>
    </div>
    {%- else -%}
    <div class="row featured-product-align {% if section.settings.content_position == 'right' %} flex-row-reverse {% else %} product_image_right {% endif %}">

      <div class="col-lg-6 col-md-6">
        <div class="featured-product-iamge">
          <img src="{{ product | img_url: 'grande' }}" alt="{{ product.alt }}">
        </div>
      </div>
      
      <div class="col-lg-6 col-md-6">
        <div class="featured-product-content">
          <h2>{{ product.title }}</h2>
          <div class="featured-product-price">
            
            <span>{{ product.variants.first.price | money }}</span>
            {%- if product.variants.first.compare_at_price > product.variants.first.price -%}
            <del>{{ product.variants.first.compare_at_price | money }}</del>
            {%- endif -%}
            
          </div>
          <div class="featured-product-description">
            {%- if product.description contains '[short_description]' -%} 
            {%- assign short_description_first = product.description | split:'[/short_description]' | first -%}
            {%- assign short_description_final = short_description_first | split:'[short_description]' | last -%}
            {{ short_description_final }}
            {%- else -%}
            <p>{{ product.description | strip_html | truncatewords: 50 | split: '[short_description]' | first | split: '[product_description]' | first | split: '[new_products]' | first | split: '[product_video]' | first | split: '[affiliate_link]' | first | split: '[countdown]' | first | split: '[unique_description_1]' | first | split: '[unique_description_2]' | first | split: '[unique_description_3]' | first }}</p>
            {%- endif -%}
          </div>

          {%- if product.description contains '[countdown]' -%}
          {%- assign count_down_first = product.description | split:'[/countdown]' | first -%}
          {%- assign count_down_final = count_down_first | split:'[countdown]' | last -%}
          <div data-countdown="{{ count_down_final }}" class="product-countdown"></div> 
          {%- endif -%}
          {%- if section.settings.button_title != '' -%}
          <div class="featured-product-button">
            <a class="theme-default-button" href="{{ product.url }}">{{ section.settings.button_title }}</a>
          </div>
          {%- endif -%}
        </div>
      </div>
    </div>
    {%- endif -%}
  </div>
</div>
<!-- PRODUCT SECTION END -->


{% if section.settings.section_title_custom_color %}
<style>
  #section-{{ section.id }} .section-title h2{
    color: {{ section.settings.section_title_color }};
    font-size:{{ section.settings.section_title_font_size }}px;
  }

  #section-{{ section.id }} .section-title p{
    color: {{ section.settings.section_subtitle_color }};
    font-size:{{ section.settings.section_des_font_size }}px;
  }
</style>
{% endif %}


{%- include 'section-style' -%}



{% schema %}
  {
    "name": "Featured Product",
    "settings": [
		{
			"type": "header",
            "content": "Section Title"
        },

		{
            "type": "text",
            "id": "section_title",
            "label": "Title",
            "default": "Featured Product"
        },
		{
            "type": "textarea",
            "id": "section_sub_title",
            "label": "Subtitle",
            "default": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical"
        },
        {
          "type": "checkbox",
          "id": "section_title_custom_color",
          "label": "Section Title Color Enable",
          "default": false
        },
        {
          "type": "color",
          "id": "section_title_color",
          "label": "Title Color",
          "default": "#1f2226"
        },
        {
          "type": "color",
          "id": "section_subtitle_color",
          "label": "Subtitle Color",
          "default": "#5a5a5a"
        },			
		{
                "type": "select",
                "id": "title_align",
                "label": "Title Align",
                "options":[
                      {
                          "label": "Text Left",
                          "value": "text-left"
                      },
                      {
                          "label": "Text Center",
                          "value": "text-center"
                      },
                      {
                          "label": "Text Right",
                          "value": "text-right"
                      }
                  ],
                  "default": "text-center"
              },        
              {
                "type": "text",
                "id": "section_title_font_size",
                "label": "Font Size: Font Size",
                "default": "30",
                "info": "Section Title Font Size"
              },              
			  {
                "type": "text",
                "id": "section_des_font_size",
                "label": "Font Size: Font Size",
                "default": "14",
                "info": "Section Description Font Size"
              },
		{
			"type": "header",
            "content": "Product"
        },
        {
          "type": "radio",
          "id": "content_position",
          "label": "Product Image Position",
          "options": [
            {"label": "Content Left", "value": "left"},
            {"label": "Content Right", "value": "right"}
          ],
          "default": "left"
        },

		{
			"type": "product",
            "id": "featured_product_handle",
            "label": "Select Product"
        },
		{
          "type": "text",
          "id": "button_title",
          "label": "Button Title",
          "default": "Shop Now"
      	}
    ],
	"blocks":[
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Featured Product",
		  "category": "3. collections",
		  "blocks":[
				{
					"type": "section_padding"
				}
			]
		}
	]
  }
{% endschema %}


{% if product %}
        <script class="rfq-featured-product">
            window.GRFQFeaturedProduct = {{ product | json }} || null
        </script>
        {% for collection in product.collections %}    
        <script> 
        if(typeof GRFQFeaturedProduct["collection"] === "undefined"){
            GRFQFeaturedProduct["collection"] = []; 
        }
        GRFQFeaturedProduct["collection"].push("{{ collection.id }}"); 
        </script> 
        {% endfor %}
        {% endif %}
        <!-- RFQ installed -->