{% render 'section-styles', section: section %}

<div class="section_container container">

  {% if section.settings.video_url != blank %}
    <div class="video_wrapper">
      <video playsinline controls>
        <source src="{{ section.settings.video_url }}" type="video/mp4">
      </video>
    </div>
  {% endif %}

</div>

{% schema %}
{
  "name": "Featured Video",
  "class": "featured-video",
  "settings": [
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "video_url",
      "label": "Video link"
    }
  ]
}
{% endschema %}