{%- if section.settings.show_ft_top -%}
<div class="theme_footer_top" id="section-{{ section.id }}">
  <div class="{% if section.settings.section_width == 'full_width' %}container-fluid {% elsif section.settings.section_width == 'box_width' %}container-fluid section-padding-1{% elsif section.settings.section_width == 'default' %}container default {% endif %}">
   
    <div class="footer-top-2 pb-20 footer_style_5">
      <div class="row">
        {%- for block in section.blocks -%}{%- case block.type -%}
        
        {% when 'about_info' %}
        <div class="col-lg-{{ block.settings.widget_col }} col-md-{{ block.settings.widget_col_md }} col-sm-12 col-12">
          <div class="footer-widget mb-40">
            {%- if block.settings.logo -%}
            <a href="/">
              <img src="{{ block.settings.logo | img_url: 'medium' }}" alt="{{ image.alt }}">
            </a>
            {%- endif -%}
            
            {%- if block.settings.title != '' -%}
            <div class="footer-title">
              <h3>{{ block.settings.title }}</h3>
            </div>
            {%- endif -%}
            
            <div class="subscribe-style">
              {%- if block.settings.content != '' -%}
              <p>{{ block.settings.content }}</p>
              {%- endif -%}            
            </div>

            <div class="footer_about_contact">

              {% if block.settings.footer_info_1_content != '' %}
              <p>
                <i class="sli sli-location-pin"></i>                
                <span>{{ block.settings.footer_info_1_content }}</span>
              </p>
              {% endif %}

              {% if block.settings.footer_info_2_content != '' %}              
              <p>
                <i class="sli sli-envelope"></i>
                <span>{{ block.settings.footer_info_2_content }}</span>
              </p>
              {% endif %}

              {% if block.settings.footer_info_3_content != '' %}
              <p>
                <i class="sli sli-phone"></i>
                <span>{{ block.settings.footer_info_3_content }}</span>
              </p>
              {% endif %}

            </div>
            
          </div>
        </div>
        

        {%- when 'ft_menu' -%}
        <div class="col-lg-{{ block.settings.widget_col }} col-md-{{ block.settings.widget_col_md }} col-sm-6 col-6">
          <div class="footer-widget mb-40">
            {%- if block.settings.title != '' -%}
            <div class="footer-title">
              <h3>{{ block.settings.title }}</h3>
            </div>
            {%- endif -%}

            <div class="footer-list">
              <ul>
                {%- assign ft_menu = block.settings.ft_menu_handle -%}
                {%- for link in linklists[ft_menu].links -%}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {%- endfor -%}
              </ul>
            </div>
          </div>
        </div>
        
        {%- when 'ft_social' -%}
        <div class="col-lg-{{ block.settings.widget_col }} col-md-{{ block.settings.widget_col_md }} col-sm-6 col-6">
          <div class="footer-widget mb-40">
            {%- if block.settings.title != '' -%}
            <div class="footer-title">
              <h3>{{ block.settings.title }}</h3>
            </div>
            {%- endif -%}

            <div class="social_widget">
              {% if block.settings.social1 != '' %}
              <a href="{{ block.settings.social1_url }}"><i class="sli sli-social-{{ block.settings.social1 }}"></i>{{ block.settings.social1 }}</a>
              {% endif %}

              {% if block.settings.social2 != '' %}
              <a href="{{ block.settings.social2_url }}"><i class="sli sli-social-{{ block.settings.social2 }}"></i>{{ block.settings.social2 }}</a>
              {% endif %}

              {% if block.settings.social3 != '' %}
              <a href="{{ block.settings.social3_url }}"><i class="sli sli-social-{{ block.settings.social3 }}"></i>{{ block.settings.social3 }}</a>
              {% endif %}

              {% if block.settings.social4 != '' %}
              <a href="{{ block.settings.social4_url }}"><i class="sli sli-social-{{ block.settings.social4 }}"></i>{{ block.settings.social4 }}</a>
              {% endif %}

              {% if block.settings.social5 != '' %}
              <a href="{{ block.settings.social5_url }}"><i class="sli sli-social-{{ block.settings.social5 }}"></i>{{ block.settings.social5 }}</a>
              {% endif %}
            </div>

          </div>
        </div>
        
        {%- when 'ft_instagram' -%}
        <div class="col-lg-{{ block.settings.widget_col }} col-md-{{ block.settings.widget_col_md }} col-sm-6 col-12">
          <div class="footer-widget mb-40">
            {%- if block.settings.title != '' -%}
            <div class="footer-title">
              <h3>{{ block.settings.title }}</h3>
            </div>
            {%- endif -%}

            {% include 'footer_instagram' %}
            

          </div>
        </div>
        
        
        
        {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>

  </div>
</div>



{%- if section.settings.custom_footer_style -%}

<style>
  .footer-widget .footer-title h3 {
    color: {{ section.settings.ft_title_color }};
  }
  .subscribe-style p, .footer-widget .footer-list ul li a, 
  .footer-top ul li a,
  .theme_footer_top .social_widget a {
    color: {{ section.settings.ft_content_color }};
  }
  .theme_footer_top .footer-widget .subscribe-style p {
    color: {{ section.settings.ft_content_color }};
  }
  .subscribe-style .subscribe-form .mc-form .clear:hover {
    background-color: {{ settings.color_primary }};
  }  
  .footer-top ul li a:hover {
    color: {{ settings.color_primary }};
  }
  
  .subscribe-style .subscribe-form .mc-form input::-moz-placeholder {
    color: {{ section.settings.ft_content_color }} !important;
  }
  .subscribe-style .subscribe-form .mc-form input::-webkit-input-placeholder {
    color: {{ section.settings.ft_content_color }} !important;
  }
  .subscribe-style .subscribe-form .mc-form input {
    border-color: {{ section.settings.ft_content_color }}
  }
  .footer-widget .footer_about_contact p {
	color: {{ section.settings.ft_content_color }};
  }
  
  .theme_footer_top .top_bar_social a {
    color: {{ section.settings.ft_content_color }};
  }
  .theme_footer_top .top_bar_social a:hover {
    color: {{ settings.color_primary }};
  }
  
  
  {%- assign footer_heading_font = section.settings.footer_heading_font -%}
  {%- assign footer_font_drop_mega = section.settings.footer_font_drop_mega -%}

  {{ footer_heading_font | font_face }}
  {{ footer_font_drop_mega | font_face }}


  .theme_footer_top .footer-widget .footer-title h3 {
    font-family: {{ footer_heading_font.family }}, {{ footer_heading_font.fallback_families }};
    font-style: {{ footer_heading_font.style }};
    font-weight: {{ footer_heading_font.weight }};
    font-size:{{ section.settings.footer_heading_font_size }}px;
  }

  .theme_footer_top .subscribe-style p,
  .theme_footer_top .footer-widget .footer-list ul li a,
  .theme_footer_top .footer-top ul li a,
  .theme_footer_top .footer-widget .footer_about_contact p,
  .theme_footer_top .social_widget a{
    font-family: {{ footer_font_drop_mega.family }}, {{ footer_font_drop_mega.fallback_families }};
    font-style: {{ footer_font_drop_mega.style }};
    font-weight: {{ footer_font_drop_mega.weight }};
    font-size:{{ section.settings.footer_font_drop_mega_size }}px;
  }
  
  
  

</style>

{%- endif -%}



{%- include 'section-style' -%}
{%- endif -%}


{% schema %}
  {
    "name": "Footer Top",
    "settings": [
		{
			"type": "checkbox",
			"id": "show_ft_top",
			"label": "Show Footer Top",
			"default": true
		},
              {
                "type": "select",
                "id": "section_width",
                "label": "Section Width",
                "options":[
                      {
                          "label": "Full Width",
                          "value": "full_width"
                      },
                      {
                          "label": "Box Width",
                          "value": "box_width"
                      },
                      {
                          "label": "Default Width",
                          "value": "default"
                      }
                  ],
                  "default": "default"
              },
        {
          "type": "checkbox",
          "id": "custom_footer_style",
          "label": "Custom Footer Color",
          "default": true
        },
		{
			"type": "color",
			"id": "ft_title_color",
			"label": "Title Color",
			"default": "#444444"
		},
		{
			"type": "color",
			"id": "ft_content_color",
			"label": "Content Color",
			"default": "#5e5e5e"
		},
		{
          "type": "font_picker",
          "id": "footer_heading_font",
          "label": "Font Family: Footer Heading",
          "default": "roboto_n5"
        },
        {
          "type": "text",
          "id": "footer_heading_font_size",
          "label": "Font Size: Footer Heading",
          "default": "18",
          "info": "Footer Heading Font Size"
        },
        {
          "type": "font_picker",
          "id": "footer_font_drop_mega",
          "label": "Font Family: Footer Content Font",
          "default": "roboto_n5"
        },
        {
          "type": "text",
          "id": "footer_font_drop_mega_size",
          "label": "Font Size: Font Size",
          "default": "16",
          "info": "Footer Content Font Size"
        }

	],
    "blocks": [
		{
			"type": "about_info",
			"name": "About Info",
			"settings": [
                {
                    "type": "select",
                    "id": "widget_col",
                    "label": "Select Column",
                    "options": [
                        {
                            "label": "2",
                            "value": "2"
                        },
                        {
                            "label": "3",
                            "value": "3"
                        },
                        {
                            "label": "4",
                            "value": "4"
                        },
                        {
                            "label": "5",
                            "value": "5"
                        },
                        {
                            "label": "6",
                            "value": "6"
                        },
                        {
                            "label": "7",
                            "value": "7"
                        },
                        {
                            "label": "8",
                            "value": "8"
                        },
                        {
                            "label": "9",
                            "value": "9"
                        },
                        {
                            "label": "10",
                            "value": "10"
                        },
                        {
                            "label": "11",
                            "value": "11"
                        },
                        {
                            "label": "12",
                            "value": "12"
                        }
                    ],
                    "default": "6"
                },
				{
                    "type": "select",
                    "id": "widget_col_md",
                    "label": "Select Column (Medium Screen)",
                    "options": [
                        {
                            "label": "2",
                            "value": "2"
                        },
                        {
                            "label": "3",
                            "value": "3"
                        },
                        {
                            "label": "4",
                            "value": "4"
                        },
                        {
                            "label": "5",
                            "value": "5"
                        },
                        {
                            "label": "6",
                            "value": "6"
                        },
                        {
                            "label": "7",
                            "value": "7"
                        },
                        {
                            "label": "8",
                            "value": "8"
                        },
                        {
                            "label": "9",
                            "value": "9"
                        },
                        {
                            "label": "10",
                            "value": "10"
                        },
                        {
                            "label": "11",
                            "value": "11"
                        },
                        {
                            "label": "12",
                            "value": "12"
                        }
                    ],
                    "default": "6"
                },
				{
					"type": "image_picker",
					"id": "logo",
					"label": "Image"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Title",
					"default": "About Info"
				},
				{
					"type": "textarea",
					"id": "content",
					"label": "Content",
					"default": "Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor inci ut labore et dolore"
				},
                {
                    "type": "header",
                    "content": "Information #1"
                },

                {
                  "type": "text",
                  "id": "footer_info_1_content",
                  "label": "Content",
                  "default": "Addresss: 123 Pall Mall, London England"
                },
                {
                    "type": "header",
                    "content": "Information #2"
                },
                {
                  "type": "text",
                  "id": "footer_info_2_content",
                  "label": "Content",
                  "default": "Email: hello@hasthemes.com"
                },              
                {
                    "type": "header",
                    "content": "Information #3"
                },
                {
                  "type": "text",
                  "id": "footer_info_3_content",
                  "label": "Content",
                  "default": "Phone: (012) 345 6789"
                }
			]		
		},
		{
			"type": "ft_menu",
			"name": "Footer Menu",
			"settings": [
                {
                    "type": "select",
                    "id": "widget_col",
                    "label": "Select Column",
                    "options": [
                        {
                            "label": "2",
                            "value": "2"
                        },
                        {
                            "label": "3",
                            "value": "3"
                        },
                        {
                            "label": "4",
                            "value": "4"
                        },
                        {
                            "label": "5",
                            "value": "5"
                        },
                        {
                            "label": "6",
                            "value": "6"
                        },
                        {
                            "label": "7",
                            "value": "7"
                        },
                        {
                            "label": "8",
                            "value": "8"
                        },
                        {
                            "label": "9",
                            "value": "9"
                        },
                        {
                            "label": "10",
                            "value": "10"
                        },
                        {
                            "label": "11",
                            "value": "11"
                        },
                        {
                            "label": "12",
                            "value": "12"
                        }
                    ],
                    "default": "2"
                },
				{
                    "type": "select",
                    "id": "widget_col_md",
                    "label": "Select Column (Medium Screen)",
                    "options": [
                        {
                            "label": "2",
                            "value": "2"
                        },
                        {
                            "label": "3",
                            "value": "3"
                        },
                        {
                            "label": "4",
                            "value": "4"
                        },
                        {
                            "label": "5",
                            "value": "5"
                        },
                        {
                            "label": "6",
                            "value": "6"
                        },
                        {
                            "label": "7",
                            "value": "7"
                        },
                        {
                            "label": "8",
                            "value": "8"
                        },
                        {
                            "label": "9",
                            "value": "9"
                        },
                        {
                            "label": "10",
                            "value": "10"
                        },
                        {
                            "label": "11",
                            "value": "11"
                        },
                        {
                            "label": "12",
                            "value": "12"
                        }
                    ],
                    "default": "6"
                },
				{
					"type": "text",
					"id": "title",
					"label": "Title",
					"default": "Information"
				},
				{
					"type": "link_list",
					"id": "ft_menu_handle",
					"label": "Select Menu"
				}
			]			
		},
	   {
          "type": "ft_social",
          "name": "Social Widget",
		  "limit": 1,
          "settings": [
                {
                    "type": "select",
                    "id": "widget_col",
                    "label": "Select Column",
                    "options": [
                        {
                            "label": "2",
                            "value": "2"
                        },
                        {
                            "label": "3",
                            "value": "3"
                        },
                        {
                            "label": "4",
                            "value": "4"
                        },
                        {
                            "label": "5",
                            "value": "5"
                        },
                        {
                            "label": "6",
                            "value": "6"
                        },
                        {
                            "label": "7",
                            "value": "7"
                        },
                        {
                            "label": "8",
                            "value": "8"
                        },
                        {
                            "label": "9",
                            "value": "9"
                        },
                        {
                            "label": "10",
                            "value": "10"
                        },
                        {
                            "label": "11",
                            "value": "11"
                        },
                        {
                            "label": "12",
                            "value": "12"
                        }
                    ],
                    "default": "2"
                },                
				{
                    "type": "select",
                    "id": "widget_col_md",
                    "label": "Select Column (Medium Screen)",
                    "options": [
                        {
                            "label": "2",
                            "value": "2"
                        },
                        {
                            "label": "3",
                            "value": "3"
                        },
                        {
                            "label": "4",
                            "value": "4"
                        },
                        {
                            "label": "5",
                            "value": "5"
                        },
                        {
                            "label": "6",
                            "value": "6"
                        },
                        {
                            "label": "7",
                            "value": "7"
                        },
                        {
                            "label": "8",
                            "value": "8"
                        },
                        {
                            "label": "9",
                            "value": "9"
                        },
                        {
                            "label": "10",
                            "value": "10"
                        },
                        {
                            "label": "11",
                            "value": "11"
                        },
                        {
                            "label": "12",
                            "value": "12"
                        }
                    ],
                    "default": "6"
                },
            {
              "type": "text",
              "id": "title",
              "label": "Title",
              "default": "Follow Us On"
            },
				{
					"type": "header",
					"content": "Social 1"
				},
				{
					"type": "text",
					"id": "social1",
					"label": "Title",
					"default": "facebook"
				},
				{
					"type": "url",
					"id": "social1_url",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 2"
				},
				{
					"type": "text",
					"id": "social2",
					"label": "Title",
					"default": "twitter"
				},
				{
					"type": "url",
					"id": "social2_url",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 3"
				},
				{
					"type": "text",
					"id": "social3",
					"label": "Title",
					"default": "instagram"
				},
				{
					"type": "url",
					"id": "social3_url",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 4"
				},
				{
					"type": "text",
					"id": "social4",
					"label": "Title",
					"default": "youtube"
				},
				{
					"type": "url",
					"id": "social4_url",
					"label": "URL"
				},
				{
					"type": "header",
					"content": "Social 5"
				},
				{
					"type": "text",
					"id": "social5",
					"label": "Title",
					"default": "pinterest"
				},
				{
					"type": "url",
					"id": "social5_url",
					"label": "URL"
				}
          ]
       },
	   {
          "type": "ft_instagram",
          "name": "Footer Instgram",
		  "limit": 1,
          "settings": [
                {
                    "type": "select",
                    "id": "widget_col",
                    "label": "Select Column",
                    "options": [
                        {
                            "label": "2",
                            "value": "2"
                        },
                        {
                            "label": "3",
                            "value": "3"
                        },
                        {
                            "label": "4",
                            "value": "4"
                        },
                        {
                            "label": "5",
                            "value": "5"
                        },
                        {
                            "label": "6",
                            "value": "6"
                        },
                        {
                            "label": "7",
                            "value": "7"
                        },
                        {
                            "label": "8",
                            "value": "8"
                        },
                        {
                            "label": "9",
                            "value": "9"
                        },
                        {
                            "label": "10",
                            "value": "10"
                        },
                        {
                            "label": "11",
                            "value": "11"
                        },
                        {
                            "label": "12",
                            "value": "12"
                        }
                    ],
                    "default": "2"
                },                
				{
                    "type": "select",
                    "id": "widget_col_md",
                    "label": "Select Column (Medium Screen)",
                    "options": [
                        {
                            "label": "2",
                            "value": "2"
                        },
                        {
                            "label": "3",
                            "value": "3"
                        },
                        {
                            "label": "4",
                            "value": "4"
                        },
                        {
                            "label": "5",
                            "value": "5"
                        },
                        {
                            "label": "6",
                            "value": "6"
                        },
                        {
                            "label": "7",
                            "value": "7"
                        },
                        {
                            "label": "8",
                            "value": "8"
                        },
                        {
                            "label": "9",
                            "value": "9"
                        },
                        {
                            "label": "10",
                            "value": "10"
                        },
                        {
                            "label": "11",
                            "value": "11"
                        },
                        {
                            "label": "12",
                            "value": "12"
                        }
                    ],
                    "default": "6"
                },
            {
              "type": "text",
              "id": "title",
              "label": "Title",
              "default": "Footer Instagram"
            },
		{
		  "type": "header",
          "content": "Instagram"
        },
		{
            "type": "text",
            "id": "instafeed_user_id",
            "label": "Instafeed Use Id",
            "default": "6665768655",
			"info": "Get Instagram User ID - [Click here](https://codeofaninja.com/tools/find-instagram-user-id)"
        },
		{
            "type": "textarea",
            "id": "instafeed_access_token",
            "label": "Instafeed Access Token",
            "default": "6665768655.1677ed0.313e6c96807c45d8900b4f680650dee5",
			"info": "Get Instagram Access Token - [Click here](https://instagram.pixelunion.net/)"
        },
        {
          "type": "select",
          "id": "ins_img_col",
          "label": "Image Column",
          "options": [
          {
            "label": "2",
            "value": "column_2"
          },
          {
            "label": "3",
            "value": "column_3"
          },
          {
            "label": "4",
            "value": "column_4"
          }
          ],
          	"default": "column_3"
          }, 
		{
          "type": "range",
          "id": "instafeed_limit",
          "min": 1,
          "max": 15,
          "step": 1,
          "label": "Instafeed Limit",
          "default": 8
        },
		{
            "type": "select",
            "id": "image_resolution",
            "label": "Image Resolution",
            "options":[
                {
                    "label": "Thumbnail (150x150)",
                    "value": "thumbnail"
                },
                {
                    "label": "Low Resolution (306x306)",
                    "value": "low_resolution"
                },
                {
                    "label": "Standard Resolution (612x612)",
                    "value": "standard_resolution"
                }
            ],
            "default": "standard_resolution"
        }
          ]
       },

	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 60
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
