<style>
#video-css{
    width: 100%;
/*     height: 100vh; */
}

  @media only screen and (max-width: 767px) {
    #video-css{
    width: 90vw !important;
    height: 25vh !important;
}
}

@media only screen and (max-width: 575px) {
    #video-css{
    width: 90vw !important;
    height: 25vh !important;
}
}


</style>


<div class="banner-area countdown_promotion_banner" id="section-{{ section.id }}">
  <div class="{% if section.settings.section_width == 'full_width' %}container-fluid {% elsif section.settings.section_width == 'box_width' %}container-fluid section-padding-1{% elsif section.settings.section_width == 'default' %}container default {% endif %}">
    
 	 <div class="row align-items-center {{ section.settings.content_align }} {{ section.settings.content_position }}">
      
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'promoton-img' -%}

      <div class="col-md-{{ block.settings.img_product_column_handle }} col-sm-12">
        <div class="banner-img-2 pr-10 scroll-zoom">
          <a href="{{ block.settings.btn1_url }}">
            {%- if block.settings.img1 -%}
            <img class="animated" src="{{ block.settings.img1 | img_url: 'master' }}" alt="{{ image.alt }}">              
            {%- else -%}
		<!--<img class="animated" src="https://via.placeholder.com/760x550" alt="{{ image.alt }}"> -->
            <video autoplay="autoplay" loop="loop" muted="" defaultmuted="" playsinline="" oncontextmenu="return false;" preload="auto" style="object-fit: cover; width: 100% !important;" id="video-css" ><source src="https://cdn.shopify.com/s/files/1/0640/7595/6473/files/HD_ImportVideo_31397.319216_1.mp4?v=1655226782" type="video/mp4"></video>
            {%- endif -%}
          </a>
        </div>
      </div>
      

      {%- when 'promoton-content' -%}

      <div class="col-md-{{ block.settings.content_product_column_handle }} col-sm-12">
        <div class="banner-bg-content scroll-zoom">

          {%- if block.settings.t1 != '' -%}
          <h3>{{ block.settings.t1 }}</h3>
          {%- endif -%}

          {%- if block.settings.t2 != '' -%}
          <h2>{{ block.settings.t2 }}</h2>
          {%- endif -%}

          {%- if block.settings.des_text != '' -%}
          <p>{{ block.settings.des_text }}</p>
          {%- endif -%}

          {%- if block.settings.countdown_date != '' -%}
          <div class="count_down_wrapper">
            <div data-countdown="{{ block.settings.countdown_date }}"></div> 
          </div>  
          {%- endif -%}

          {%- if block.settings.btn1 != '' -%}
            <a class="ban_btn1 {{ block.settings.button_style }}"  href="{{ block.settings.btn1_url }}">{{ block.settings.btn1 }}</a>
          {%- endif -%}
        </div>
      </div>
      
      
      {% if block.settings.content_custom_color %}
      
        {% style %}

       
           {%- assign top_title = block.settings.top_title -%}
           {%- assign bottom_title = block.settings.bottom_title -%}       
           {%- assign des_text_font = block.settings.des_text_font -%}
           {%- assign button_title = block.settings.button_title -%}

           {{ top_title | font_face }}
           {{ bottom_title | font_face }}       
           {{ des_text_font | font_face }}
           {{ button_title | font_face }}

       
          #section-{{ section.id }}.countdown_promotion_banner .banner-bg-content h3 {
             color:{{ block.settings.t1_color }};
             font-family: {{ bottom_title.family }}, {{ bottom_title.fallback_families }};
             font-style: {{ bottom_title.style }};
             font-weight: {{ bottom_title.weight }};
             font-size:{{ block.settings.bottom_title_font_size }}px;
       		 line-hieght:{{ block.settings.bottom_title_font_line_height }}px;
             margin: 0 0 {{ block.settings.bottom_title_margin }}px;
           }

          #section-{{ section.id }}.countdown_promotion_banner .banner-bg-content h2 {       
             color:{{ block.settings.t2_color }};
             font-family: {{ top_title.family }}, {{ top_title.fallback_families }};
             font-style: {{ top_title.style }};
             font-weight: {{ top_title.weight }};
             font-size:{{ block.settings.top_title_font_size }}px;
       		 line-height:{{ block.settings.top_title_font_line_height }}px;
             margin: 0 0 {{ block.settings.top_title_margin }}px;
           }

       
           #section-{{ section.id }}.countdown_promotion_banner .banner-bg-content p {
             color:{{ block.settings.des_text_color }};
             font-family: {{ des_text_font.family }}, {{ des_text_font.fallback_families }};
             font-style: {{ des_text_font.style }};
             font-weight: {{ des_text_font.weight }};
             font-size:{{ block.settings.des_text_font_size }}px;        
             margin: 0 0 {{ block.settings.des_text_font_margin }}px;
       		 line-height:{{ block.settings.des_text_font_line_height }}px;  
           }
       
       
       @media (min-width: 768px) and (max-width: 992px) {

       #section-{{ section.id }}.countdown_promotion_banner .banner-bg-content h3 {
       font-size:{{ block.settings.bottom_title_font_size_md }}px;
       line-hieght:{{ block.settings.bottom_title_font_line_height_md }}px;
       }
       #section-{{ section.id }}.countdown_promotion_banner .banner-bg-content h2 {       
       font-size:{{ block.settings.top_title_font_size_md }}px;
       line-height:{{ block.settings.top_title_font_line_height_md }}px;
       }
       #section-{{ section.id }}.countdown_promotion_banner .banner-bg-content p {
       font-size:{{ block.settings.des_text_font_size_md }}px;        
       line-height:{{ block.settings.des_text_font_line_height_md }}px;  
       }

       }

       @media (min-width: 300px) and (max-width: 767px) {

       #section-{{ section.id }}.countdown_promotion_banner .banner-bg-content h3 {
       font-size:{{ block.settings.bottom_title_font_size_sm }}px;
       line-height:{{ block.settings.bottom_title_font_line_height_sm }}px;
       }
       #section-{{ section.id }}.countdown_promotion_banner .banner-bg-content h2 {       
       font-size:{{ block.settings.top_title_font_size_sm }}px;
       line-height:{{ block.settings.top_title_font_line_height_sm }}px;
       }
       #section-{{ section.id }}.countdown_promotion_banner .banner-bg-content p {
       font-size:{{ block.settings.des_text_font_size_sm }}px;        
       line-height:{{ block.settings.des_text_font_line_height_sm }}px;  
       }

       }
       
       
       
       
            #section-{{ section.id }} .count_down_wrapper .single-countdown {
            border-radius: {{ block.settings.border_radius_count }}px;
            }
       
           #section-{{ section.id }} .banner-bg-content a.ban_btn1 {
           font-family: {{ button_title.family }}, {{ button_title.fallback_families }};
           font-style: {{ button_title.style }};
           font-weight: {{ button_title.weight }};
           font-size:{{ block.settings.button_title_font_size }}px;               
           margin: {{ block.settings.button_title_margin }}px 0 0;
           color: {{ block.settings.btn1_color }};
           }
       
          #section-{{ section.id }} .banner-bg-content a.ban_btn1:hover {
          color: {{ block.settings.btn1_hover_color }};
          }
       
         #section-{{ section.id }} .banner-bg-content a.ban_btn1.banner_style_2{
           border: 1px solid {{ block.settings.btn1_border_color }};
           background: {{ block.settings.btn1_bg_color }};
           border-radius: {{ block.settings.button_border_radius }}px;
           padding:{{block.settings.button_padding_tb}}px {{block.settings.button_padding_lr}}px;
         }

         #section-{{ section.id }} .banner-bg-content a.ban_btn1.banner_style_2:hover{
           background: {{ block.settings.btn1_bg_hover_color }};
           border: 1px solid {{ block.settings.btn1_border_hover_color }};
         } 
       
       
       
         {%- if block.settings.heading_bottom_border_line -%} 

           #section-{{ section.id }}.countdown_promotion_banner .banner-bg-content h2 {
              position: relative;
           }

           #section-{{ section.id }}.countdown_promotion_banner .banner-bg-content h2::before {
             position: absolute;
             content: "";
             background: {{ block.settings.heading_border_bottom_color }};
             height: 4px;
             width: 70px;
             bottom: -{{block.settings.border_top_spacing}}px;
           }

         {%- endif -%}
       


        {% endstyle %}

      {% endif %}
      
      {%- endcase -%}
      {%- endfor -%}
      
    </div>
  </div>
</div>
{%- include 'section-style' -%}




<script>
  $('.count_down_wrapper [data-countdown]').each(function() {
    var $this = $(this), finalDate = $(this).data('countdown');
    $this.countdown(finalDate, function(event) {
      $this.html(event.strftime('<div class="countdown-area"><div class="single-countdown"><div class="count-number">%D</div><div class="count-title">days</div></div><div class="single-countdown"><div class="count-number">%H</div><div class="count-title">Hour</div></div><div class="single-countdown"><div class="count-number">%M</div><div class="count-title">Mint</div></div><div class="single-countdown"><div class="count-number">%S</div><div class="count-title">Sec</div></div></div>'));
    });
  });
</script>



{% schema %}
  {
    "name": "Promotion Banner",
    "settings": [
              {
                "type": "select",
                "id": "section_width",
                "label": "Section Width",
                "options":[
                      {
                          "label": "Full Width",
                          "value": "full_width"
                      },
                      {
                          "label": "Box Width",
                          "value": "box_width"
                      },
                      {
                          "label": "Default Width",
                          "value": "default"
                      }
                  ],
                  "default": "default"
              },
        {
        "type": "select",
        "id": "content_position",
        "label": "Content Position",
        "options":[

            {
            "label": "Left",
            "value": "left-def"
            },
            {
            "label": "Center",
            "value": "pos-center"
            },
            {
            "label": "Right",
            "value": "flex-row-reverse"
            }
          ],
          "default": "left-def"
        },        
		{
        "type": "select",
        "id": "content_align",
        "label": "Content Align",
        "options":[
            {
            "label": "Text left",
            "value": "text-left"
            },
            {
            "label": "Text Center",
            "value": "text-center"
            },
            {
            "label": "Text Right",
            "value": "text-right"
            }
          ],
          "default": "text-left"
        }
	],
	"blocks":[
	   	{
          "type": "promoton-img",
          "name": "Promoton Image",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Promotion Image"
			},
            {
              "type": "select",
              "id": "img_product_column_handle",
              "label": "Image Column",
              "options":[

                    {
                        "label": "12",
                        "value": "12"
                    },
                    {
                        "label": "11",
                        "value": "11"
                    },
                    {
                        "label": "10",
                        "value": "10"
                    },
                    {
                        "label": "9",
                        "value": "9"
                    },
                    {
                        "label": "8",
                        "value": "8"
                    },
                    {
                        "label": "7",
                        "value": "7"
                    },
                    {
                        "label": "6",
                        "value": "6"
                    },
                    {
                        "label": "5",
                        "value": "5"
                    },
                    {
                        "label": "4",
                        "value": "4"
                    },                
                    {
                        "label": "3",
                        "value": "3"
                    },                
                    {
                        "label": "2",
                        "value": "2"
                    },
                    {
                        "label": "1",
                        "value": "1"
                    }
                ],
                "default": "6"
            },
            {
              "type": "image_picker",
              "id": "img1",
              "label": "Image"
            }

          ]
       },

	   	{
          "type": "promoton-content",
          "name": "Promotion Content",
		  "limit": 1,
          "settings": [
              {
                "type": "header",
                "content": "Promotion Content"
              },
              {
              "type": "select",
              "id": "content_product_column_handle",
              "label": "Content Column",
              "options":[

                    {
                        "label": "12",
                        "value": "12"
                    },
                    {
                        "label": "11",
                        "value": "11"
                    },
                    {
                        "label": "10",
                        "value": "10"
                    },
                    {
                        "label": "9",
                        "value": "9"
                    },
                    {
                        "label": "8",
                        "value": "8"
                    },
                    {
                        "label": "7",
                        "value": "7"
                    },
                    {
                        "label": "6",
                        "value": "6"
                    },
                    {
                        "label": "5",
                        "value": "5"
                    },
                    {
                        "label": "4",
                        "value": "4"
                    },                
                    {
                        "label": "3",
                        "value": "3"
                    },                
                    {
                        "label": "2",
                        "value": "2"
                    },
                    {
                        "label": "1",
                        "value": "1"
                    }
                ],
                "default": "6"
            },




            {
              "type": "checkbox",
              "id": "content_custom_color",
              "label": "Content Custom Style Enable",
              "default": false
            },
            {
              "type": "header",
              "content": "Banner Top Title"
            },
            {
              "type": "text",
              "id": "t1",
              "label": "Title 1",
              "default": "35% off Black Monday"
            },

              {
                "type": "font_picker",
                "id": "bottom_title",
                "label": "Font Family: Banner Top Title",
                "default": "poppins_n4"
              },

              {
                "type": "text",
                "id": "bottom_title_font_size",
                "label": "Font Size: Banner Top Title",
                "default": "24",
                "info": "Main Screen"
              },
              {
                "type": "text",
                "id": "bottom_title_font_line_height",
                "label": "Line Height: Banner Top Title",
                "default": "28",
                "info": "Main Screen"
              },
              {
                "type": "header",
                "content": "Medium Screen"
              },
              {
                "type": "text",
                "id": "bottom_title_font_size_md",
                "label": "Font Size: Banner Top Title (MD)",
                "default": "24",
                "info": "Medium Screen"
              },
              {
                "type": "text",
                "id": "bottom_title_font_line_height_md",
                "label": "Line Height: Banner Top Title (MD)",
                "default": "28",
                "info": "Medium Screen"
              },              
			  {
                "type": "header",
                "content": "Small Screen"
              },
              {
                "type": "text",
                "id": "bottom_title_font_size_sm",
                "label": "Font Size: Banner Top Title (SM)",
                "default": "24",
                "info": "Small Screen"
              },
              {
                "type": "text",
                "id": "bottom_title_font_line_height_sm",
                "label": "Line Height: Banner Top Title (SM)",
                "default": "28",
                "info": "Small Screen"
              },


              {
                "type": "color",
                "id": "t1_color",
                "label": "Banner Top Title Color",
                "default": "#1f2226"
              },
              {
                "type":      "range",
                "id":        "bottom_title_margin",
                "min":       0,
                "max":        70,
                "step":       1,
                "unit":       "px",
                "label":     "Banner Top Title Margin Bottom",
                "default":   15
              },





            {
              "type": "header",
              "content": "Banner Middle Title"
            },

            {
              "type": "text",
              "id": "t2",
              "label": "Title 2",
              "default": "Lighting For Home."
            },
              {
                "type": "font_picker",
                "id": "top_title",
                "label": "Font Family: Banner Middle Title",
                "default": "poppins_n5"
              },
              {
                "type": "text",
                "id": "top_title_font_size",
                "label": "Font Size: Banner Middle Title",
                "default": "55",
                "info": "Main Screen"
              },
              {
                "type": "text",
                "id": "top_title_font_line_height",
                "label": "Line Height: Banner Middle Title",
                "default": "60",
                "info": "Main Screen"
              },
              {
                "type": "header",
                "content": "Medium Screen"
              },              
			  {
                "type": "text",
                "id": "top_title_font_size_md",
                "label": "Font Size: Banner Middle Title (MD)",
                "default": "40",
                "info": "Medium Screen"
              },
              {
                "type": "text",
                "id": "top_title_font_line_height_md",
                "label": "Line Height: Banner Middle Title (MD)",
                "default": "50",
                "info": "Medium Screen"
              },              
			  {
                "type": "header",
                "content": "Small Screen"
              },			  
			  {
                "type": "text",
                "id": "top_title_font_size_sm",
                "label": "Font Size: Banner Middle Title (SM)",
                "default": "30",
                "info": "Small Screen"
              },
              {
                "type": "text",
                "id": "top_title_font_line_height_sm",
                "label": "Line Height: Banner Middle Title (SM)",
                "default": "40",
                "info": "Small Screen"
              },  
            {
              "type": "color",
              "id": "t2_color",
              "label": "Banner Middle Title Color",
              "default": "#1f2226"
            },
              {
                "type":      "range",
                "id":        "top_title_margin",
                "min":       0,
                "max":        70,
                "step":       1,
                "unit":       "px",
                "label":     "Banner Middle Margin Bottom",
                "default":   20
              },

              {
                "type": "checkbox",
                "id": "heading_bottom_border_line",
                "label": "Title Middle Bottom Border Enable",
                "default": false
              },
              {
                "type": "color",
                "id": "heading_border_bottom_color",
                "label": "Title Middle Bottom Border Color",
                "default": "#333"
              },
              {
                "type":      "range",
                "id":        "border_top_spacing",
                "min":       0,
                "max":        50,
                "step":       1,
                "unit":       "px",
                "label":     "Border Top Spacing",
                "default":   10
              },






            {
              "type": "header",
              "content": "Banner Description Title"
            },

            {
              "type": "textarea",
              "id": "des_text",
              "label": "Banner Description Text",
              "default": "For all your new furniture, seating & storage needs, all at fantastic prices."
            },
              {
                "type": "font_picker",
                "id": "des_text_font",
                "label": "Font Family: Banner Description",
                "default": "poppins_n4"
              },

            {
              "type": "color",
              "id": "des_text_color",
              "label": "Banner Description Text Color",
              "default": "#1f2226"
            },
              {
                "type": "text",
                "id": "des_text_font_size",
                "label": "Font Size: Paragraph Font Size",
                "default": "18",
                "info": "Banner Description Font Size"
              },
              {
                "type": "text",
                "id": "des_text_font_line_height",
                "label": "Line Height: Paragraph Line Height",
                "default": "28",
                "info": "Banner Description Line Height"
              },
              {
                "type": "header",
                "content": "Medium Screen"
              },              
			  {
                "type": "text",
                "id": "des_text_font_size_md",
                "label": "Font Size: Paragraph Font Size (MD)",
                "default": "16",
                "info": "Medium Screen"
              },
              {
                "type": "text",
                "id": "des_text_font_line_height_md",
                "label": "Line Height: Paragraph Line Height (MD)",
                "default": "26",
                "info": "Medium Screen"
              },
              {
                "type": "header",
                "content": "Small Screen"
              },

              {
                "type": "text",
                "id": "des_text_font_size_sm",
                "label": "Font Size: Paragraph Font Size (SM)",
                "default": "14",
                "info": "Small Screen"
              },
              {
                "type": "text",
                "id": "des_text_font_line_height_sm",
                "label": "Line Height: Paragraph Line Height (SM)",
                "default": "24",
                "info": "Small Screen"
              },

              {
                "type":      "range",
                "id":        "des_text_font_margin",
                "min":       0,
                "max":        70,
                "step":       1,
                "unit":       "px",
                "label":     "Banner Description Margin Bottom",
                "default":   15
              },




            {
              "type": "header",
              "content": "Countdown Area"
            },

            {
              "type": "text",
              "id": "countdown_date",
              "label": "Countdown Date",
              "default": "2021/11/11",
              "info": "Example: 2022/11/12"
            },

            {
			"type": "range",
              "id": "border_radius_count",
              "label": "Countdown Border Radius",
                "min": 0,
                "max": 100,
                "step": 10,
                "default": 10,
				"unit": "px"
            },



            {
              "type": "header",
              "content": "Button Area"
            },

            {
              "type": "text",
              "id": "btn1",
              "label": "Button",
              "default": "SHOP NOW"
            },
            {
              "type": "url",
              "id": "btn1_url",
              "label": "URL",
              "default": "\/collections\/all"
            },

              {
                "type": "font_picker",
                "id": "button_title",
                "label": "Font Family: Botton Title",
                "default": "poppins_n3"
              },
              {
                "type": "text",
                "id": "button_title_font_size",
                "label": "Font Size: Font Size",
                "default": "14",
                "info": "Botton Title Font Size"
              },
              {
                "type":      "range",
                "id":        "button_title_margin",
                "min":       0,
                "max":        70,
                "step":       1,
                "unit":       "px",
                "label":     "Button Title Margin Top",
                "default":   10
              },
              {
                "type": "select",
                "id": "button_style",
                "label": "Button_style",
                "options":[
                      {
                          "label": "Default",
                          "value": "default"
                      },
                      {
                          "label": "Style 2",
                          "value": "banner_style_2"
                      }
                  ],
                  "default": "default"
              },
              {
                "type": "range",
                "id": "button_border_radius",
                "min": 0,
                "max": 50,
                "step": 1,
                "label": "Button Border Radius",
                "unit": "px",
                "default": 0
              },
              {
                "type": "range",
                "id": "button_padding_tb",
                "min": 0,
                "max": 50,
                "step": 1,
                "label": "Button Padding Top Bottom",
                "unit": "px",
                "default": 15
              },
              {
                "type": "range",
                "id": "button_padding_lr",
                "min": 0,
                "max": 100,
                "step": 1,
                "label": "Button Padding Left Right",
                "unit": "px",
                "default": 30
              },
              {
                  "type": "color",
                  "id": "btn1_color",
                  "label": "Button Color",
                  "default": "#1f2226"
              },
              {
                  "type": "color",
                  "id": "btn1_hover_color",
                  "label": "Button Hover Color",
                  "default": "#1f2226"
              },              
			  {
                  "type": "color",
                  "id": "btn1_bg_color",
                  "label": "Button BG Color",
                  "default": "#fff"
              },
              {
                  "type": "color",
                  "id": "btn1_bg_hover_color",
                  "label": "Button BG Hover Color",
                  "default": "#000"
              },
			  {
                  "type": "color",
                  "id": "btn1_border_color",
                  "label": "Button Border Color",
                  "default": "#fff"
              },
              {
                  "type": "color",
                  "id": "btn1_border_hover_color",
                  "label": "Button Border Hover Color",
                  "default": "#000"
              }


          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Promotion Banner",
		  "category": "2. Banner",
		  "blocks":[
				{
					"type": "section_padding"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}