{%- if section.settings.recent_viewed_product -%}
<section class="recent_view_product mb-90 mb-md-80 mb-sm-70" id="section-{{ section.id }}">
  <div class="container">
    
    {% if section.settings.section_title != '' or section.settings.section_sub_title != '' %}
    <div class="section-title {{ section.settings.title_align }} pb-60">
      {% if section.settings.section_title != '' %}
      <h2>{{ section.settings.section_title }}</h2>
      {% endif %}

      {% if section.settings.section_sub_title != '' %}
      <p>{{ section.settings.section_sub_title }}</p>
      {% endif %}
    </div>
    {% endif %} 
    
    <div  class="row">
      <div class="recent_view_products-grid owl-carousel" id="recent_view_product-grid">

      </div>
    </div>
    
  </div>
</section>
{%- endif -%}




{% raw %}
<script id="recently-viewed-product-grid-template"  type="text/x-jquery-tmpl">
{% endraw %}
<div class="{% raw %} col">
  <div id="product-${id}" class="recent_view_product_grid {{if !available}} sold-out {{/if}}{{if compare_at_price_min > price_min}} on-sale {{/if}}">
      <div class="product-thumbnail">
          <a href="${url}" class="product-grid-image">
            <img src="${Shopify.Products.resizeImage(featured_image, "400x600")}" alt="${featured_image.alt}"/>
          </a>
        </div>
     
  
      <div class="recent_view_product__content">
        <h3 class="product__title"><a class="product-title" href="${url}">${title}</a></h3>
        <p class="pro-price">   
					{{if compare_at_price > price}} 
					<span class="old-price"> {{html Shopify.formatMoney(compare_at_price)}}</span>
					<span class="new-price">{{html Shopify.formatMoney(price)}}</span>
					{{else}}
					<span class="new-price">{{html Shopify.formatMoney(price)}}</span>
					{{/if}}
				</p>
        
    
        <div class="action">
          <form action="/cart/add" method="post" class="variants" id="product-actions-${id}" enctype="multipart/form-data" style="padding:0px;">    
            {{if !available}} 
            <input class="recent_view_button" type="submit" {% endraw %} value="{{ 'products.product.sold_out' | t }}{% raw %}" disabled="disabled"/>
            {{else variants.length > 1 }}
            <a class="recent_view_button" href="${url}">{% endraw %} {{ 'products.product.select_options' | t }}{% raw %}</a>
            {{else}}
            <input type="hidden" name="id" value="${variants[0].id}" />      
            <input class="recent_view_button" type="submit" {% endraw %} value="{{ 'products.product.add_to_cart' | t }}{% raw %}"/>
            {{/if}}
          </form>
        </div>    
    
    </div>
  </div>
</div>
</script>
{% endraw %}


<script>
window.money_format = "{{ shop.money_with_currency_format }}";  
Shopify.Products.showRecentlyViewed({ 
  howManyToShow: {{ section.settings.number_of_recently_viewed_products }}, 
  wrapperId: 'recent_view_product-grid', 
  templateId: 'recently-viewed-product-grid-template',
  onComplete: function() {
    if (jQuery("#recent_view_product-grid").children().length > 0) {
      jQuery(".recent_view_product").show();
      if (window.product_image_resize) {
          jQuery('#recent_view_product-grid img').fakecrop({ 
            fill: window.images_size.is_crop,
            widthSelector: ".recent_view_products-grid .product-thumbnail",
            ratioWrapper: window.images_size
          });
      }
      
       $('#recent_view_product-grid').owlCarousel({
        nav: false,
        navText:  ['<i class="sli sli-arrow-left"></i>', '<i class="sli sli-arrow-right"></i>'],
       	loop: false,
        autoplay: true,
        autoplayTimeout: 5000,
        items: 4,
        {%- if settings.rtl_enable -%}
        rtl: true, 
        {%- endif -%}
        dots: false,
         responsiveClass:true,
          responsive:{
            0:{
              items:1,
            },
            479:{
              items:2,
            },
            575:{
              items:2,
            },
            767:{
              items:2,
            },
            992:{
              items:3,
            },
            1200:{
              items:4,
            }

          }
      });

  
      if (window.show_multiple_currencies) {
         Currency.convertAll(window.shop_currency, jQuery('#currencies').val(), 'span.money', 'money_format');
      }     
    }    
  }
});
  
</script>




{% if section.settings.section_title_custom_color %}
<style>
  #section-{{ section.id }} .section-title h2{
    color: {{ section.settings.section_title_color }};
    font-size:{{ section.settings.section_title_font_size }}px;
  }

  #section-{{ section.id }} .section-title p{
    color: {{ section.settings.section_subtitle_color }};
    font-size:{{ section.settings.section_des_font_size }}px;
  }
</style>
{% endif %}





{%- include 'section-style' -%}



{% schema %}
  {
    "name": "Recent Viewed Product",
    "settings": [
		{
        "type": "header",
        "content": "Recently Viewed Products"
      },
      {
        "type": "checkbox",
        "id": "recent_viewed_product",
        "label": "Display Recently Viewed Products?",
        "default": true
      },
		{
			"type": "header",
            "content": "Section Title"
        },

		{
            "type": "text",
            "id": "section_title",
            "label": "Title",
            "default": "Recent View"
        },
		{
            "type": "textarea",
            "id": "section_sub_title",
            "label": "Subtitle",
            "default": "Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical"
        },
        {
          "type": "checkbox",
          "id": "section_title_custom_color",
          "label": "Section Title Color Enable",
          "default": false
        },
        {
          "type": "color",
          "id": "section_title_color",
          "label": "Title Color",
          "default": "#1f2226"
        },
        {
          "type": "color",
          "id": "section_subtitle_color",
          "label": "Subtitle Color",
          "default": "#5a5a5a"
        },			
		{
                "type": "select",
                "id": "title_align",
                "label": "Title Align",
                "options":[
                      {
                          "label": "Text Left",
                          "value": "text-left"
                      },
                      {
                          "label": "Text Center",
                          "value": "text-center"
                      },
                      {
                          "label": "Text Right",
                          "value": "text-right"
                      }
                  ],
                  "default": "text-center"
              },        
              {
                "type": "text",
                "id": "section_title_font_size",
                "label": "Font Size: Font Size",
                "default": "30",
                "info": "Section Title Font Size"
              },              
			  {
                "type": "text",
                "id": "section_des_font_size",
                "label": "Font Size: Font Size",
                "default": "14",
                "info": "Section Description Font Size"
              },

      {
        "type": "text",
        "id": "number_of_recently_viewed_products",
        "label": "Number of recently viewed products",
        "default": "50"
      }
	],
	"blocks":[
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 60
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	]
  }
{% endschema %}