<div class="slider-area {% if section.settings.section_width == 'full_width' %}container-fluid {% elsif section.settings.section_width == 'box_width' %}container-fluid section-padding-1{% elsif section.settings.section_width == 'default' %}default {% endif %} slider_style_1" id="section-{{ section.id }}" data-section="heroOwlSlider">
   
  <div class="slider-active-boxed owl-carousel dot-style-1 {{section.settings.dot_style}} nav-style-{% if section.settings.nav_style == 'style_1' %}1{% elsif section.settings.nav_style == 'style_3' %}3{% elsif section.settings.nav_style == 'style_4' %}2 nav_2_left{% else %}2{% endif %}" data-owl-carousel='{
 
      "loop": true,
      
      {% if section.settings.dot_style == 'dot_hide' %}
      	 "dots": false,
      {% else %}
     	 "dots": true,
      {% endif %}
      
      {% if section.settings.nav_style == 'style_5' %}
          "nav": false,
      {% else %}
          "nav": true,
      {% endif %}
      
      {% if settings.rtl_enable %}
      "rtl": true,
      {% endif %}
      "autoplay": false,
      {%- if section.settings.nav_style == 'style_1' -%}
      "navText": ["<i class=&#x27;sli sli-arrow-left&#x27;></i>","<i class=&#x27;sli sli-arrow-right&#x27;></i>"],
      {%- elsif section.settings.nav_style == 'style_2' -%}
      "navText": ["<i class=&#x27;sli sli-arrow-up&#x27;></i>","<i class=&#x27;sli sli-arrow-down&#x27;></i>"],
      {%- elsif section.settings.nav_style == 'style_4' -%}
      "navText": ["<i class=&#x27;sli sli-arrow-up&#x27;></i>","<i class=&#x27;sli sli-arrow-down&#x27;></i>"],
      {%- elsif section.settings.nav_style == 'style_3' -%}
      "navText": ["<i class=&#x27;sli sli-arrow-up&#x27;></i><span>Prev</span>","<i class=&#x27;sli sli-arrow-down&#x27;></i><span>Next</span>"],
	  {%- endif -%}
      "autoplayTimeout": 5000,
      "animateOut": "fadeOut",
      "animateIn": "fadeIn",
      "item": 1,
        "responsive": {
            "0": {
                "items": 1
            },
            "768": {
                "items": 1
            },
            "1000": {
                "items": 1
            }
      }}'>


      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'slide' -%}
      <div class="class-{{block.id}} single-slider d-flex align-items-center" style="background-color:{{ block.settings.sec_bg_color }};height: {% if section.settings.slider_height_opt == 'fixed_height' %}{{ section.settings.p_top }}px {% else %} 100vh {%endif%};{%- if block.settings.slider_bg_img -%}background-image: url('{{ block.settings.slider_bg_img | img_url: 'master' }}'){% endif %}">
        <div class="{% if section.settings.content_width == 'full_width' %}container-fluid {% elsif section.settings.content_width == 'box_width' %}container-fluid section-padding-1{% elsif section.settings.content_width == 'default' %}default container {% endif %}">
          <div class="row align-items-left {% if block.settings.content_position == 'right' %} flex-row-reverse {% elsif block.settings.content_position == 'center' %}justify-content-center {% elsif block.settings.content_position == 'left' %} justify-content-left{% endif %}">
  
            <div class="col-lg-{{block.settings.slider_content_col}} col-md-{{block.settings.slider_content_col_md}} col-sm-12 col-12">
              <div class="slider-content slider-animated-1 text-{% if block.settings.content_align == 'center' %}center{% elsif block.settings.content_align == 'right' %}right{% else %}left{% endif %}">
  
  
                {%- if block.settings.title_top != '' -%}
                <h3 class="animated">{{ block.settings.title_top }}</h3>
                {%- endif -%}
  
  
                {%- if block.settings.title1 != '' -%}
                <h1 class="animated">{{ block.settings.title1 }}</h1>
                {%- endif -%}
  
                {%- if block.settings.description != '' -%}
                <p class="animated">{{ block.settings.description }}</p>
                {%- endif -%}
  
                {%- if block.settings.btn != '' -%}
                <div class="slider-btn btn-hover">
                  <a class="animated" href="{{ block.settings.btn_url }}">
                    {{ block.settings.btn }} {% if block.settings.show_icon %} <i style="font-size:{{ block.settings.btn_font_size }}px;" class="sli sli-basket-loaded"></i>{% endif %}
                  </a>
                </div>
                {%- endif -%}
  
              </div>
            </div>
  
            {%- if block.settings.slider_img_enable -%}
            <div class="col-lg-{{block.settings.slider_img_col}} col-md-{{block.settings.slider_img_col_md}} col-sm-12 col-12">
              <div class="slider-single-img slider-animated-1">
                {%- if block.settings.slider_img -%}
                <img class="animated" src="{{ block.settings.slider_img | img_url: 'master' }}" alt="{{ image.alt }}">
                {%- else -%}
                <img class="animated" src="https://via.placeholder.com/620x877" alt="{{ image.alt }}">
                {%- endif -%}
              </div>
            </div>
            {%- endif -%}
  
          </div>
        </div>
  
  
  
 
  
        {%- if block.settings.slider_content_custom_style -%}    
        
            {%- assign header_font_top = block.settings.header_font_top -%}
            {%- assign header_font_slider = block.settings.header_font_slider -%}
            {%- assign paragraph_font_slider = block.settings.paragraph_font_slider -%}
            {%- assign button_font_slider = block.settings.button_font_slider -%} 

          <style>
            {{ header_font_top | font_face }}
            {{ header_font_slider | font_face }}
            {{ paragraph_font_slider | font_face }}
            {{ button_font_slider | font_face }}

            #section-{{ section.id }}.slider-area .class-{{block.id}}.single-slider .slider-content h3 {
              font-family: {{ header_font_top.family }}, {{ header_font_top.fallback_families }};
              font-style: {{ header_font_top.style }};
              font-weight: {{ header_font_top.weight }};
              color:{{ block.settings.header_top_color }};
              font-size:{{ block.settings.header_font_top_size }}px;
              line-height: {{block.settings.header_font_top_line_height}}px;
              margin-bottom: {{block.settings.header_font_top_margin_bottom}}px;
            }
            #section-{{ section.id }}.slider-area .class-{{block.id}}.single-slider .slider-content h3 span {
              color: {{ settings.color_primary }};
            }

            #section-{{ section.id }}.slider-area .class-{{block.id}}.single-slider .slider-content h1 {
              font-family: {{ header_font_slider.family }}, {{ header_font_slider.fallback_families }};
              font-style: {{ header_font_slider.style }};
              font-weight: {{ header_font_slider.weight }};
              color:{{ block.settings.title1_color }};
              font-size:{{ block.settings.title1_font_size }}px;
              line-height: {{block.settings.heading_line_height}}px;
              margin-bottom: {{block.settings.title_margin_bottom}}px;
            }
            #section-{{ section.id }}.slider-area .class-{{block.id}}.single-slider .slider-content h1 span {
              color: {{ settings.color_primary }};
            }
            
            #section-{{ section.id }}.slider-area .class-{{block.id}}.single-slider .slider-content p {
              font-family: {{ paragraph_font_slider.family }}, {{ paragraph_font_slider.fallback_families }};
              font-style: {{ paragraph_font_slider.style }};
              font-weight: {{ paragraph_font_slider.weight }};
              color:{{ block.settings.description_color }};
              font-size:{{ block.settings.description_font_size }}px;
              line-height: {{block.settings.des_line_height}}px;
              margin:0 0 {{block.settings.des_margin_bottom}}px;
            }
            
            #section-{{ section.id }}.slider-area .class-{{block.id}}.single-slider .slider-content p span {
              color: {{ settings.color_primary }};
            }
            
            #section-{{ section.id }}.slider-area .class-{{block.id}}.single-slider .slider-content .slider-btn a {
              background-color: {{ block.settings.btn_bg_color }};
              color: {{ block.settings.btn_color }};
              border: 1px solid {{ block.settings.btn_border_color }};
              border-radius: {{ block.settings.btn_border_radius }}px;
              padding:{{block.settings.button_padding_tb}}px {{block.settings.button_padding_lr}}px;
              text-transform: unset;
              font-size:{{ block.settings.btn_font_size }}px;
              font-family: {{ button_font_slider.family }}, {{ button_font_slider.fallback_families }};
              font-style: {{ button_font_slider.style }};
              font-weight: {{ button_font_slider.weight }};
            }
            #section-{{ section.id }}.slider-area .class-{{block.id}}.single-slider .slider-content .slider-btn{
              margin-top: {{block.settings.button_margin_top}}px;
            }
            #section-{{ section.id }}.slider-area .class-{{block.id}}.single-slider .slider-content .slider-btn a i {
              color: {{ block.settings.btn_color }};
              font-size:{{ block.settings.btn_font_size }}px;
            }
            #section-{{ section.id }}.slider-area .class-{{block.id}}.single-slider .slider-content .slider-btn a:hover {
              background-color: {{ block.settings.btn_hover_bg_color }};
              color: {{ block.settings.btn_hover_color }};
              border: 1px solid {{ block.settings.btn_hover_border_color }};
            }
            #section-{{ section.id }}.slider-area .class-{{block.id}}.single-slider .slider-content .slider-btn a:hover i {
              color: {{ block.settings.btn_hover_color }};
            }
            
            
            
            #section-{{ section.id }}.slider-area .owl-item.active .class-{{block.id}}.single-slider .slider-animated-1 h3 {
              -webkit-animation-name: {{block.settings.content_animation}};
              animation-name: {{block.settings.content_animation}};
            }
            #section-{{ section.id }}.slider-area .owl-item.active .class-{{block.id}}.single-slider .slider-animated-1 h1 {
              -webkit-animation-name: {{block.settings.content_animation}};
              animation-name: {{block.settings.content_animation}};
            }
            #section-{{ section.id }}.slider-area .owl-item.active .class-{{block.id}}.single-slider .slider-animated-1 p {
              -webkit-animation-name: {{block.settings.content_animation}};
              animation-name: {{block.settings.content_animation}};
            }
            #section-{{ section.id }}.slider-area .owl-item.active .class-{{block.id}}.single-slider .slider-animated-1 a {
              -webkit-animation-name: {{block.settings.content_animation}};
              animation-name: {{block.settings.content_animation}};
            }
            
            
            
            
            {%- if block.settings.heading_bottom_border_line -%} 

            #section-{{ section.id }}.slider-area .class-{{block.id}}.single-slider .slider-content h1 {
              position: relative;
            }

            #section-{{ section.id }}.slider-area .class-{{block.id}}.single-slider .slider-content h1::before {
              position: absolute;
              content: "";
              background: {{ block.settings.heading_border_bottom_color }};
              height: 5px;
              width: 70px;
              bottom: -{{block.settings.border_top_spacing}}px;
            }
            
            {%- endif -%}
            
            
            

          </style>
  
        {%endif%}
  
      </div>
  
      {%- endcase -%}
      {%- endfor -%}
  
  
    </div>
  </div>
  
  
  
  {%- if section.settings.nav_custom_style -%}  
  <style>
    #section-{{ section.id }}.slider-area .nav-style-1.owl-carousel .owl-nav div, 
    #section-{{ section.id }}.slider-area .nav-style-2 .owl-nav div, 
    #section-{{ section.id }}.slider-area .nav-style-3 .owl-nav div {
      color: {{ section.settings.controlnav_color }};
      background-color: {{ section.settings.controlnav_bg_color }};
      border: 1px solid {{ section.settings.controlnav_border_color }};
      border-radius:{{section.settings.nav_border_radius}}px;
    }
    #section-{{ section.id }}.slider-area .nav-style-1.owl-carousel .owl-nav div:hover, 
    #section-{{ section.id }}.slider-area .nav-style-2 .owl-nav div:hover, 
    #section-{{ section.id }}.slider-area .nav-style-3 .owl-nav div:hover {
      color: {{ section.settings.hover_controlnav_color }};
      background-color: {{ section.settings.hover_controlnav_bg_color }};
      border: 1px solid {{ section.settings.hover_controlnav_border_color }};
    }
  </style>
  {%endif%}
  
  
  {%- if section.settings.dot_custom_style -%}  
  <style>

    #section-{{ section.id }}.slider-area .dot-style-1 .owl-dots .owl-dot {
      border: 1px solid {{section.settings.dot_color}};
      outline: 1px solid {{section.settings.dot_color}};
    }

    #section-{{ section.id }}.slider-area .dot-style-1 .owl-dots .owl-dot.active {
      background-color: {{section.settings.dot_active_color}};
      border: 1px solid {{section.settings.dot_active_color}};
      outline: 1px solid {{section.settings.dot_active_color}};
    }    

  </style>
  {%endif%}







{% if section.settings.enable_custom_res_height %}
<style>
  
  @media (min-width: 1171px) and (max-width: 1366px){
    #section-{{ section.id }} .single-slider {
      height: {{section.settings.slider_height_1366}}px !important;
    }

  }
  
  @media (min-width: 992px) and (max-width: 1170px){
    #section-{{ section.id }} .single-slider {
      height: {{section.settings.slider_height_1170}}px !important;
    }

  }  
    
  @media (min-width: 768px) and (max-width: 991px){
    #section-{{ section.id }} .single-slider {
      height: {{section.settings.slider_height_991}}px !important;
    }

  }
  
      
  @media (min-width: 576px) and (max-width: 767px){
    #section-{{ section.id }} .single-slider {
      height: {{section.settings.slider_height_767}}px !important;
    }

  }
  
        
  @media (max-width: 575px){
    #section-{{ section.id }} .single-slider {
      height: {{section.settings.slider_height_575}}px !important;
    }

  }
  

</style>
{%endif%}




  
  
  {% schema %}
    {
      "name": "Slider",
      "settings": [
                {
                  "type": "select",
                  "id": "section_width",
                  "label": "Section Width",
                  "options":[
                        {
                            "label": "Full Width",
                            "value": "full_width"
                        },
                        {
                            "label": "Box Width",
                            "value": "box_width"
                        },
                        {
                            "label": "Default Width",
                            "value": "default"
                        }
                    ],
                    "default": "default"
                },
                {
                  "type": "select",
                  "id": "content_width",
                  "label": "Content Width",
                  "options":[
                        {
                            "label": "Full Width",
                            "value": "full_width"
                        },
                        {
                            "label": "Box Width",
                            "value": "box_width"
                        },
                        {
                            "label": "Default Width",
                            "value": "default"
                        }
                    ],
                    "default": "default"
                },
                {
                  "type": "select",
                  "id": "slider_height_opt",
                  "label": "Slider Height Style (Main Screen)",
                  "options":[
                        {
                            "label": "Fixed Height",
                            "value": "fixed_height"
                        },
                        {
                            "label": "Full Height",
                            "value": "full_height"
                        }
                    ],
                    "default": "fixed_height"
                },
          {
            "type": "text",
            "id": "p_top",
            "label": "Slider Height (Main Screen)",
            "default": "840",
            "info": "Don't add 'px' unit. Just put number."
          },
          {
            "type": "checkbox",
            "id": "enable_custom_res_height",
            "label": "Enable Custom Responsive Height",
            "default": false
          },
          {
            "type": "range",
            "id": "slider_height_1366",
            "label": "Slider Height (XL)",
            "max": 1000,
            "min": 100,
            "step": 10,
            "default": 700,
            "unit": "px",
            "info": "Screen Size (1171-1366)"
          },
          {
            "type": "range",
            "id": "slider_height_1170",
            "label": "Slider Height (LG)",
            "max": 1000,
            "min": 100,
            "step": 10,
            "default": 600,
            "unit": "px",
            "info": "Screen Size (992-1170)"
          },
          {
            "type": "range",
            "id": "slider_height_991",
            "label": "Slider Height (MD)",
            "max": 1000,
            "min": 100,
            "step": 10,
            "default": 500,
            "unit": "px",
            "info": "Screen Size (768-991)"
          },

          {
            "type": "range",
            "id": "slider_height_767",
            "label": "Slider Height (SM)",
            "max": 1000,
            "min": 100,
            "step": 10,
            "default": 450,
            "unit": "px",
            "info": "Screen Size (576-767)"
          },

          {
            "type": "range",
            "id": "slider_height_575",
            "label": "Slider Height (XS)",
            "max": 1000,
            "min": 100,
            "step": 10,
            "default": 400,
            "unit": "px",
            "info": "Screen Size (Max 575)"
          },






          {
            "type": "header",
            "content": "Navigation"
          },
          {
            "type": "select",
            "id": "nav_style",
            "label": "Nav Style",
            "options": [
                {"label": "Style 1", "value": "style_1"},
                {"label": "Style 2", "value": "style_2"},
                {"label": "Style 3", "value": "style_3"},
                {"label": "Style 4", "value": "style_4"},
                {"label": "Hide Nav", "value": "style_5"}
            ],
            "default": "style_1"
          },        
          {
            "type": "checkbox",
            "id": "nav_custom_style",
            "label": "Nav Custom Style Enable",
            "default": false
          },
          {
            "type": "range",
            "id": "nav_border_radius",
            "label": "Nav Border Radius",
            "max": 50,
            "min": 0,
            "step": 1,
            "default": 30,
            "unit": "px"
          },
          {
            "type": "color",
            "id": "controlnav_color",
            "label": "Color",
            "default": "#1f2226"
          },
          {
            "type": "color",
            "id": "controlnav_bg_color",
            "label": "BG Color",
            "default": "#fff"
          },
          {
            "type": "color",
            "id": "controlnav_border_color",
            "label": "Border Color",
            "default": "#e1e2e2"
          },
          {
            "type": "color",
            "id": "hover_controlnav_color",
            "label": "Hover Color",
            "default": "#fff"
          },
          {
            "type": "color",
            "id": "hover_controlnav_bg_color",
            "label": "Hover BG Color",
            "default": "#ff3535"
          },
          {
            "type": "color",
            "id": "hover_controlnav_border_color",
            "label": "Hover Border Color",
            "default": "#ff3535"
          },
          {
            "type": "select",
            "id": "dot_style",
            "label": "Dot Position",
            "options": [
                {"label": "Left", "value": "dot_left"},
                {"label": "Bottom", "value": "dot_bottom"},
                {"label": "Right", "value": "dot_right"},
                {"label": "Hide Dot", "value": "dot_hide"}
            ],
            "default": "dot_left"
          },
          {
            "type": "checkbox",
            "id": "dot_custom_style",
            "label": "Dot Custom Style Enable",
            "default": false
          },
          {
            "type": "color",
            "id": "dot_color",
            "label": "Color",
            "default": "#96bf48"
          },
          {
            "type": "color",
            "id": "dot_active_color",
            "label": "Dot Active Color",
            "default": "#96bf48"
          }
  
  
  
      ],
      "blocks": [
          {
              "type": "slide",
              "name": "Slide",
              "settings": [
                  {
                    "type": "select",
                    "id": "content_position",
                    "label": "Slider Content Position",
                    "options": [
                      {"label": "Content Left", "value": "left"},
                      {"label": "Content center", "value": "center"},
                      {"label": "Content Right", "value": "right"}
                    ],
                    "default": "left"
                  },
                  {
                    "type": "select",
                    "id": "content_align",
                    "label": "Content Alignment",
                    "options": [
                        {"label": "Left", "value": "left"},
                        {"label": "Center", "value": "center"},
                        {"label": "Right", "value": "right"}
                    ],
                    "default": "left"
                  },
                  {
                    "type": "select",
                    "id": "content_animation",
                    "label": "Slider Animation",
                    "options": [
                      {"label": "Animation Left", "value": "fadeInLeft"},
                      {"label": "Animation Right", "value": "fadeInRight"},
                      {"label": "Animation Up", "value": "fadeInUp"},
                      {"label": "Animation Down", "value": "fadeInDown"},
					  {"label": "Animation Fade", "value": "fade"}
                    ],
                    "default": "fadeInLeft"
                  },
  
                  {
                      "type": "select",
                      "id": "slider_content_col",
                      "label": "Select Content Column (Main Screen)",
                      "options": [
                          {
                            "label": "1 (1/12)",
                            "value": "1"
                          },
                          {
                            "label": "2 (2/12)",
                            "value": "2"
                          },
                          {
                            "label": "3 (3/12)",
                            "value": "3"
                          },
                          {
                            "label": "4 (4/12)",
                            "value": "4"
                          },
                          {
                            "label": "5 (5/12)",
                            "value": "5"
                          },
                          {
                            "label": "6 (6/12)",
                            "value": "6"
                          },
                          {
                            "label": "7 (7/12)",
                            "value": "7"
                          },
                          {
                            "label": "8 (8/12)",
                            "value": "8"
                          },
                          {
                            "label": "9 (9/12)",
                            "value": "9"
                          },
                          {
                            "label": "10 (10/12)",
                            "value": "10"
                          },
                          {
                            "label": "11 (11/12)",
                            "value": "11"
                          },
                          {
                            "label": "12 (12/12)",
                            "value": "12"
                          }
                      ],
                      "default": "6"
                  },
                  {
                      "type": "select",
                      "id": "slider_content_col_md",
                      "label": "Select Content Column (MD)",
                      "options": [
                          {
                            "label": "1 (1/12)",
                            "value": "1"
                          },
                          {
                            "label": "2 (2/12)",
                            "value": "2"
                          },
                          {
                            "label": "3 (3/12)",
                            "value": "3"
                          },
                          {
                            "label": "4 (4/12)",
                            "value": "4"
                          },
                          {
                            "label": "5 (5/12)",
                            "value": "5"
                          },
                          {
                            "label": "6 (6/12)",
                            "value": "6"
                          },
                          {
                            "label": "7 (7/12)",
                            "value": "7"
                          },
                          {
                            "label": "8 (8/12)",
                            "value": "8"
                          },
                          {
                            "label": "9 (9/12)",
                            "value": "9"
                          },
                          {
                            "label": "10 (10/12)",
                            "value": "10"
                          },
                          {
                            "label": "11 (11/12)",
                            "value": "11"
                          },
                          {
                            "label": "12 (12/12)",
                            "value": "12"
                          }
                      ],
                      "default": "7"
                  },
                  {
                    "type": "checkbox",
                    "id": "slider_img_enable",
                    "label": "Slider Front Image Enable",
                    "default": true
                  },
  
                  {
                      "type": "select",
                      "id": "slider_img_col",
                      "label": "Select Image Column (Main Screen)",
                      "options": [
                          {
                            "label": "1 (1/12)",
                            "value": "1"
                          },
                          {
                            "label": "2 (2/12)",
                            "value": "2"
                          },
                          {
                            "label": "3 (3/12)",
                            "value": "3"
                          },
                          {
                            "label": "4 (4/12)",
                            "value": "4"
                          },
                          {
                            "label": "5 (5/12)",
                            "value": "5"
                          },
                          {
                            "label": "6 (6/12)",
                            "value": "6"
                          },
                          {
                            "label": "7 (7/12)",
                            "value": "7"
                          },
                          {
                            "label": "8 (8/12)",
                            "value": "8"
                          },
                          {
                            "label": "9 (9/12)",
                            "value": "9"
                          },
                          {
                            "label": "10 (10/12)",
                            "value": "10"
                          },
                          {
                            "label": "11 (11/12)",
                            "value": "11"
                          },
                          {
                            "label": "12 (12/12)",
                            "value": "12"
                          }
                      ],
                      "default": "6"
                  },
                  {
                      "type": "select",
                      "id": "slider_img_col_md",
                      "label": "Select Image Column MD",
                      "options": [
                          {
                            "label": "1 (1/12)",
                            "value": "1"
                          },
                          {
                            "label": "2 (2/12)",
                            "value": "2"
                          },
                          {
                            "label": "3 (3/12)",
                            "value": "3"
                          },
                          {
                            "label": "4 (4/12)",
                            "value": "4"
                          },
                          {
                            "label": "5 (5/12)",
                            "value": "5"
                          },
                          {
                            "label": "6 (6/12)",
                            "value": "6"
                          },
                          {
                            "label": "7 (7/12)",
                            "value": "7"
                          },
                          {
                            "label": "8 (8/12)",
                            "value": "8"
                          },
                          {
                            "label": "9 (9/12)",
                            "value": "9"
                          },
                          {
                            "label": "10 (10/12)",
                            "value": "10"
                          },
                          {
                            "label": "11 (11/12)",
                            "value": "11"
                          },
                          {
                            "label": "12 (12/12)",
                            "value": "12"
                          }
                      ],
                      "default": "5"
                  },
                  {
                      "type": "image_picker",
                      "id": "slider_img",
                      "label": "Slider Front Image"
                  },
                  {
                      "type": "image_picker",
                      "id": "slider_bg_img",
                      "label": "Slider Bg Image",
                      "info": "Image Size: 1920x650"
                  },
  
                  {
                    "type": "checkbox",
                    "id": "slider_content_custom_style",
                    "label": "Content Custom Style Enable",
                    "default": false
                  },
                  {
                    "type": "color",
                    "id": "sec_bg_color",
                    "label": "Slide BG Color",
                    "default": "#effafa"
                  },

                  {
                    "type": "header",
                    "content": "Heading Top"
                  },
                  {
                      "type": "text",
                      "id": "title_top",
                      "label": "Heading Top",
                      "default": "Upto 30% Off"
                  },
                  {
                    "type": "color",
                    "id": "header_top_color",
                    "label": "Top Title Color",
                    "default": "#1f2226"
                  },
                  {
                    "type": "font_picker",
                    "id": "header_font_top",
                    "label": "Font Family: Top Title",
                    "default": "poppins_n6"
                  },
                  {
                    "type": "text",
                    "id": "header_font_top_size",
                    "label": "Font Size: Top Title",
                    "default": "30",
                    "info": "Don't add 'px' unit. Just put number."
                  },
                  {
                    "type":      "range",
                    "id":        "header_font_top_line_height",
                    "min":       20,
                    "max":        150,
                    "step":       5,
                    "unit":       "px",
                    "label":     "Heading Top Line Height",
                    "default":   30
                  },
                  {
                    "type":      "range",
                    "id":        "header_font_top_margin_bottom",
                    "min":       0,
                    "max":        50,
                    "step":       1,
                    "unit":       "px",
                    "label":     "Top Heading margin Bottom",
                    "default":   10
                  },
                  {
                    "type": "header",
                    "content": "Heading"
                  },
                  {
                      "type": "text",
                      "id": "title1",
                      "label": "Title",
                      "default": "Wooden Craft"
                  },
                  {
                    "type": "color",
                    "id": "title1_color",
                    "label": "Title Color",
                    "default": "#1f2226"
                  },
                  {
                    "type": "font_picker",
                    "id": "header_font_slider",
                    "label": "Font Family: Title",
                    "default": "poppins_n6"
                  },
                  {
                    "type": "text",
                    "id": "title1_font_size",
                    "label": "Font Size: Title",
                    "default": "80",
                    "info": "Don't add 'px' unit. Just put number."
                  },
                  {
                    "type":      "range",
                    "id":        "heading_line_height",
                    "min":       20,
                    "max":        150,
                    "step":       5,
                    "unit":       "px",
                    "label":     "Heading Line Height",
                    "default":   70
                  },
                  {
                    "type":      "range",
                    "id":        "title_margin_bottom",
                    "min":       0,
                    "max":        50,
                    "step":       1,
                    "unit":       "px",
                    "label":     "Heading Middile margin Bottom",
                    "default":   10
                  },
                  {
                    "type": "checkbox",
                    "id": "heading_bottom_border_line",
                    "label": "Heading Bottom Border Enable",
                    "default": false
                  },
                  {
                    "type": "color",
                    "id": "heading_border_bottom_color",
                    "label": "Heading Bottom Border Color",
                    "default": "#333"
                  },
                  {
                    "type":      "range",
                    "id":        "border_top_spacing",
                    "min":       0,
                    "max":        50,
                    "step":       1,
                    "unit":       "px",
                    "label":     "Border Top Spacing",
                    "default":   20
                  },



                  {
                    "type": "header",
                    "content": "Description"
                  },
  
                  {
                      "type": "textarea",
                      "id": "description",
                      "label": "Description",
                      "default": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. It is a long established fact that a reader."
                  },
                  {
                    "type": "color",
                    "id": "description_color",
                    "label": "Description Color",
                    "default": "#333"
                  },
                  {
                    "type": "font_picker",
                    "id": "paragraph_font_slider",
                    "label": "Font Family: Description",
                    "default": "poppins_n4"
                  },
                  {
                    "type": "text",
                    "id": "description_font_size",
                    "label": "Font Size: Description",
                    "default": "16",
                    "info": "Don't add 'px' unit. Just put number."
                  },
                  {
                    "type":      "range",
                    "id":        "des_line_height",
                    "min":       10,
                    "max":        50,
                    "step":       1,
                    "unit":       "px",
                    "label":     "Description Line Height",
                    "default":   27
                  },
                  {
                    "type":      "range",
                    "id":        "des_margin_bottom",
                    "min":       0,
                    "max":        80,
                    "step":       1,
                    "unit":       "px",
                    "label":     "Description margin Bottom",
                    "default":   20
                  },
                  {
                    "type": "header",
                    "content": "Button"
                  },
                  {
                      "type": "text",
                      "id": "btn",
                      "label": "Button",
                      "default": "SHOP NOW"
                  },
                  {
                    "type": "checkbox",
                    "id": "show_icon",
                    "label": "Show icon on button",
                    "default": true
                  },
                  {
                      "type": "url",
                      "id": "btn_url",
                      "label": "Button URL",
                      "default": "\/collections\/all"
                  },
                  {
                    "type": "font_picker",
                    "id": "button_font_slider",
                    "label": "Font Family: Button Font",
                    "default": "poppins_n4"
                  },

                  {
                    "type":      "range",
                    "id":        "button_margin_top",
                    "min":       0,
                    "max":        80,
                    "step":       1,
                    "unit":       "px",
                    "label":     "Button margin Top",
                    "default":   35
                  },
                  {
                    "type": "range",
                    "id": "btn_border_radius",
                    "label": "Border Radius",
                    "max": 50,
                    "min": 0,
                    "step": 5,
                    "default": 0,
                    "unit": "px"
                  },
                  {
                    "type": "range",
                    "id": "button_padding_tb",
                    "min": 0,
                    "max": 50,
                    "step": 1,
                    "label": "Button Padding Top Bottom",
                    "unit": "px",
                    "default": 15
                  },
                  {
                    "type": "range",
                    "id": "button_padding_lr",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "label": "Button Padding Left Right",
                    "unit": "px",
                    "default": 30
                  },
                  {
                    "type": "text",
                    "id": "btn_font_size",
                    "label": "Font Size",
                    "default": "13",
                    "info": "Don't add 'px' unit. Just put number."
                  }, 
                  {
                    "type": "color",
                    "id": "btn_color",
                    "label": "Text Color",
                    "default": "#1f2226"
                  },
                  {
                    "type": "color",
                    "id": "btn_bg_color",
                    "label": "BG Color",
                    "default": "transparent"
                  },
                  {
                    "type": "color",
                    "id": "btn_border_color",
                    "label": "Border Color",
                    "default": "#000"
                  },
                  {
                    "type": "color",
                    "id": "btn_hover_color",
                    "label": "Hover Text Color",
                    "default": "#fff"
                  },
                  {
                    "type": "color",
                    "id": "btn_hover_bg_color",
                    "label": "Hover BG Color",
                    "default": "#ff3535"
                  },
                  {
                    "type": "color",
                    "id": "btn_hover_border_color",
                    "label": "Hover Border Color",
                    "default": "#ff3535"
                  }
              ]			
          }
      ],
      "presets":[
          {
              "name": "Slider",
              "category": "1. Slider",
              "blocks":[
                  {"type": "slide"},
                  {"type": "slide"}
              ]
          }
      ]
    }
  {% endschema %}
  
  {% stylesheet %}
  {% endstylesheet %}
  
  {% javascript %}
  {% endjavascript %}
  