.d-flex {
  display: flex;
}

.reverse {
  flex-direction: row-reverse;
}

@media (min-width: 769px) {
  .hide--desktop {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .hide--mobile {
    display: none !important;
  }
}

.product_gallery_wrapper {
  max-width: 58% !important;
  min-width: 58% !important;
}

.product_info_wrapper {
  max-width: 42% !important;
  min-width: 42% !important;
  padding-left: 60px;
}

@media (max-width: 768px) {
  
  .product_gallery_wrapper {
    max-width: 100% !important;
    min-width: 100% !important;
  }

  .product_info_wrapper {
    max-width: 100% !important;
    min-width: 100% !important;
    padding-left: 15px;
    padding-right: 15px;
  }

}


.product-details-img .product-dec-slider {
  padding-left: 70px;
  padding-right: 70px;
}

.meta_desc {
  margin-top: 30px;
  padding-left: 50px;
}

.meta_desc_title {
  font-size: 24px;
  font-weight: bold;
  text-align: center
}

.meta_desc_content {
  margin-top: 10px;
}

.meta_desc_content p {
 margin-bottom: 0px; 
}

.featured-video video {
  width: 100%;
}

.featured-image-text .title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 45px;
  text-align: center;
}

@media (max-width: 768px) {
  .featured-image-text .title {
    margin-bottom: 30px;
  }
}

.featured-image-text .image_text_block {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width: 768px) {
  .featured-image-text .image_text_block .block_wrapper {
    flex-direction: column;
  }
}

.featured-image-text .image_column {
  min-width: 50%;
  max-width: 50%;
}

.featured-image-text .image_column .column_desc {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.featured-image-text .image_wrapper {
  margin-left: auto;
  margin-right: auto;
}

.featured-image-text .info_column {
  flex: 1;
  flex-direction: column;
  padding-left: 45px;
}

.featured-image-text .info_column.align-top {
  justify-content: flex-start;
}

.featured-image-text .info_column.align-middle {
  justify-content: center;
}

.featured-image-text .info_column.align-bottom {
  justify-content: flex-end;
}

.featured-image-text .reverse .info_column {
  padding-left: 0px;
  padding-right: 45px;
}

@media (max-width: 768px) {
  .featured-image-text .image_column {
    max-width: 100%;
    min-width: 100%;
  }
  .featured-image-text .image_wrapper, .featured-image-text .column_desc {
    width: 100% !important;
  }
  .featured-image-text .info_column {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .featured-image-text .info_column .column_desc {
    margin-top: 15px;
  }

  .featured-image-text .info_column .column_title {
    margin-top: 30px;
    margin-bottom: 15px;
  }
}

.featured-image-text .column_desc p {
  font-size: 16px;
  line-height: 1.8;
  min-height: 5px;
  margin-bottom: 5px;
}

.featured-image-text .column_desc p:last-child {
  margin-bottom: 0px;
}