header ul ul, header ul ol, header ol ol, header ol ul {
  margin: 0;
}
.cart-empty-title {
  display: none;
}
.cart-wrap .shopping-cart-content .shopping-cart-top h4, .cart-wrap .shopping-cart-content .shopping-cart-bottom .shopping-cart-total h4,
.header-right-wrap .setting-wrap .setting-content ul li h4, .cart-wrap .shopping-cart-content .shopping-cart-bottom .shopping-cart-total h4 span,
.shop-list-wrap .shop-list-content h3, .single-sidebar-blog .sidebar-blog-content h4, .single-banner .banner-content h2, .single-banner .banner-content-3 h2,
.product-tab-list a h4 {
  font-weight: 400;
}
.cart-wrap .shopping-cart-content ul li {
  flex-wrap: unset;
}
.footer-widget .subscribe-form-input {
  margin: 0;
}
.footer-widget .subscribe-style .subscribe-form .mc-form {
  max-width: 300px;
}
.shop-top-bar .select-shoing-wrap .shop-select select,
.show_product_count select {
  background: rgba(0, 0, 0, 0) url({{ 'select.png' | asset_url }}) no-repeat scroll {% if settings.rtl_enable %}left{% else %}right{% endif %} 0px center;
  padding-top: 0;
  padding-bottom: 0;
}
.show_product_count {
	display: flex;
}
.show_product_count .select-title {
	width: 50px;
}
.show_product_count select {
	width: 50px;
	padding: 0 10px;
}
.shop-select label[for] {
  min-width: 60px;
  margin-bottom: 0;
}
input:focus, textarea:focus, select:focus {
  border: none;
}
.sidebar-widget .sidebar-widget-list.category-sub-menu ul li a {
  margin-left: 0;
}
.spr-badge-caption-none .spr-badge-caption {
  display: none;
}
.ht-products .ht-product .ht-product-inner .ht-product-content .ht-product-content-inner .ht-product-ratting-wrap .ht-product-ratting i, 
i.spr-icon.spr-icon-star-half-alt {
	color: #fdb819;
	opacity: 1;
}
.ht-products .ht-product .ht-product-inner .ht-product-content .ht-product-content-inner .ht-product-price span.old span,
.shop-list-wrap .shop-list-content .ht-product-list-price span.old span {
  font-weight: 400;
}
.shop-list-wrap .ht-product-label {
  position: absolute;
  text-transform: uppercase;
  font-weight: 700;
  top: 18px;
  right: 10px;
  z-index: 3;
}
.shop-list-wrap .ht-product-label.ht-product-label-left {
  left: 10px;
  right: auto;
}
.ht-products .ht-product .ht-product-inner .ht-product-image-wrap .ht-product-label, .shop-list-wrap .ht-product-label {
  background-color: {{ settings.badge_bg_color }};
  padding: 3px 8px;
  color: {{ settings.badge_color }};
  min-width: 50px;
  text-align: center;
  font-size: {{ settings.badge_fsize }}px;
  border-radius:{{ settings.badge_bradius }}px;
}
.ht-products .ht-product .ht-product-inner .ht-product-image-wrap .ht-product-label.ht-product-label-left.new-title,
.shop-list-wrap .ht-product-label.ht-product-label-left.new-title {
	background: {{ settings.new_badge_bg_color }};
}
.ht-products .ht-product .ht-product-inner .ht-product-image-wrap .ht-product-label.p_badge_p2, .shop-list-wrap .ht-product-label.p_badge_p2,
.product-details-img .zoompro-span > span.percent-count.ht-product-label.ht-product-label-right.p_badge_p2 {
  top: 46px;
}

.ht-products .ht-product.ht-product-category-right-bottom .ht-product-inner .ht-product-content .ht-product-content-inner .ht-product-categories,
.ht-products .ht-product.ht-product-ratting-top-right .ht-product-inner .ht-product-content .ht-product-content-inner .ht-product-ratting-wrap {
  position: relative;
}
.ht-products .ht-product .ht-product-inner .ht-product-content .ht-product-content-inner .ht-product-ratting-wrap .ht-product-ratting i {
  padding-right: 3px;
}
.spr-icon {
  opacity: 1 !important;
}
.shop-list-wrap .ht-product-countdown-wrap {
	display: block;
	position: absolute;
	width: auto;
	bottom: 5px;
	left: 5px;
	right: 5px;
}
.shop-list-wrap .ht-product-countdown {
	max-width: 100%;
	padding: 8px;
	display: flex;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.75);
}
.shop-list-wrap .cd-single {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 25%;
  -ms-flex: 1 0 25%;
  flex: 1 0 25%;
  max-width: 25%;
  padding: 2px;
}
.shop-list-wrap .cd-single .cd-single-inner {
  background-color: transparent;
  padding: 0;
  text-align: center;
}
.shop-list-wrap .cd-single .cd-single-inner h3 {
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 2px;
  color: #ffffff;
}
.shop-list-wrap .cd-single .cd-single-inner p {
  font-size: 12px;
  color: #ffffff;
  margin: 0;
}
.search_page .page-search-bar {
  max-width: 460px;
  margin: 0 auto;
}
.search_page .page-search-bar input {
  padding-right: 110px;
  border: 1px solid #ccc;
  background: transparent;
}
.search_page .page-search-bar input:focus {
  border: 1px solid #ccc;
}
.ht-products .ht-product .ht-product-inner .ht-product-content .ht-product-content-inner .ht-product-price > span:last-child {
  margin-left: 8px;
}
.ht-products .ht-product .ht-product-inner .ht-product-content .ht-product-content-inner .ht-product-price > span:first-child {
  margin-left: 0;
  margin-right: 0;
}
.disable_dot .slick-dots {
  display: none !important;
}
.mb__15 {
  margin-bottom: 15px !important;
}
.discount-code textarea {
  border: 1px solid #ccc;
  background: #fff;
}
.cart-main-area span.qtybtn {
  display: none !important;
}
.ht-products .ht-product .ht-product-inner .ht-product-content .ht-product-content-inner .ht-product-categories.grid10_cat {
  margin-bottom: 0;
}
.sidebar-widget {
  margin-bottom: 50px;
}
ul.archive-sidebar > li {
  margin-top: 5px;
  line-height: 1.8;
  position: relative;
  padding-left: 17px;
}
ul.archive-sidebar > li:before {
  content: ">";
  position: absolute;
  left: 0;
  top: 0;
}
.sidebar-widget dt {
  margin-top: 10px;
}
.sidebar-widget .sidebar-widget-list.bs_menu ul li a {
  margin-left: 0;
}
.shop-list-wrap.shop-list-mrg .shop-list-content {
  margin-left: 0;
}
.shop-list-wrap.shop-list-mrg .shop-list-paragraph {
  padding: 0px 30px 0 0;
}
.blog-area blockquote {
  font-size: 18px;
  margin: 25px 0 26px 50px;
  line-height: 34px;
  font-weight: 600;
  font-style: italic;
  color: #383838;
  position: relative;
  padding: 0;
  border-left: none;
}
.blog-area blockquote::before {
	position: absolute;
	left: -20px;
	height: 100%;
	width: 5px;
	content: "";
}
.single-slider .slider-content .slider-btn a {
  padding: 18px 30px;
}
.slider_style_1 .single-slider .slider-single-img img {
	width: auto;
	max-width: 100%;
	margin: auto;
}
.remove_href {
  cursor: text;
}
#quickViewModal .select-option-part select:focus {
  border: 1px solid #dddddd;
}
.product-tab-list a h4 {
  padding: 14px 20px;
}
.ajax-popup .modal-button > a {
  color: #fff;
}
.single-feature {
	justify-content: center;
}
.single-feature .feature-icon img, .single-banner a img {
  width: unset;
  max-width: 100%;
}
.single-feature .feature-icon i {
	font-size: 60px;
}
.product-single__thumbnail img {
  border: 1px solid transparent;
}
.product-single__thumbnail.active img {
  border: 1px solid #ddd;
}
.product-details-content .pro-details-rating-wrap .pro-details-rating:before {
  display: none;
}
.product-details-content .product-details-price span.old span {
  color: #4a4a4a;
  font-size: 18px;
  font-weight: 400;
}
#variant-inventory, .variant-sku, .social-links {
  margin-left: 7px;
}
.Color .swatch-element input + label {
  border-radius: 100%;
}
.Size .swatch-element input + label {
  background-color: #f1f2f6;
  color: #000;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 6px 9px;
  text-transform: uppercase;
}
.Size .swatch-element input:checked + label {
	background-color: #96bf48;
	color: #fff;
}
.swatch-element > label {
  margin-bottom: 0;
}
.swatch {
  margin-top: 25px;
}
.product-description {
  margin-bottom: 30px;
}
.product-details-content .pro-details-quality .pro-details-cart .sp_cart_btn {
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  background-color: #1f2226;
  display: inline-block;
  line-height: 1;
  padding: 23px 38px 23px;
  z-index: 99;
}
.dynamic_btn button+button {
  display: none;
}
.single-prod-countdown .cd-single {
  display: inline-block;
  padding: 0px 30px 20px 0px;
}
.single-prod-countdown .cd-single-inner h3 {
  color: #1f2226;
  font-weight: 400;
  margin: 0;
}
.product-details-content .pro-details-meta {
  margin: 0;
  padding-top: 10px;
}
.product-details-content .pro-details-rating-wrap {
  margin: 0 0 10px;
}
.product-details-content .product-details-price {
  margin: 15px 0;
}
.product-details-content .pro-details-meta.share-icons ul li a span {
  font-size: 20px;
  margin: 0;
}
.product-details-img .zoompro-span > span {
  padding: 5px 11px;
}
.swatch-element.color input:checked + label {
  border: 1px solid tomato;
  border-radius: 50%;
  position: relative;
}
.swatch-element.color input:checked + label::before {
	content: "";
	position: absolute;
	height: 20px;
	width: 20px;
	background: url(checked.png);
	top: calc(50% - 10px);
	left: calc(50% - 10px);
}
.product-variant-option .selector-wrapper select {
  border: 1px solid #ddd;
  background: rgba(0, 0, 0, 0) url(//cdn.shopify.com/s/files/1/0068/9402/6825/t/3/assets/arrow_down.png?71) no-repeat scroll {% if settings.rtl_enable %}left{% else %}right{% endif %} 12px center;
}
.product-description-wrapper ul, .create-custom-page ul, .product-description ul, .shop-list-content ul, .blog-details-content ul, .tab-content ul {
  list-style: inside;
}
#review input, #review textarea {
  background: transparent;
  border: 1px solid #ddd;
}
#review input.spr-button.spr-button-primary {
  background: #1f2226;
  border: none;
  border-radius: 0;
}

.product-details-content .pro-details-rating-wrap .pro-details-rating i, 
.spr-summary i.spr-icon.spr-icon-star, .spr-review-header i, 
#review .spr-icon.spr-icon-star.spr-icon-star-empty.spr-icon-star-hover, 
#review .spr-form-review-rating a, 
.spr-form-review-rating a:hover {
	color: #fdb819;
}

.dynamic_btn.text-center {
  margin-left: auto;
  margin-right: auto;
}
.product-details-content .pro-details-quality .pro-details-aff-cart {
  margin-left: 0;
}
.rotate-inifinite {
  position: absolute;
  top: 50%;
  left: 50%;  
  margin:-10px 0 0 -10px;
  line-height: 1;
  -webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.ht-product-action-btn {
  line-height: 1;
}
.ht-products .ht-product .ht-product-inner .ht-product-content .ht-product-content-inner .ht-product-categories.text-center.justify-content-center::before {
  left: 34%;
}
.ht-products .ht-product .ht-product-inner .ht-product-content .ht-product-content-inner .ht-product-categories.text-right.justify-content-end::before {
  left: 67%;
}
.ht-products .ht-product .ht-product-inner .ht-product-content .ht-product-content-inner .ht-product-price span.new {
  margin-right: 0;
}
.single-slider .slider-content p {
  width: 100%;
}
.shop-list-wrap.shop-list-mrg3 .shop-list-content .shop-list-ratting-action-wrap {
  align-items: center;
}
.contact-from input:focus, .contact-from textarea:focus, .contact-from select:focus {
  border: 1px solid #e5e5e5;;
}
.product-price.product-info__price.price-part.product-details-price span + span > span {
  color: #4a4a4a;
  font-size: 18px;
  text-decoration: line-through;
  margin-left: 20px;
  font-weight: 400;
}

.swatch .header {
  min-width: 70px;
}
.product-details-img .slick-slide img {
  width: unset !important;
  max-width: 100%;
}
.swatch-element.soldout label.label_bg_img::before, .swatch-element.soldout label.label_bg_img::after {
  left: 45%;
  top: 10%;
}
.banner-bg-content h2 {
  font-weight: 400;
}
.mobile-off-canvas-active .header-mobile-aside-wrap .mobile-curr-lang-wrap .single-mobile-curr-lang a i {
  cursor: pointer;
}
.theme_pagination .disabled a, .theme_pagination li a.active {
  cursor: not-allowed;
}
.pad_tb {
  padding-top: 15px;
  padding-bottom: 15px;
}
#quickViewModal span.main span {
  margin-left: 0;
  text-decoration: none;
  font-size: 24px;
  color: {{ settings.color_primary }};
  font-weight: 700;
}
#quickViewModal span.price-box__new {
  margin-right: 20px;
}
#quickViewModal .main.price-box__old.amount span {
  color: #4a4a4a;
  font-size: 18px;
  font-weight: 400;
}
#quickViewModal .modal-body {
	padding: 20px;
}

.notification-entry {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.top_bar_social a {
	font-size: 16px;
	margin-left: 10px;
}
#moda-compare .overlay {
	position: absolute;
	background: rgba(0,0,0,.7);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	transition: .3s;
}
.copyright a {
	color: #fff;
	text-decoration: underline;
}
.copyright a:hover {
	color: #96bf48;
}
.footer_logo {
	display: block;
}



.social_widget a {
	display: block;
	font-size: 16px;
	color: #5e5e5e;
	margin-bottom: 20px;
	text-transform: capitalize;
}
.social_widget a:hover {
	color: #96bf48;
}
.social_widget a i {
	margin-right: 20px;
}


.product-tab-list.position_left {
  justify-content: left;
}
.product-tab-list.position_left a:first-child {
  margin-left: 0;
}
.product-tab-list.position_right {
  justify-content: right;
}
.product-tab-list.position_right a:last-child {
  margin-right: 0;
}
.clickable-menu.clickable-mainmenu-active i {
	transition: .3s;
}

/*diversity-banner */

.diversity-banner .single-banner .banner-common {
	padding: 10px;
	left: 0;
	top: 0;
	transform: translate(0);
}
.diversity-banner .single-banner .banner-content a,
.banner-bg-content a.ban_btn1{
	text-transform: unset;
	border: none;
}

.single-banner .banner-common .ban_btn1.banner_style_2,
.banner-bg-content a.ban_btn1.banner_style_2 {
	border: 1px solid #96bf48;
	padding: 12px 20px;
	border-radius: 30px;
  	color:#96bf48;
}
.single-banner .banner-common .ban_btn1.banner_style_2:hover,
.banner-bg-content a.ban_btn1.banner_style_2:hover {
  border: 1px solid #96bf48;
  background: #96bf48;
  color:#fff
}
.diversity-banner .single-banner .banner-content a:hover{
  border:none;
}

.section-title.text-left p {
	margin: unset;
}
.section-title.text-right p {
	margin: unset;
	float: right;
}
.section-title {
	overflow: hidden;
}

.slider-area .dot-style-1.dot_bottom .owl-dots {
	top: auto;
	bottom: 20px;
	transform: translatex(-50%);
	left: 50%;
	right: auto;
}
.slider-area .dot-style-1.dot_bottom .owl-dots .owl-dot {
	display: inline-block;
	margin: 0 8px;
	border-radius: 10px;
}
.slider-area .nav-style-2.nav_2_left .owl-nav {
	left: 50px;
	right: auto;
}
.slider-area .dot-style-1.dot_right .owl-dots {
	right: 20px;
	left: auto;
}
.wrapper {
	position: relative;
}
.header-area.transparent_enable {
	position: absolute;
	z-index: 9;
	width: 100%;
	background: transparent;
}
.container-fluid .cart-wrap .shopping-cart-content.show {
	right: 0;
}



.countdown_promotion_banner .row.pos-center {
	justify-content: center;
}
.text-center .count_down_wrapper .countdown-area {
	justify-content: center;
}
.text-right .count_down_wrapper .countdown-area {
	justify-content: right;
}
.pro-pagination-style ul li a.active:hover {
	color: #fff;
}

.sidebar-widget .sidebar-widget-tag ul li a.active {
	background: #96bf48;
	color: #fff;
}
.shop-tab.nav.left_pos {
	order: -1;
}
.shop-tab.nav.left_pos .change-view:first-child {
	padding-left: 0;
}


/*newsletter area*/
.newsletter-form .subscribe-form {
	position: relative;
	border: 1px solid #e5e5e5;
	background: #f8f8f8;
	margin: 0 auto;
	border-radius: 30px;
}
.newsletter-form .subscribe-form input {
	width: 100%;
	border: 0;
	background: none;
	padding: 0 150px 0 32px;
	height: 52px;
	font-size: 14px;
	color: #222;
	border-radius: 30px;
}
.newsletter-form .subscribe-form button {
	font-size: 13px;
	text-transform: capitalize;
	font-weight: 500;
	height: 100%;
	border: 0;
	position: absolute;
	top: 0;
	right: 0;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	padding: 0 35px;
	background: #F53737;
	color: #fff;
	border-radius: 30px;
}
.newsletter-form .subscribe-form button:hover {
	background: #454545;
}
.newsletter-wrapper .section-title p {
	width: 80%;
}

/*Instagram area*/
.footer_inst_area {
	margin: -5px;
}
.footer_inst_area .single-instagram-item {
	overflow: hidden;
	width: 33.33%;
	padding: 5px;
}
.column_2 .footer_inst_area .single-instagram-item {
	width: 50%;
}
.column_4 .footer_inst_area .single-instagram-item {
	width: 25%;
}
.theme_footer_top .footer-widget .single-instagram-item img {
	margin-bottom: 0;
}


.footer-bottom .footer-social a i {
	padding-right: 5px;
}


/*testimonial area*/
.border_enable .single-testimonial {
	padding: 30px 0;
	border: 1px solid #e5e5e5;
	border-radius: 30px;
	transition: .3s;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-right: 1px;
}
.border_enable .single-testimonial:hover {
	box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.12);
}
.testimonial-area .dot-style-1.dot_right .owl-dots {
	right: -50px;
	left: auto;
}
.testimonial-area .dot-style-1.dot_left .owl-dots {
	left: -50px;
}
.testimonial-area .dot-style-1.dot_bottom .owl-dots {
	bottom: -50px;
}
.testimonial-area .dot-style-1.dot_bottom .owl-dots {
	bottom: -40px;
	top: auto;
	display: flex;
	transform: translatex(50%) translatey(50%);
	left: 50%;
}
.testimonial-area .dot-style-1.dot_bottom .owl-dots {
	margin: 14px 10px;
}


.testimonial-area .nav-style-2 .owl-nav div {
	width: 40px;
	height: 40px;
	line-height: 43px;
	font-size: 16px;
}
.testimonial-area:hover .nav-style-1.owl-carousel .owl-nav div {
	opacity: 1;
	visibility: visible;
}
.testimonial-area:hover .nav-style-1.owl-carousel .owl-nav .owl-prev {
	left: -20px;
}
.testimonial-area:hover .nav-style-1.owl-carousel .owl-nav .owl-next {
	right: -20px;
}
.testimonial-area .nav-style-2 .owl-nav {
	right: -100px;
}
.testimonial-area .nav-style-2.nav_2_left .owl-nav {
	left: -100px;
	right: auto;
}
.testimonial-area .nav-style-1.owl-carousel .owl-nav div {
	font-size: 16px;
	width: 40px;
	height: 40px;
	line-height: 40px;
}

.testimonial-area .container-fluid .col-sm-12 .nav-style-2 .owl-nav {
	right: 0px;
}

.testimonial-area .container-fluid.section-padding-1 .col-sm-12 .nav-style-2 .owl-nav {
	right: -50px;
}


.testimonial-area .container-fluid .col-sm-12 .nav-style-2.nav_2_left .owl-nav {
	left: 0;
}

.testimonial-area .container-fluid.section-padding-1 .col-sm-12 .nav-style-2.nav_2_left .owl-nav {
	left: -50px;
}

.featured-product .section-title {
	overflow: hidden;
	margin-bottom: 35px;
}
.featured-product-content h2 {
	margin-bottom: 15px;
}
.featured-product-price span {
	font-size: 20px;
	color: #dcb14a;
}

/*Best Collections Area*/

.best_collection_area .text-center img {
	margin: auto;
}


.product-details-img .product-single__thumbnail {
	border: 1px solid #f1f1f1;
	margin: 0 2px;
}
.product-details-img .product_variant_image {
	border: 1px solid #f1f1f1;
}
.main-menu > nav > ul > li ul.submenu li {
	text-align: left;
}

.product-variant-inventory {
  margin-bottom: 10px;
}
.product-variant-inventory .variant-inventory {
  font-weight: 500;
}







.soldout-notify .styled-input {
	width: 200px;
	float: left;
	border: 1px solid #ddd;
	height: 40px;
	line-height: 40px;
	padding: 15px;
	background-color: transparent;
	border-radius: 0;
}

.notification-text i {
	font-size: 16px;
	vertical-align: middle;
	height: 30px;
	width: 30px;
	text-align: center;
	border-radius: 50%;
	margin-right: 10px;
	box-shadow: 1px 3px 5px #aaa;
	display: inline-block;
	overflow: hidden;
	line-height: 30px;
	position: relative;
	left: 2px;
}
.soldout-notify p a {
	text-decoration: underline;
}
.soldout-notify {
  margin-top: 20px;
}
.soldout-notify p {
  margin-bottom: 6px;
}
#notify-me-wrapper {
	margin-top: 15px;
}
.cart-mobile-device {
	display: none;
	visibility: hidden;
}
.cart-coupon, .culculate-shipping {
	background: #f7f7f7;
	padding: 20px;
}
.delivery-date.cart-coupon h3 {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 10px;
}
.delivery-date .date-input-picker {
	position: relative;
}
.delivery-date .date-input-picker::before {
	position: absolute;
	content: "\f073";
	font-family: "FontAwesome";
	left: 5px;
	top: -3px;
	font-size: 15px;
	color: #ccc;
}
.delivery-date .date-input-picker input {
	height: 40px;
	padding-left: 25px;
	width: 238px;
	border: 1px solid #ccc;
}
.coupon_inner .instructions {
	margin-top: 10px;
}
.coupon_inner label {
	margin-right: 5px;
}
.coupon_inner {
	margin-top: 20px;
}
.cart-coupon textarea {
	background: #fff;
	border: none;
}
.cart-coupon textarea:focus {
	border: none;
}
.cart-coupon h3 {
	margin-bottom: 15px;
}
.cart-total {
	background: #f5f5f5;
	padding: 20px;
}




.cart-mobile .pro-quantity .product-quantity {
  border: 1px solid #ddd;
  display: inline-block;
  padding: 0 30px;
  position: relative;
  width: 100px;
}

.cart-mobile .pro-quantity .product-quantity input {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  height: 38px;
  padding-left: 0;
  text-align: center;
  width: 40px;
}
.cart-mobile .pro-quantity .product-quantity span {
  color: #ddd;
  cursor: pointer;
  display: block;
  height: 38px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 29px;
}
.cart-mobile .pro-quantity .product-quantity span.inc {
  right: 0;
}
.cart-mobile .pro-quantity .product-quantity span {
  top: 6px;
}
.cart-mobile .pro-quantity .product-quantity span.dec {
	left: 0;
}

.price-and-quantity {
	display: flex;
	align-items: center;
	margin: 10px 0;
	justify-content: space-between;
}

.cart-mobile .pro-thumbnail {
	position: relative;
}
.cart-mobile a.remove-icon {
	position: absolute;
	right: -10px;
	top: -10px;
	height: 25px;
	width: 25px;
	background: #222;
	text-align: center;
	color: #fff;
	font-size: 18px;
	line-height: 25px;
	border-radius: 50%;
}
.cart-mobile .pro-thumbnail {
	border: 1px solid #eee;
}
.cart-main-area .cart-plus-minus {
	border: none;
}
.cart-table-content table tbody > tr td {
	padding: 10px;
}


.wishlist_exists .row.wishlist-grid--empty-list {
  display: none;
}
.ht-products .ht-product .ht-product-inner .ht-product-image-wrap .ht-product-action ul li a.wishlist {
	line-height: 0;
}

.testimonial-active-test .single-testimonial img {
	max-width: 100px;
	margin: auto;
}



@media (min-width: 1365px) and (max-width: 2000px){

  .ajax-popup .modal-dialog {
    max-width: 600px;
    width: 600px;
    padding: 2px;
    border: 1px solid #fff;
    margin: 10% auto;
  }
  .ajax-popup .modal-close button {
    font-size: 25px;
    color: #999;
    opacity: 1;
  }
  .ajax-popup .modal-close {
    top: 5px;
    right: 5px;
  }
  
}




/* Center Slider */
.slider-area.center_mode_slider .single-slider {
	margin: 0 100px;
}

.slider-area.center_mode_slider .single-slider  .slider-content  {
	padding-left: 100px;
	padding-right: 100px;
}

.center_mode_slider .carsoule_arrow_style .slick-arrow {
	left: 200px;
	border: none;
	font-size: 50px;
}
.center_mode_slider .carsoule_arrow_style:hover .slick-arrow {
	left: 235px;
}
.center_mode_slider .carsoule_arrow_style .product-dec-next.slick-arrow {
	right: 200px;
  	left:auto
}
.center_mode_slider .carsoule_arrow_style:hover .product-dec-next.slick-arrow {
	right: 230px;
}



@media (min-width: 992px) and (max-width: 1300px) {
  
  .slider-area.center_mode_slider .single-slider {
    margin: 0 30px;
  }
  .center_mode_slider .carsoule_arrow_style:hover .slick-arrow {
    left: 75px;
  }
  .center_mode_slider .carsoule_arrow_style:hover .product-dec-next.slick-arrow {
    right: 80px;
    left:auto
  }
  
}
@media (min-width: 768px) and (max-width: 991px) {
  
  .slider-area.center_mode_slider .single-slider {
      margin: 0 30px;
  }
    .center_mode_slider .carsoule_arrow_style:hover .slick-arrow {
    left: 75px;
  }
  .center_mode_slider .carsoule_arrow_style:hover .product-dec-next.slick-arrow {
    right: 80px;
    left:auto
  }
  
}

@media (max-width: 767px) {
  
  .slider-area.center_mode_slider .single-slider .slider-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .slider-area.center_mode_slider .single-slider {
    margin: 0 20px;
  }
  .center_mode_slider .carsoule_arrow_style:hover .slick-arrow {
    left: 20px;
  }
  .center_mode_slider .carsoule_arrow_style:hover .product-dec-next.slick-arrow {
    right: 20px;
    left:auto
  }
  .center_mode_slider .carsoule_arrow_style .slick-arrow {
      font-size: 30px;
  }
  
}



/* Product Small and large mobile :320px. */
@media (max-width: 767px) {

  .row.custom_mobile_class {
    margin-left: -10px;
    margin-right: -10px;
  }
  .custom_mobile_class .col-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .ht-products.custom_mobile_class .ht-product .ht-product-inner .ht-product-image-wrap .ht-product-label {
    min-width: 40px;
    font-size: 10px;
  }

  .ht-products.custom_mobile_class .ht-product .ht-product-inner .ht-product-image-wrap .ht-product-label.p_badge_p2 {
    top: 30px;
  }

  .ht-products.custom_mobile_class .ht-product.ht-product-action-style-2.ht-product-action-on-hover.ht-product-action-middle .ht-product-inner:hover .ht-product-image-wrap .ht-product-action ul {
    height: 40px;
  }
  .ht-products.custom_mobile_class .ht-product.ht-product-action-middle .ht-product-inner .ht-product-image-wrap .ht-product-action ul li {
    padding: 5px;
  }

  .ht-products.custom_mobile_class .ht-product .ht-product-inner .ht-product-image-wrap .ht-product-action ul li .ht-product-action-btn, 
  .ht-products.custom_mobile_class .ht-product .ht-product-inner .ht-product-image-wrap .ht-product-action ul li a, 
  .ht-products.custom_mobile_class .ht-product .ht-product-inner .ht-product-image-wrap .ht-product-action ul li button {
    width: 20px;
    height: 20px

  }
  .ht-products.custom_mobile_class .ht-product .ht-product-inner .ht-product-image-wrap .ht-product-action ul li .ht-product-action-btn i, 
  .ht-products.custom_mobile_class .ht-product .ht-product-inner .ht-product-image-wrap .ht-product-action ul li a i, 
  .ht-products.custom_mobile_class .ht-product .ht-product-inner .ht-product-image-wrap .ht-product-action ul li button i {
    font-size: 14px;
  }
  .ht-products.custom_mobile_class .ht-product .ht-product-inner .ht-product-countdown-wrap .ht-product-countdown .cd-single .cd-single-inner {
    padding: 2px;
  }
  .ht-products.custom_mobile_class .ht-product .ht-product-inner .ht-product-countdown-wrap .ht-product-countdown .cd-single .cd-single-inner h3 {
    font-size: 12px;
    font-weight: normal
  }
  .ht-products.custom_mobile_class .ht-product .ht-product-inner .ht-product-countdown-wrap .ht-product-countdown .cd-single .cd-single-inner p {
    font-size: 10px;
    font-weight: normal;
    line-height: 12px;
  }
  .ht-products.custom_mobile_class .ht-product .ht-product-inner .ht-product-countdown-wrap .ht-product-countdown {
    padding: 2px;
  }
  .ht-products.custom_mobile_class .ht-product .ht-product-inner .ht-product-content .ht-product-content-inner .ht-product-categories a {
    font-size: 12px;
  }
  .ht-products.custom_mobile_class .ht-product .ht-product-inner .ht-product-content {
    padding: 10px;
  }  
  .ht-products.custom_mobile_class .ht-product .ht-product-inner .ht-product-content .ht-product-content-inner .ht-product-categories {
    margin-bottom: 10px;
  }
  .ht-products.custom_mobile_class .ht-product .ht-product-inner .ht-product-content .ht-product-content-inner .ht-product-price span {
    font-weight: normal;
  }
  .ht-products.custom_mobile_class .ht-product .ht-product-inner .ht-product-content .ht-product-content-inner .ht-product-price span.new {
    font-size: 16px;
  }
  .ht-products.custom_mobile_class .ht-product .ht-product-inner .ht-product-content .ht-product-content-inner .ht-product-ratting-wrap .ht-product-ratting i {
    font-size: 12px;
  }
  .ht-products.custom_mobile_class .ht-product .ht-product-inner .ht-product-content .ht-product-content-inner .ht-product-price {
    margin-bottom: 5px;
  }
  .ht-products.custom_mobile_class .ht-product .ht-product-inner .ht-product-content .ht-product-content-inner .ht-product-title {
    font-size: 14px;
  } 
  .custom_mobile_class .mb-30 {
    margin-bottom: 20px;
  }

}


.slider-with-ctg-menu .banner_position_left {
	order: -1;
}
.ht-products .ht-product .ht-product-inner .ht-product-content .ht-product-content-inner .ht-product-ratting-wrap .ht-product-ratting i {
	font-size: 14px;
}
.list_size_color .shop-list-wrap .ht-product-countdown-wrap {
	bottom: 20%;
}
.list_size_color .product-color .size_var_conatiner, 
.list_size_color .product-color .color_img_conatiner {
	margin-bottom: 0;
}

/* ------categories menu css here------ */
.categories-menu-bar {
    float: left;
}
.categories-menu-btn {
	background: #111 none repeat scroll 0 0;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	padding: 17px 10px 15px 20px;
	width: 254px;
	text-align: left;
	text-transform: capitalize;
}
.categories-menu-btn span {
    margin-left: 15px;
}
.right {
    float: right;
}
.right i {
    font-size: 10px;
    margin-right: 15px;
    vertical-align: middle;
}

.categories-menu-btn span {
	font-size: 14px;
	position: relative;
	top: -2px;
}
.categories-menu-btn,
.categorie-menus {
    display: block;
}
.categorie-menus {
    background: #fff;
    position: relative;
    top: 100%;
    -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 9;
}
.categorie-menus li {
    position: relative;
}
.categorie-menus li span.sli {
    float: right;
    font-size: 10px;
    margin-top: 8px;
    vertical-align: middle;
}
.categorie-menus li a {
    color: #111;
    display: block;
    line-height: 25px;
    padding: 10px 25px;
}
.categorie-menus li:hover > a {
	background: #f39383;
	color: #fff;
}
.more-btn::before {
    content: "+";
    font-family: "FontAwesome";
    padding-right: 10px;
}
.more-btn.minus::before {
    content: "-";
}
.product-details-content .pro-details-quality .pro-details-cart {
	margin: 0 25px 0 0;
}
.product-details-content .pro-details-quality .cart-plus-minus {
	margin-right: 10px;
}



/* categories sub menu css */
.categorie-menus li ul.cat-submenu {
	background: #fff none repeat scroll 0 0;
	-webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
	left: 100%;
	opacity: 0;
	position: absolute;
	top: 30px;
	visibility: hidden;
	width: 235px;
	padding: 15px 0;
	transition: .3s;
	z-index: 99;
	margin: 0;
}
.categorie-menus li:hover ul.cat-submenu {
    top: 0;
    opacity: 1;
    visibility: visible;
}
.cat-submenu>li a {
    color: #444;
    padding: 4px 25px;
}
.categorie-menus li ul.cat-submenu li:hover>a {
    color: #f39383;
    background: transparent;
}
.categorie-menus li ul.cat-submenu li ul.cat-submenu {
    top: 30px;
    opacity: 0;
    visibility: hidden;
}
.categorie-menus li ul.cat-submenu li:hover ul.cat-submenu {
    top: 0;
    opacity: 1;
    visibility: visible;
}
.cat-submenu.category-mega {
    width: 600px !important;
}
.cat-submenu.category-mega>li {
    width: 33.33%;
    float: left;
}
.cat-mega-title>a {
    font-weight: 600;
}
.category-mega li ul li a {
    color: #444;
    padding: 5px 25px;
}
.cat-mega-menu li ul li:hover a {
    color: #f39383;
    background: transparent;
}
.cat-submenu ul {
	margin: 0;
}
.cat-submenu > li a.cat-mega-title {
	color: #333;
	font-weight: 700;
}
/* categories style 2 */
.categories-menu-bar.cat-menu-style2 {
    position: relative;
    width: 100%;
}
.cat-menu-style2 .categories-menu-btn {
    width: 100%;
}
.cat-menu-style2 .categorie-menus {
    width: 100%;
    display: block;
}


@media (max-width: 767px) {
  
  .categorie-menus li ul.cat-submenu {
    left: 0;
  }
  .cat-submenu.category-mega {
    width: 100% !important;
  }
  .cat-submenu.category-mega > li {
    width: 50%;
  }
  .categorie-menus li:hover ul.cat-submenu {
    top: 100%;
  }
  
  
}








/*Size, Img & Color Varient Grid Products*/

.product-color .grid-color-swatch li label {
	height: 15px;
	width: 15px;
	margin: 0 5px;
	border-radius: 50px;
	position: relative;
	top: 3px;
}
.product-color .grid-color-swatch.grid-image-swatch li label {
	height: 30px;
	width: 30px;
}
.product-color .size_var_conatiner, 
.product-color .color_img_conatiner {
	background: #eee;
	padding: 5px;
	margin-bottom: 15px;
	min-height: 65px;
	display: flex;
	flex-wrap: wrap;
}
.product-color .color_size_img_wrap .size-container, 
.product-color .color_size_img_wrap .color-categories {
	display: flex;
	justify-content: center;
	width: 100%;
}
.color_size_img_wrap .size-container .size_varient {
	margin: 0 5px 5px;
}

.product-color .grid-color-swatch.grid-image-swatch li label {
	height: 25px;
	width: 25px;
	top: 4px;
	cursor: pointer;
}
.color-categories li {
	list-style: none;
}
.ht-products .ht-product .ht-product-inner .ht-product-content {
	padding: 20px 15px 20px;
}






.product_additional_information {
	margin-top: 30px;
}
.product_additional_information button {
	color: #333;
	font-weight: 300;
	text-transform: capitalize;
	margin-right: 30px;
}
.product_additional_information button i {
	margin-right: 8px;
}
.table-size-guide tbody th {
 background:#000;
 color:#fff;
 font-weight:600
}
.table-size-guide tbody td,
.table-size-guide tbody th {
 padding:8px 10px;
}
.table-size-guide tbody tr:nth-child(2n+1) {
 background:#f6f6f6;
}
#shipping_policy .modal-header,
#size_guide .modal-header {
 border:none;
 padding:15px 20px 0 20px;
}
.shopify-payment-button__more-options:hover:not([disabled]) {
 text-decoration:underline
}
.disabled .shopify-payment-button__button {
 opacity:.6;
 cursor:not-allowed;
 pointer-events:none
}
#ask_about_product .modal-header h5 {
 font-size:20px
}
.ask_about_product input,
.ask_about_product textarea {
 width:100%
}
.ask_about_product .note.form-success {
 margin-bottom:20px
}
#shipping_policy .modal-body {
 padding-top:0;
 padding-bottom:30px;
 padding-left:30px;
 padding-right:30px
}
.nesletter__form .subscription-form .form_inner {
 position:relative;
 background:#fff
}
.nesletter__form .subscription-form .form__inner {
 position:relative
}
.nesletter__form .subscription-form .form__inner button {
 background:#333;
 color:#fff;
 width:55px;
 position:absolute;
 top:0;
 right:0;
 height:100%;
 font-size:24px;
 transition:.3s;
 display:block
}
.nesletter__form .subscription-form .form__inner input {
 width:290px;
 padding-right:56px;
 height:50px;
 border:none
}
.nesletter__form .subscription-form .form__inner button:hover {
 background:#d3122a
}
.contact-popup .modal-dialog {
	max-width: 500px;
}
.contact-popup input, .contact-popup textarea {
	border: 1px solid #eee;
	background: #fff;
}
.contact-popup .button {
	font-size: 14px;
	padding: 10px 45px;
	border: 1px solid #333;
	background: #333;
	color: #fff;
}
.contact-popup .button:hover {
	color: #333;
	background: #fdb819;
	border-color: #fdb819;
}






/* Sticky add to Cart */

.atc_sticky_scoll .pro_sticky_atc {
	opacity: 1;
	visibility: visible;
}

.pro_sticky_atc {
 position:fixed;
 bottom:0;
 background:#fff;
 left:0;
 right:0;
 z-index:999;
 box-shadow:0 0 7px rgba(0,0,0,.15);
 transition:.3s;
 opacity:0;
 visibility:hidden;
 padding:10px 0
}
.atc_sticky_scoll .pro_sticky_atc {
 opacity:1;
 visibility:visible
}
.pro_sticky_atc .pro_variant__options ul {
 padding:0;
 list-style:none;
 position:absolute;
 top:auto;
 bottom:-moz-calc(100% - 1px);
 bottom:-webkit-calc(100% - 1px);
 bottom:-ms-calc(100% - 1px);
 bottom:calc(100% - 1px);
 background:#fff;
 margin-bottom:0;
 border:1px solid #ccc;
 overflow:auto;
 opacity:0;
 -webkit-transition:all .3s ease;
 -moz-transition:all .3s ease;
 -ms-transition:all .3s ease;
 -o-transition:all .3s ease;
 transition:all .3s ease;
 width:100%;
 left:0;
 visibility:hidden;
 max-height:300px
}
.pro_sticky_atc .pro_variant__options {
 position:relative;
 border:1px solid #ccc;
 padding:8px 10px
}
.pro_sticky_atc .pro_variant__options:hover ul {
 opacity:1;
 visibility:visible;
 padding:8px 15px
}
.pro_sticky_atc .pro_variant__options ul li a.sold-out {
 text-decoration:line-through;
 cursor:not-allowed;
 pointer-events:none;
 opacity:.5
}
.sticky_pro_img {
 max-width:50px;
 min-width:50px;
 margin-right:20px
}
.sticky_pro_img_inner {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -ms-flex-align:center;
 align-items:center
}
.pro__action__flex {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -ms-flex-align:center;
 align-items:center;
 -webkit-box-pack:justify;
 -ms-flex-pack:justify;
 justify-content:flex-end
}
.pro__action__flex .pro-qty {
 margin:0
}
.sticky__qty input {
 border:none;
 width:60px;
 text-align:center;
 font-size:16px;
 font-weight:500;
 color:#333;
 margin-bottom:0;
 padding:0 15px;
 vertical-align:middle
}
.quantity_inner {
 border-bottom:2px solid #ccc;
}
.sticky__qty input {
	background: #fff;
}
.quantity_inner span {
	cursor: pointer;
}
.sticky__pro_add_cart .sticky_pro__cart {
	background: #fff;
	border: 1px solid #ccc;
	padding: 10px 20px;
}
.sticky__pro_add_cart .sticky_pro__cart:hover {
	background: #333;
	border: 1px solid  #333;
	color:#fff;
}

@media only screen and (min-width:768px) and (max-width:991px) {
 .pro_sticky_atc .container {
  max-width:768px
 }
}
@media only screen and (max-width:767px) {
 .sticky_img__box .pro__title {
  display:none
 }
 .pro_sticky_atc .container {
  max-width:576px
 }
 .sticky__qty input {
  width:40px;
  padding:0
 }
 .sticky__pro_add_cart .lezada-button--small {
  padding:6px 12px
 }
}
.product_media_gallery,
.product_media_nav {
 opacity:0
}
.product_media_gallery.slick-initialized.slick-slider,
.product_media_nav.slick-initialized.slick-slider {
 opacity:1
}
.sticky__qty {
 margin-right:15px
}
@media only screen and (max-width:767px) {
 .product-carousel .slick-arrow.slick-next,
 .product-carousel:hover .slick-arrow.slick-next {
  right:0
 }
 .product-carousel .slick-arrow.slick-prev,
 .product-carousel:hover .slick-arrow.slick-prev {
  left:0
 }
}
@media only screen and (max-width:575px) {
 .atc_sticky_scoll .sticky__pro_button .product-cart-action {
  position:fixed;
  bottom:0;
  background:#fff;
  left:0;
  right:0;
  z-index:999;
  box-shadow:0 0 7px rgba(0,0,0,.15);
  transition:.3s;
  padding:10px 0;
  text-align:center
 }
}





/*recent View*/
.recent_view_product__content .recent_view_button {
	border: 1px solid #ccc;
	height: 40px;
	line-height: 38px;
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 0;
	background: #fff;
}
.recent_view_product__content .recent_view_button:hover {
	color: #fff;
	border-color: #1f2226;
	background: #1f2226;
}
.recent_view_product__content .product__title {
	font-size: 18px;
}
.recent_view_product_grid {
	border: 1px solid #eee;
}
.recent_view_product__content {
	padding: 15px;
}
.recent_view_product__content .new-price {
	color: #1f2226;
	font-size: 18px;
}
.recent_view_product__content .old-price {
	text-decoration: line-through;
  	margin-right: 5px;
}




/*single Product Feature*/
.single_feature {
	display: flex;
	margin-bottom: 40px;
	align-items: center;
}
.feature_text h4 {
	font-size: 30px;
	color: #fff;
}
.feature_icon i {
	font-size: 30px;
	color: #fff;
}
.icon_border_enable .feature_icon i {
	border: 1px solid #111;
	height: 60px;
	width: 60px;
	display: inline-block;
	text-align: center;
	line-height: 60px;
	border-radius: 80px;
	transition: .3s;
}
.single_product_feature .icon_border_enable .single_feature:hover .feature_icon i {
	color: #fff !important;
}
.feature_icon {
	margin-right: 20px;
}
.feature_icon img {
	max-width: 70px;
}
.single_product_feature .banner-bg-content h3 {
	font-size: 24px;
	margin-bottom: 20px;
}
.single_product_feature .banner-bg-content h2 {
	font-size: 50px;
	margin: 0 0 40px;
}
.single_product_feature .banner-bg-content a.ban_btn1.banner_style_2 {
	padding: 18px 35px 16px;
}
.single_product_feature .flex-row-reverse {
	-ms-flex-direction: row-reverse !important;
	flex-direction: row-reverse !important;
	justify-content: start;
}
.single_product_feature .content-right {
	justify-content: end;
}
.feature_content_align {
	text-align: right;
}

.feature_content_align .single_feature {
	flex-direction: row-reverse;
}
.feature_content_align .feature_icon {
	margin-right: 0;
	margin-left: 20px;
}
.single_product_feature .feature_content_align .banner-bg-content h2::before{
  right:0
}
.icon_top_feature .single_feature .feature_icon {
	margin: 0 0 20px;
}
.icon_top_feature .single_feature {
	display: block;
}


/*Deal Product*/
.countdown-inner::after {
	left: 12px;
	right: 12px;
	top: 12px;
}
.countdown-inner::after, .countdown-inner::before {
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	z-index: 2;
	box-shadow: 0 10px 30px 0 rgba(209,209,209,.5);
}
.countdown-inner::before {
	left: 6px;
	right: 6px;
	top: 6px;
}
.deal_count_area_wrap {
  margin-bottom: 50px;
}
.ht-product-countdown-wrap.countdown-inner {
	position: relative;
	padding-top: 15px;
}
.count-box .ht-product-countdown {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.count-box .ht-product-countdown .cd-single {
  padding: 0 10px;
}
.count-box .ht-product-countdown .cd-single .cd-single-inner {
  display: flex;
  align-items: first baseline;
}
.count-box .ht-product-countdown .cd-single .cd-single-inner h3 {
  margin: 0;
  padding-right: 5px;
  font-size: 36px;
}
.count-box .ht-product-countdown .cd-single .cd-single-inner p {
  font-size: 18px;
}

.progress-quantity .progress-bar {
	background-color: #dcb14a;
}
.progress-quantity .progress {
	height: 8px;
	background: #ccc;
}
.progress-quantity .progress-title {
	display: flex;
	justify-content: space-between;
}
.progress-quantity {
	margin-bottom: 15px;
}
.progress-quantity .progress-title p {
	margin-bottom: 5px;
}
.progress-quantity .progress-title p span {
	color: #dcb14a;
}


/*slider_with_collections*/
.group-slide-item.product_bg_enable {
	background: #eee;
	padding: 5px;
}
.slider_with_coll_style .product_bg_enable .group-item-thumb img {
	max-width: 50px;
}
.slider_with_coll_style .group-item-desc .group-product-name {
	font-size: 15px;
}
.product_bg_enable .group-item-desc {
	padding-left: 10px;
}






/*LookBook Product*/

.single-shoppable {
	position: relative;
}
.single-shoppable .cloth-tag {
	position: absolute;
	top: 0;
	max-width: 400px;
}

.single-shoppable .cloth-tag__icon {
 background-color:#fff;
 color:#333;
 font-size:15px;
 font-weight:700;
 -webkit-box-shadow:0 2px 4px 0 rgba(0,0,0,.25);
 box-shadow:0 2px 4px 0 rgba(0,0,0,.25);
 width:25px;
 height:25px;
 line-height:25px;
 display:inline-block;
 border-radius:100%;
 text-align:center;
 cursor:pointer;
 margin-left:-12.5px
}
.single-shoppable .cloth-tag__icon:hover {
 background-color:#dcb14a;
 color:#fff
}
.single-shoppable .cloth-tag__icon.active {
 background-color:#d3122a;
 color:#fff
}
.single-shoppable .cloth-tag__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 10px;
	margin-top: 20px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 14px rgba(0,0,0,.2);
	box-shadow: 0 0 14px rgba(0,0,0,.2);
	position: absolute;
	min-width: 300px;
	max-width: 500px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 5;
}
.single-shoppable .cloth-tag__content.active {
 opacity:1;
 visibility:visible
}
.single-shoppable .cloth-tag__content {
 visibility:hidden;
 opacity:0
}
.single-shoppable .cloth-tag__content.active {
 -webkit-animation:fadeIn .3s forwards;
 animation:fadeIn .3s forwards
}
.single-shoppable .cloth-tag__content__image {
	-ms-flex-preferred-size: 80px;
	flex-basis: 80px;
	max-width: 80px;
}
.single-shoppable .cloth-tag__content__content {
	-ms-flex-preferred-size: calc(100% - 100px);
	flex-basis: calc(100% - 100px);
	padding-left: 15px;
}
.single-shoppable .cloth-tag__content__content h1 {
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	margin-bottom: 5px;
}
.price_product span {
  font-size: 16px;
  color: #dcb14a;
}
.price_product .old {
  margin-left: 5px;
  font-size: 14px;
  text-decoration: line-through;
  color: #888;
}
.lookbook_close__icon {
	position: absolute;
	top: 0;
	right: 2px;
	color: #111;
	cursor: pointer;
}
.lookbook_close__icon:hover {
	color: #dcb14a;
}
.lookbook_btn {
  text-transform: capitalize;
  border: 1px solid #111;
  padding: 2px 10px;
}
.price_product {
  margin-bottom: 5px;
}
.lookbook_btn:hover {
  color: #fff;
  background: #dcb14a;
  border-color: #dcb14a;
}




/*Video Banner*/
.video_inner_content {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-100%);
  margin-top: -50px;
}
.video_inner_content h3 {
  color: #fff;
}
.video_inner_content p {
  color: #fff;
  max-width: 50%;
  margin: 0 auto;
}











.footer-widget .subscribe-style .subscribe-form .mc-form {
  max-width: 550px;
}
.subscribe-style .subscribe-form .mc-form input {
  height: 60px;
  width: 100%;
  max-width: 100%;
  border-radius: 50px;
}

.subscribe-style .subscribe-form .mc-form .sbs_btn {
  height: 60px;
  border-radius: 0 50px 50px 0;
  width: 150px;
  position: absolute;
  right: 0;
  top: 0;
  background: #111;
  transition:.3s
}
.subscribe-style .subscribe-form .mc-form .sbs_btn input {
  padding: 0;
  color: #fff;
  border: none;
}